<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Addition_of_weather_data_to_2015_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install httplib2==0.15.0

Requirement already satisfied: httplib2==0.15.0 in /usr/local/lib/python3.6/dist-packages (0.15.0)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

data=pd.read_csv("/content/drive/My Drive/Handled_data.csv")

In [0]:
data

           index  ...  WEATHER_DELAY_is_missing
0              0  ...                         1
1              1  ...                         1
2              2  ...                         1
3              3  ...                         1
4              4  ...                         1
...          ...  ...                       ...
5714003  5819074  ...                         1
5714004  5819075  ...                         1
5714005  5819076  ...                         1
5714006  5819077  ...                         1
5714007  5819078  ...                         1

[5714008 rows x 31 columns]

In [0]:
!pip install -U -q kaggle
!mkdir -p ~/.kaggle

In [0]:
from google.colab import files
files.upload()

{}

In [0]:
!cp kaggle.json ~/.kaggle/

In [0]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)    2GB  2020-04-25 00:03:33          57707
roche-data-science-coalition/uncover                           UNCOVER COVID-19 Challenge                          123MB  2020-04-08 22:04:30           5518
praveengovi/coronahack-chest-xraydataset                       CoronaHack -Chest X-Ray-Dataset                       1GB  2020-03-20 01:26:40           1501
katerpillar/meteonet                                           MeteoNet North-West France                           11GB  2020-04-16 08:35:45            122
andrewmvd/covid19-ct-scans                                     COVID-19 CT scans                                     1GB  2020-04-23 12:29:33            865
shuyangli94/interview-npr-media-dialog-transcripts             INTERVIEW: NPR Media Dialog Transcripts             293MB  2020-04-07 01:59:42            116
imdevskp/india-district-wise-shape-files                       India 2020 District Level Shape files                22MB  2020-04-10 09:03:16            310
bobbyscience/league-of-legends-diamond-ranked-games-10-min     League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02            835
divyansh22/flight-delay-prediction                             January Flight Delay Prediction                      23MB  2020-04-14 13:15:41            828
benroshan/factors-affecting-campus-placement                   Campus Recruitment                                    5KB  2020-04-11 11:09:02           1715
tunguz/covid19-genomes                                         COVID-19 Genomes                                    209KB  2020-04-21 16:50:25            236
ikiulian/global-hospital-beds-capacity-for-covid19             Global Hospital Beds Capacity (for covid-19)        284KB  2020-04-26 09:39:35            887
lalish99/covid19-mx                                            COVID-19 MX                                           1MB  2020-04-27 02:51:48            250
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-04-21 03:26:11          32137
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     842KB  2020-04-27 06:43:00         163173
fireballbyedimyrnmom/us-counties-covid-19-dataset              US counties COVID 19 dataset                        781KB  2020-04-27 12:57:29           5142
clmentbisaillon/fake-and-real-news-dataset                     Fake and real news dataset                           41MB  2020-03-26 18:51:15           2241
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-04-14 14:11:20           2063
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          16951
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        141KB  2020-04-27 03:35:27           2068

In [0]:
!kaggle datasets download -d selfishgene/historical-hourly-weather-data
!ls

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
historical-hourly-weather-data.zip: Skipping, found more recently modified local copy (use --force to force download)
adc.json			       kaggle.json
airports.csv			       pressure.csv
city_attributes.csv		       sample_data
drive				       temperature.csv
handled_dataset_with_weather_2015.csv  weather_description.csv
historical-hourly-weather-data.zip     wind_direction.csv
humidity.csv			       wind_speed.csv

In [0]:
import pandas as pd
!pip install pyunpack
from pyunpack import Archive
Archive('historical-hourly-weather-data.zip').extractall('/content')

Requirement already satisfied: pyunpack in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: easyprocess in /usr/local/lib/python3.6/dist-packages (from pyunpack) (0.2.10)

In [0]:
!ls

adc.json			       kaggle.json
airports.csv			       pressure.csv
city_attributes.csv		       sample_data
drive				       temperature.csv
handled_dataset_with_weather_2015.csv  weather_description.csv
historical-hourly-weather-data.zip     wind_direction.csv
humidity.csv			       wind_speed.csv

In [0]:
temperature=pd.read_csv("temperature.csv")
temperature

                  datetime   Vancouver    Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00         NaN         NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00  284.630000  282.080000  ...  304.4      304.4      303.5
2      2012-10-01 14:00:00  284.629041  282.083252  ...  304.4      304.4      303.5
3      2012-10-01 15:00:00  284.626998  282.091866  ...  304.4      304.4      303.5
4      2012-10-01 16:00:00  284.624955  282.100481  ...  304.4      304.4      303.5
...                    ...         ...         ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00         NaN  282.000000  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00         NaN  282.890000  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00         NaN  283.390000  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00         NaN  283.020000  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00         NaN  282.280000  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [0]:
temp_cols=temperature.columns.drop("datetime")
temp_cols

Index(['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles',
       'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver',
       'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis',
       'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta',
       'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh',
       'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston',
       'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem'],
      dtype='object')

In [0]:
import pandas as pd
humidity=pd.read_csv("humidity.csv")
humidity

                  datetime  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00       76.0      81.0  ...   51.0       51.0       50.0
2      2012-10-01 14:00:00       76.0      80.0  ...   51.0       51.0       50.0
3      2012-10-01 15:00:00       76.0      80.0  ...   51.0       51.0       50.0
4      2012-10-01 16:00:00       77.0      80.0  ...   51.0       51.0       50.0
...                    ...        ...       ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00        NaN      81.0  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN      71.0  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN      71.0  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN      71.0  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN      76.0  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [0]:
import pandas as pd
wind_speed=pd.read_csv("wind_speed.csv")
wind_speed

                  datetime  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00        0.0       0.0  ...    2.0        2.0        2.0
2      2012-10-01 14:00:00        0.0       0.0  ...    2.0        2.0        2.0
3      2012-10-01 15:00:00        0.0       0.0  ...    2.0        2.0        2.0
4      2012-10-01 16:00:00        0.0       0.0  ...    2.0        2.0        2.0
...                    ...        ...       ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00        NaN       2.0  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN       1.0  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN       1.0  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN       2.0  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN       1.0  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [0]:
import pandas as pd
cities=pd.read_csv("city_attributes.csv")
cities

                 City        Country   Latitude   Longitude
0           Vancouver         Canada  49.249660 -123.119339
1            Portland  United States  45.523449 -122.676208
2       San Francisco  United States  37.774929 -122.419418
3             Seattle  United States  47.606209 -122.332069
4         Los Angeles  United States  34.052231 -118.243683
5           San Diego  United States  32.715328 -117.157257
6           Las Vegas  United States  36.174969 -115.137222
7             Phoenix  United States  33.448380 -112.074043
8         Albuquerque  United States  35.084492 -106.651138
9              Denver  United States  39.739151 -104.984703
10        San Antonio  United States  29.424120  -98.493629
11             Dallas  United States  32.783058  -96.806671
12            Houston  United States  29.763281  -95.363274
13        Kansas City  United States  39.099731  -94.578568
14        Minneapolis  United States  44.979969  -93.263840
15        Saint Louis  United States  38.627270  -90.197891
16            Chicago  United States  41.850029  -87.650047
17          Nashville  United States  36.165890  -86.784439
18       Indianapolis  United States  39.768379  -86.158043
19            Atlanta  United States  33.749001  -84.387978
20            Detroit  United States  42.331429  -83.045753
21       Jacksonville  United States  30.332180  -81.655647
22          Charlotte  United States  35.227089  -80.843132
23              Miami  United States  25.774269  -80.193657
24         Pittsburgh  United States  40.440620  -79.995888
25            Toronto         Canada  43.700111  -79.416298
26       Philadelphia  United States  39.952339  -75.163788
27           New York  United States  40.714272  -74.005966
28           Montreal         Canada  45.508839  -73.587807
29             Boston  United States  42.358429  -71.059769
30          Beersheba         Israel  31.251810   34.791302
31  Tel Aviv District         Israel  32.083328   34.799999
32              Eilat         Israel  29.558050   34.948212
33              Haifa         Israel  32.815559   34.989170
34          Nahariyya         Israel  33.005859   35.094090
35          Jerusalem         Israel  31.769039   35.216331

In [0]:
from google.colab import files
files.upload()

{}

In [0]:
import pandas as pd
airports=pd.read_csv("/content/airports.csv")

In [0]:
airports

     iata                       name  ...   latitude   longitude
0     00M                    Thigpen  ...  31.953765  -89.234505
1     00R       Livingston Municipal  ...  30.685861  -95.017928
2     00V                Meadow Lake  ...  38.945749 -104.569893
3     01G               Perry-Warsaw  ...  42.741347  -78.052081
4     01J           Hilliard Airpark  ...  30.688012  -81.905944
...   ...                        ...  ...        ...         ...
3371  ZEF            Elkin Municipal  ...  36.280024  -80.786069
3372  ZER  Schuylkill Cty/Joe Zerbey  ...  40.706449  -76.373147
3373  ZPH      Zephyrhills Municipal  ...  28.228065  -82.155916
3374  ZUN                 Black Rock  ...  35.083227 -108.791777
3375  ZZV       Zanesville Municipal  ...  39.944458  -81.892105

[3376 rows x 7 columns]

In [0]:
data = pd.merge(left=data,right=airports, how='left', left_on='ORIGIN_AIRPORT', right_on='iata')
data

           index  YEAR  MONTH  DAY  ...  state country   latitude   longitude
0              0  2015      1    1  ...     AK     USA  61.174320 -149.996186
1              1  2015      1    1  ...     CA     USA  33.942536 -118.408074
2              2  2015      1    1  ...     CA     USA  37.619002 -122.374843
3              3  2015      1    1  ...     CA     USA  33.942536 -118.408074
4              4  2015      1    1  ...     WA     USA  47.448982 -122.309313
...          ...   ...    ...  ...  ...    ...     ...        ...         ...
5714003  5819074  2015     12   31  ...     CA     USA  33.942536 -118.408074
5714004  5819075  2015     12   31  ...     NY     USA  40.639751  -73.778926
5714005  5819076  2015     12   31  ...     NY     USA  40.639751  -73.778926
5714006  5819077  2015     12   31  ...     FL     USA  28.428889  -81.316028
5714007  5819078  2015     12   31  ...     NY     USA  40.639751  -73.778926

[5714008 rows x 38 columns]

In [0]:
data.columns

Index(['index', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE',
       'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'TAXI_OUT', 'WHEELS_OFF', 'DISTANCE', 'DIVERTED', 'AIR_TIME',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'AIR_SYSTEM_DELAY_is_missing',
       'SECURITY_DELAY_is_missing', 'AIRLINE_DELAY_is_missing',
       'LATE_AIRCRAFT_DELAY_is_missing', 'WEATHER_DELAY_is_missing', 'iata',
       'name', 'city', 'state', 'country', 'latitude', 'longitude'],
      dtype='object')

In [0]:
df=data[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE',
       'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'TAXI_OUT', 'WHEELS_OFF', 'DISTANCE', 'DIVERTED', 'AIR_TIME',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'AIR_SYSTEM_DELAY_is_missing',
       'SECURITY_DELAY_is_missing', 'AIRLINE_DELAY_is_missing',
       'LATE_AIRCRAFT_DELAY_is_missing', 'WEATHER_DELAY_is_missing',
       'city']]
df.head()

   YEAR  MONTH  ...  WEATHER_DELAY_is_missing           city
0  2015      1  ...                         1      Anchorage
1  2015      1  ...                         1    Los Angeles
2  2015      1  ...                         1  San Francisco
3  2015      1  ...                         1    Los Angeles
4  2015      1  ...                         1        Seattle

[5 rows x 31 columns]

In [0]:
df['DATE'] = pd.to_datetime(df[['YEAR','MONTH', 'DAY']])
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   YEAR  MONTH  DAY  ...  WEATHER_DELAY_is_missing           city       DATE
0  2015      1    1  ...                         1      Anchorage 2015-01-01
1  2015      1    1  ...                         1    Los Angeles 2015-01-01
2  2015      1    1  ...                         1  San Francisco 2015-01-01
3  2015      1    1  ...                         1    Los Angeles 2015-01-01
4  2015      1    1  ...                         1        Seattle 2015-01-01

[5 rows x 32 columns]

In [0]:
import numpy as np
import datetime

def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure

df['converted_DEPARTURE_TIME'] = df['DEPARTURE_TIME'].apply(format_heure)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

   YEAR  MONTH  DAY  ...           city       DATE converted_DEPARTURE_TIME
0  2015      1    1  ...      Anchorage 2015-01-01                 23:54:00
1  2015      1    1  ...    Los Angeles 2015-01-01                 00:02:00
2  2015      1    1  ...  San Francisco 2015-01-01                 00:18:00
3  2015      1    1  ...    Los Angeles 2015-01-01                 00:15:00
4  2015      1    1  ...        Seattle 2015-01-01                 00:24:00

[5 rows x 33 columns]

In [0]:
city_list=df['city'].unique()
city_list

array(['Anchorage', 'Los Angeles', 'San Francisco', 'Seattle',
       'Las Vegas', 'Denver', 'Salt Lake City', 'Portland', 'Fairbanks',
       'Minneapolis', 'Phoenix', 'San Juan', nan, 'Niagara Falls',
       'Ponce', 'Aguadilla', 'Chicago', 'Spokane', 'Honolulu', 'Ontario',
       'Orlando', 'Boston', 'Hibbing', 'Aberdeen', 'Dallas-Fort Worth',
       'Milwaukee', 'Houston', 'Nashville', 'Brownsville', 'Valparaiso',
       'Boise', 'Bemidji', 'Philadelphia', 'South Bend', 'Eugene',
       'Chantilly', 'Buffalo', 'New York', 'Corpus Christi', 'Peoria',
       'Fresno', 'Sacramento', 'Austin', 'Kansas City', 'Atlanta',
       'Jacksonville', 'Medford', 'Idaho Falls', 'Madison', 'Arlington',
       'San Antonio', 'Charleston', 'Santa Barbara', 'Indianapolis',
       'Cleveland', 'Greer', 'Windsor Locks', 'Richmond', 'Bakersfield',
       'Omaha', 'Redmond', 'Ft. Lauderdale', 'Cedar Rapids', 'Tampa',
       'Syracuse', 'Rochester', 'Tyler', 'Lansing', 'Greensboro',
       'Newark', 'West Palm Beach', 'Ft. Myers', 'Oakland', 'Providence',
       'Reno', 'Pittsburgh', 'Albuquerque', 'Miami', 'Baltimore', 'Tulsa',
       'Little Rock', 'New Orleans', 'Oklahoma City', 'Appleton',
       'Pensacola', 'Memphis', 'Knoxville', 'Manchester', 'Savannah',
       'Charlotte', 'Green Bay', 'Allentown', 'Jackson', 'Fargo', 'Erie',
       'Lexington', 'Mosinee', 'Trenton', 'Raleigh', 'Covington',
       'Birmingham', 'Atlantic City', 'Detroit', 'Rapid City', 'Tucson',
       'Eau Claire', 'Duluth', 'Sioux Falls', 'International Falls',
       'Springfield', 'Cody', 'Columbus', 'Pasco', 'Casper',
       'Arcata/Eureka', 'Dallas', 'Paducah', 'Monterey', 'Escanaba',
       'Williston', 'Palm Springs', 'Columbia', 'St Louis', 'Burlington',
       'Montrose', 'Gillette', 'Kahului', 'San Jose', 'Gunnison',
       'Norfolk', 'Minot', 'Monroe', 'Kailua/Kona', 'Mobile', 'San Diego',
       'Lawton', 'Hattiesburg-Laurel', 'Montgomery', 'San Luis Obispo',
       'Colorado Springs', 'Laramie', 'Durango', 'Bismarck', 'Hilo',
       'Baton Rouge', 'Helena', 'Bozeman', 'Harrisburg', 'Lihue',
       'Twin Falls', 'Beaumont/Port Arthur', 'Gulfport-Biloxi',
       'St Cloud', 'White Plains', 'Melbourne', 'Pellston',
       'Sault Ste. Marie', 'Akron', 'Des Moines', 'Bellingham',
       'Shreveport', 'Santa Ana', 'Albany', 'Lincoln', 'Champaign/Urbana',
       'Great Falls', 'Elko', 'Long Beach', 'Asheville', 'Huntsville',
       'Fayetteville/Springdale/Rogers', 'Sioux City', 'Hays', 'McAllen',
       'Islip', 'Burbank', 'Daytona Beach', 'Dayton', 'Lafayette',
       'Latrobe', 'Aspen', 'Agana', 'Traverse City', 'Waterloo',
       'Tallahassee', 'El Paso', 'Manhattan', 'Iron Mountain/Kingsford',
       'Juneau', 'Meridian', 'Dubuque', 'Gainesville', 'Brainerd',
       'Dickinson', 'Louisville', 'Lubbock', 'Wilkes-Barre/Scranton',
       'Butte', 'Elmira', 'Rock Springs', 'Pocatello', 'Hailey',
       'Lewiston', 'Vernal', 'Charlotte Amalie', 'Santa Fe', 'Yuma',
       'Kalispell', 'Grand Rapids', 'Hayden', 'Roanoke', 'Chattanooga',
       'Key West', 'Myrtle Beach', 'Charlottesville', 'Grand Junction',
       'Fort Wayne', 'Evansville', 'Missoula', 'Eagle', 'Amarillo',
       'Moline', 'Saginaw', 'Grand Forks', 'Killeen', 'Billings',
       'Kotzebue', 'Ketchikan', 'Christiansted', 'Wilmington', 'Pueblo',
       'Rhinelander', 'Cedar City', 'Harlingen', 'Deadhorse', 'Flint',
       'La Crosse', 'Mammoth Lakes', 'Waco', 'Fort Smith', 'Augusta',
       'Crescent City', 'Wichita', 'Alexandria', 'Dothan', 'Laredo',
       'Wrangell', 'Newport News', 'Moab', 'Barrow', 'Longview',
       'Kalamazoo', 'College Station', 'Sarasota', 'Worcester',
       'Flagstaff', 'Bristol', 'Valdosta', 'Sitka', 'Brunswick',
       'Bloomington', 'Petersburg', 'Fayetteville', 'Muskegon', 'Midland',
       'New Bern', 'Nome', 'Hancock', 'Jamestown', 'St George',
       'Columbus-Starkville-West Point', 'Bethel', 'Toledo', 'Alpena',
       'Santa Maria', 'Lake Charles', 'Redding', 'Garden City',
       'Devils Lake', 'Grand Island', 'Newburgh', 'Joplin', 'Adak',
       'Texarkana', 'Wichita Falls', 'Abilene', 'Yakutat', 'San Angelo',
       'Cordova', 'North Bend', 'Kodiak', 'Pago Pago', 'Roswell', 'Hobbs',
       'Binghamton', 'Bangor', 'Ithaca', 'Nantucket', 'Marthas Vineyard',
       'West Yellowstone', 'Dillingham', 'King Salmon', 'Gustavus',
       'Hyannis'], dtype=object)

In [0]:
count=0
citylist=[]
for city in city_list:
  for cityinlist in cities['City']:
    if(city==cityinlist):
      citylist.append(city)
      print(city)
      count=count+1
      break
  
print(count)

Los Angeles
San Francisco
Seattle
Las Vegas
Denver
Portland
Minneapolis
Phoenix
Chicago
Boston
Houston
Nashville
Philadelphia
New York
Kansas City
Atlanta
Jacksonville
San Antonio
Indianapolis
Pittsburgh
Albuquerque
Miami
Charlotte
Detroit
Dallas
San Diego
26

In [0]:
data=df['city'].isin(citylist)
data
data=df[data]
df=data.reset_index().drop("index",axis=1)
df.head()

   YEAR  MONTH  DAY  ...           city       DATE converted_DEPARTURE_TIME
0  2015      1    1  ...    Los Angeles 2015-01-01                 00:02:00
1  2015      1    1  ...  San Francisco 2015-01-01                 00:18:00
2  2015      1    1  ...    Los Angeles 2015-01-01                 00:15:00
3  2015      1    1  ...        Seattle 2015-01-01                 00:24:00
4  2015      1    1  ...  San Francisco 2015-01-01                 00:20:00

[5 rows x 33 columns]

In [0]:
df['converted_DEPARTURE_TIME']=df['converted_DEPARTURE_TIME'].astype("str")
df['DATE']=df['DATE'].astype("str")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3209189 entries, 0 to 3209188
Data columns (total 33 columns):
 #   Column                          Dtype
---  ------                          -----
 0   YEAR                            int64
 1   MONTH                           int64
 2   DAY                             int64
 3   DAY_OF_WEEK                     int64
 4   AIRLINE                         object
 5   ORIGIN_AIRPORT                  object
 6   DESTINATION_AIRPORT             object
 7   SCHEDULED_DEPARTURE             int64
 8   DEPARTURE_TIME                  float64
 9   DEPARTURE_DELAY                 float64
 10  SCHEDULED_ARRIVAL               int64
 11  ARRIVAL_TIME                    float64
 12  ARRIVAL_DELAY                   float64
 13  SCHEDULED_TIME                  float64
 14  ELAPSED_TIME                    float64
 15  TAXI_OUT                        float64
 16  WHEELS_OFF                      float64
 17  DISTANCE                        int64
 18  DIVERTED                        int64
 19  AIR_TIME                        float64
 20  AIR_SYSTEM_DELAY                float64
 21  SECURITY_DELAY                  float64
 22  AIRLINE_DELAY                   float64
 23  LATE_AIRCRAFT_DELAY             float64
 24  WEATHER_DELAY                   float64
 25  AIR_SYSTEM_DELAY_is_missing     int64
 26  SECURITY_DELAY_is_missing       int64
 27  AIRLINE_DELAY_is_missing        int64
 28  LATE_AIRCRAFT_DELAY_is_missing  int64
 29  WEATHER_DELAY_is_missing        int64
 30  city                            object
 31  DATE                            object
 32  converted_DEPARTURE_TIME        object
dtypes: float64(14), int64(13), object(6)
memory usage: 808.0+ MB

In [0]:
df['approx_DEPARTURE_TIME']=[i.partition(':')[0]+":00:00" for i in df.converted_DEPARTURE_TIME]
df["datetime"]=df['DATE']+" "+df['approx_DEPARTURE_TIME']
df.tail()

         YEAR  MONTH  ...  approx_DEPARTURE_TIME             datetime
3209184  2015     12  ...               00:00:00  2015-12-31 00:00:00
3209185  2015     12  ...               23:00:00  2015-12-31 23:00:00
3209186  2015     12  ...               23:00:00  2015-12-31 23:00:00
3209187  2015     12  ...               23:00:00  2015-12-31 23:00:00
3209188  2015     12  ...               00:00:00  2015-12-31 00:00:00

[5 rows x 35 columns]

In [0]:
data = pd.merge(left=df,right=temperature, how='left', left_on='datetime', right_on='datetime')
data

         YEAR  MONTH  DAY  ...       Haifa   Nahariyya   Jerusalem
0        2015      1    1  ...  287.725000  280.900000  281.513500
1        2015      1    1  ...  287.725000  280.900000  281.513500
2        2015      1    1  ...  287.725000  280.900000  281.513500
3        2015      1    1  ...  287.725000  280.900000  281.513500
4        2015      1    1  ...  287.725000  280.900000  281.513500
...       ...    ...  ...  ...         ...         ...         ...
3209184  2015     12   31  ...  293.402062  291.744761  289.288883
3209185  2015     12   31  ...  289.114075  288.596000  285.833591
3209186  2015     12   31  ...  289.114075  288.596000  285.833591
3209187  2015     12   31  ...  289.114075  288.596000  285.833591
3209188  2015     12   31  ...  293.402062  291.744761  289.288883

[3209189 rows x 71 columns]

In [0]:
def city_values(city):
  print(city)
  data[city]=[0 if data['city'][ind]!=city else data[city][ind] for ind in data.index]
def iter_cities():
  for city in temp_cols:
    city_values(city)
iter_cities()
data

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
San Antonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv District
Eilat
Haifa
Nahariyya
Jerusalem

         YEAR  MONTH  DAY  DAY_OF_WEEK  ... Eilat Haifa Nahariyya  Jerusalem
0        2015      1    1            4  ...     0     0         0          0
1        2015      1    1            4  ...     0     0         0          0
2        2015      1    1            4  ...     0     0         0          0
3        2015      1    1            4  ...     0     0         0          0
4        2015      1    1            4  ...     0     0         0          0
...       ...    ...  ...          ...  ...   ...   ...       ...        ...
3209184  2015     12   31            4  ...     0     0         0          0
3209185  2015     12   31            4  ...     0     0         0          0
3209186  2015     12   31            4  ...     0     0         0          0
3209187  2015     12   31            4  ...     0     0         0          0
3209188  2015     12   31            4  ...     0     0         0          0

[3209189 rows x 71 columns]

In [0]:
data['temperature']=data['Vancouver']+data['Portland']+data['San Francisco']+data['Seattle']+data['Los Angeles']\
       +data['San Diego']+data['Las Vegas']+data['Phoenix']+data['Albuquerque']+data['Denver']\
       +data['San Antonio']+data['Dallas']+data['Houston']+data['Kansas City']+data['Minneapolis']\
       +data['Saint Louis']+data['Chicago']+data['Nashville']+data['Indianapolis']+data['Atlanta']\
       +data['Detroit']+data['Jacksonville']+data['Charlotte']+data['Miami']+data['Pittsburgh']\
       +data['Toronto']+data['Philadelphia']+data['New York']+data['Montreal']+data['Boston']\
       +data['Beersheba']+data['Tel Aviv District']+data['Eilat']+data['Haifa']+data['Nahariyya']\
       +data['Jerusalem']

In [0]:
data.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... Haifa Nahariyya Jerusalem  temperature
0  2015      1    1            4  ...     0         0         0     276.9885
1  2015      1    1            4  ...     0         0         0     284.1760
2  2015      1    1            4  ...     0         0         0     276.9885
3  2015      1    1            4  ...     0         0         0     272.5760
4  2015      1    1            4  ...     0         0         0     284.1760

[5 rows x 72 columns]

In [0]:
df['temperature']=data['temperature'].copy()
df.head()

   YEAR  MONTH  DAY  ...  approx_DEPARTURE_TIME             datetime temperature
0  2015      1    1  ...               00:00:00  2015-01-01 00:00:00    276.9885
1  2015      1    1  ...               00:00:00  2015-01-01 00:00:00    284.1760
2  2015      1    1  ...               00:00:00  2015-01-01 00:00:00    276.9885
3  2015      1    1  ...               00:00:00  2015-01-01 00:00:00    272.5760
4  2015      1    1  ...               00:00:00  2015-01-01 00:00:00    284.1760

[5 rows x 36 columns]

In [0]:
data = pd.merge(left=df,right=humidity, how='left', left_on='datetime', right_on='datetime')
cols=['city']+temp_cols.tolist()
print(cols)
data=data[cols]
data.head()

['city', 'Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya', 'Jerusalem']

            city  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0    Los Angeles      100.0      64.0  ...  100.0       89.0       87.0
1  San Francisco      100.0      64.0  ...  100.0       89.0       87.0
2    Los Angeles      100.0      64.0  ...  100.0       89.0       87.0
3        Seattle      100.0      64.0  ...  100.0       89.0       87.0
4  San Francisco      100.0      64.0  ...  100.0       89.0       87.0

[5 rows x 37 columns]

In [0]:
def city_values(city):
  print(city)
  data[city]=[0 if data['city'][ind]!=city else data[city][ind] for ind in data.index]
def iter_cities():
  for city in temp_cols:
    city_values(city)
iter_cities()
data

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
San Antonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv District
Eilat
Haifa
Nahariyya
Jerusalem

                  city  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0          Los Angeles          0       0.0  ...      0          0          0
1        San Francisco          0       0.0  ...      0          0          0
2          Los Angeles          0       0.0  ...      0          0          0
3              Seattle          0       0.0  ...      0          0          0
4        San Francisco          0       0.0  ...      0          0          0
...                ...        ...       ...  ...    ...        ...        ...
3209184    Albuquerque          0       0.0  ...      0          0          0
3209185    Los Angeles          0       0.0  ...      0          0          0
3209186       New York          0       0.0  ...      0          0          0
3209187       New York          0       0.0  ...      0          0          0
3209188       New York          0       0.0  ...      0          0          0

[3209189 rows x 37 columns]

In [0]:
data['humidity']=data['Vancouver']+data['Portland']+data['San Francisco']+data['Seattle']+data['Los Angeles']\
       +data['San Diego']+data['Las Vegas']+data['Phoenix']+data['Albuquerque']+data['Denver']\
       +data['San Antonio']+data['Dallas']+data['Houston']+data['Kansas City']+data['Minneapolis']\
       +data['Saint Louis']+data['Chicago']+data['Nashville']+data['Indianapolis']+data['Atlanta']\
       +data['Detroit']+data['Jacksonville']+data['Charlotte']+data['Miami']+data['Pittsburgh']\
       +data['Toronto']+data['Philadelphia']+data['New York']+data['Montreal']+data['Boston']\
       +data['Beersheba']+data['Tel Aviv District']+data['Eilat']+data['Haifa']+data['Nahariyya']\
       +data['Jerusalem']

In [0]:
df['humidity']=data['humidity'].copy()
df.head()

   YEAR  MONTH  DAY  ...             datetime temperature humidity
0  2015      1    1  ...  2015-01-01 00:00:00    276.9885     39.0
1  2015      1    1  ...  2015-01-01 00:00:00    284.1760     81.0
2  2015      1    1  ...  2015-01-01 00:00:00    276.9885     39.0
3  2015      1    1  ...  2015-01-01 00:00:00    272.5760     99.0
4  2015      1    1  ...  2015-01-01 00:00:00    284.1760     81.0

[5 rows x 37 columns]

In [0]:
data = pd.merge(left=df,right=wind_speed, how='left', left_on='datetime', right_on='datetime')
cols=['city']+temp_cols.tolist()
print(cols)
data=data[cols]
data.head()

['city', 'Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya', 'Jerusalem']

            city  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0    Los Angeles        1.0       2.0  ...    2.0        2.0        1.0
1  San Francisco        1.0       2.0  ...    2.0        2.0        1.0
2    Los Angeles        1.0       2.0  ...    2.0        2.0        1.0
3        Seattle        1.0       2.0  ...    2.0        2.0        1.0
4  San Francisco        1.0       2.0  ...    2.0        2.0        1.0

[5 rows x 37 columns]

In [0]:
def city_values(city):
  print(city)
  data[city]=[0 if data['city'][ind]!=city else data[city][ind] for ind in data.index]
def iter_cities():
  for city in temp_cols:
    city_values(city)
iter_cities()
data

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
San Antonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv District
Eilat
Haifa
Nahariyya
Jerusalem

                  city  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0          Los Angeles          0       0.0  ...      0          0          0
1        San Francisco          0       0.0  ...      0          0          0
2          Los Angeles          0       0.0  ...      0          0          0
3              Seattle          0       0.0  ...      0          0          0
4        San Francisco          0       0.0  ...      0          0          0
...                ...        ...       ...  ...    ...        ...        ...
3209184    Albuquerque          0       0.0  ...      0          0          0
3209185    Los Angeles          0       0.0  ...      0          0          0
3209186       New York          0       0.0  ...      0          0          0
3209187       New York          0       0.0  ...      0          0          0
3209188       New York          0       0.0  ...      0          0          0

[3209189 rows x 37 columns]

In [0]:
data['wind_speed']=data['Vancouver']+data['Portland']+data['San Francisco']+data['Seattle']+data['Los Angeles']\
       +data['San Diego']+data['Las Vegas']+data['Phoenix']+data['Albuquerque']+data['Denver']\
       +data['San Antonio']+data['Dallas']+data['Houston']+data['Kansas City']+data['Minneapolis']\
       +data['Saint Louis']+data['Chicago']+data['Nashville']+data['Indianapolis']+data['Atlanta']\
       +data['Detroit']+data['Jacksonville']+data['Charlotte']+data['Miami']+data['Pittsburgh']\
       +data['Toronto']+data['Philadelphia']+data['New York']+data['Montreal']+data['Boston']\
       +data['Beersheba']+data['Tel Aviv District']+data['Eilat']+data['Haifa']+data['Nahariyya']\
       +data['Jerusalem']

In [0]:
df['wind_speed']=data['wind_speed'].copy()
df.head()

   YEAR  MONTH  DAY  ...  temperature humidity wind_speed
0  2015      1    1  ...     276.9885     39.0        2.0
1  2015      1    1  ...     284.1760     81.0        5.0
2  2015      1    1  ...     276.9885     39.0        2.0
3  2015      1    1  ...     272.5760     99.0        2.0
4  2015      1    1  ...     284.1760     81.0        5.0

[5 rows x 38 columns]

In [0]:
pressure=pd.read_csv("/content/pressure.csv")
pressure

                  datetime  Vancouver  Portland  ...   Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...     NaN        NaN        NaN
1      2012-10-01 13:00:00        NaN    1024.0  ...  1013.0     1013.0      990.0
2      2012-10-01 14:00:00        NaN    1024.0  ...  1013.0     1013.0      990.0
3      2012-10-01 15:00:00        NaN    1024.0  ...  1013.0     1013.0      990.0
4      2012-10-01 16:00:00        NaN    1024.0  ...  1013.0     1013.0      990.0
...                    ...        ...       ...  ...     ...        ...        ...
45248  2017-11-29 20:00:00        NaN    1031.0  ...     NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN    1030.0  ...     NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN    1030.0  ...     NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN    1029.0  ...     NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN    1029.0  ...     NaN        NaN        NaN

[45253 rows x 37 columns]

In [0]:
data = pd.merge(left=df,right=pressure, how='left', left_on='datetime', right_on='datetime')
cols=['city']+temp_cols.tolist()
data=data[cols]

iter_cities()

data['pressure']=data['Vancouver']+data['Portland']+data['San Francisco']+data['Seattle']+data['Los Angeles']\
       +data['San Diego']+data['Las Vegas']+data['Phoenix']+data['Albuquerque']+data['Denver']\
       +data['San Antonio']+data['Dallas']+data['Houston']+data['Kansas City']+data['Minneapolis']\
       +data['Saint Louis']+data['Chicago']+data['Nashville']+data['Indianapolis']+data['Atlanta']\
       +data['Detroit']+data['Jacksonville']+data['Charlotte']+data['Miami']+data['Pittsburgh']\
       +data['Toronto']+data['Philadelphia']+data['New York']+data['Montreal']+data['Boston']\
       +data['Beersheba']+data['Tel Aviv District']+data['Eilat']+data['Haifa']+data['Nahariyya']\
       +data['Jerusalem']

df['pressure']=data['pressure'].copy()
print(df.head())

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
San Antonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv District
Eilat
Haifa
Nahariyya
Jerusalem
   YEAR  MONTH  DAY  DAY_OF_WEEK  ... temperature humidity wind_speed  pressure
0  2015      1    1            4  ...    276.9885     39.0        2.0    1030.0
1  2015      1    1            4  ...    284.1760     81.0        5.0    1033.0
2  2015      1    1            4  ...    276.9885     39.0        2.0    1030.0
3  2015      1    1            4  ...    272.5760     99.0        2.0    1046.0
4  2015      1    1            4  ...    284.1760     81.0        5.0    1033.0

[5 rows x 39 columns]

In [0]:
wind_direction=pd.read_csv("/content/wind_direction.csv")
wind_direction

                  datetime  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00        0.0       0.0  ...  336.0      336.0      329.0
2      2012-10-01 14:00:00        6.0       4.0  ...  336.0      336.0      329.0
3      2012-10-01 15:00:00       20.0      18.0  ...  336.0      336.0      329.0
4      2012-10-01 16:00:00       34.0      31.0  ...  336.0      336.0      329.0
...                    ...        ...       ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00        NaN      50.0  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN     330.0  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN     290.0  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN     290.0  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN     340.0  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [0]:
data = pd.merge(left=df,right=wind_direction, how='left', left_on='datetime', right_on='datetime')
cols=['city']+temp_cols.tolist()
data=data[cols]

iter_cities()

data['wind_direction']=data['Vancouver']+data['Portland']+data['San Francisco']+data['Seattle']+data['Los Angeles']\
       +data['San Diego']+data['Las Vegas']+data['Phoenix']+data['Albuquerque']+data['Denver']\
       +data['San Antonio']+data['Dallas']+data['Houston']+data['Kansas City']+data['Minneapolis']\
       +data['Saint Louis']+data['Chicago']+data['Nashville']+data['Indianapolis']+data['Atlanta']\
       +data['Detroit']+data['Jacksonville']+data['Charlotte']+data['Miami']+data['Pittsburgh']\
       +data['Toronto']+data['Philadelphia']+data['New York']+data['Montreal']+data['Boston']\
       +data['Beersheba']+data['Tel Aviv District']+data['Eilat']+data['Haifa']+data['Nahariyya']\
       +data['Jerusalem']

df['wind_direction']=data['wind_direction'].copy()
print(df.head())

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
San Antonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv District
Eilat
Haifa
Nahariyya
Jerusalem
   YEAR  MONTH  DAY  ...  wind_speed pressure wind_direction
0  2015      1    1  ...         2.0   1030.0           10.0
1  2015      1    1  ...         5.0   1033.0          175.0
2  2015      1    1  ...         2.0   1030.0           10.0
3  2015      1    1  ...         2.0   1046.0           29.0
4  2015      1    1  ...         5.0   1033.0          175.0

[5 rows x 40 columns]

In [0]:
df

         YEAR  MONTH  DAY  ...  wind_speed pressure wind_direction
0        2015      1    1  ...         2.0   1030.0           10.0
1        2015      1    1  ...         5.0   1033.0          175.0
2        2015      1    1  ...         2.0   1030.0           10.0
3        2015      1    1  ...         2.0   1046.0           29.0
4        2015      1    1  ...         5.0   1033.0          175.0
...       ...    ...  ...  ...         ...      ...            ...
3209184  2015     12   31  ...         1.0   1021.0            0.0
3209185  2015     12   31  ...         2.0   1018.0            0.0
3209186  2015     12   31  ...         4.0   1022.0          299.0
3209187  2015     12   31  ...         4.0   1022.0          299.0
3209188  2015     12   31  ...         1.0   1021.0           69.0

[3209189 rows x 40 columns]

In [0]:
df.to_csv("handled_dataset_with_weather_2015.csv",index=False)

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file2 = drive.CreateFile()
file2.SetContentFile('handled_dataset_with_weather_2015.csv')
file2.Upload()
print('Uploaded file with ID {}'.format(file2.get('id')))

Uploaded file with ID 1kavt7dMNZ8cOXVZVuNmLIcfI_2m0MtD5

In [0]:
weather_description=pd.read_csv("/content/weather_description.csv")
weather_description

                  datetime      Vancouver  ...        Nahariyya        Jerusalem
0      2012-10-01 12:00:00            NaN  ...              NaN              NaN
1      2012-10-01 13:00:00           mist  ...     sky is clear     sky is clear
2      2012-10-01 14:00:00  broken clouds  ...     sky is clear  overcast clouds
3      2012-10-01 15:00:00  broken clouds  ...  overcast clouds  overcast clouds
4      2012-10-01 16:00:00  broken clouds  ...  overcast clouds  overcast clouds
...                    ...            ...  ...              ...              ...
45248  2017-11-29 20:00:00            NaN  ...              NaN              NaN
45249  2017-11-29 21:00:00            NaN  ...              NaN              NaN
45250  2017-11-29 22:00:00            NaN  ...              NaN              NaN
45251  2017-11-29 23:00:00            NaN  ...              NaN              NaN
45252  2017-11-30 00:00:00            NaN  ...              NaN              NaN

[45253 rows x 37 columns]