<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Data_Preprocessing_and_Feature_Engineering_2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install httplib2==0.15.0

In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
X_columns=['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT','SCHEDULED_DEPARTURE',
           'DEPARTURE_TIME','DEPARTURE_DELAY', 'TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME','SCHEDULED_ARRIVAL','DISTANCE','AIR_TIME','DIVERTED',
           'AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIR_SYSTEM_DELAY_is_missing',
           'SECURITY_DELAY_is_missing','AIRLINE_DELAY_is_missing','LATE_AIRCRAFT_DELAY_is_missing','WEATHER_DELAY_is_missing']

In [0]:
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/Handled_data.csv')

In [4]:
data = data.assign(OUTCOME=(data['ARRIVAL_DELAY'] > 14).astype(int))
data

           index  YEAR  ...  WEATHER_DELAY_is_missing  OUTCOME
0              0  2015  ...                         1        0
1              1  2015  ...                         1        0
2              2  2015  ...                         1        0
3              3  2015  ...                         1        0
4              4  2015  ...                         1        0
...          ...   ...  ...                       ...      ...
5714003  5819074  2015  ...                         1        0
5714004  5819075  2015  ...                         1        0
5714005  5819076  2015  ...                         1        0
5714006  5819077  2015  ...                         1        0
5714007  5819078  2015  ...                         1        0

[5714008 rows x 32 columns]

In [0]:
X=data[X_columns]
y=data['OUTCOME']

In [6]:
cat=pd.DataFrame()
cat['AIRLINE_ORIGIN_AIRPORT']=X['AIRLINE']+"_"+X['ORIGIN_AIRPORT']
cat['AIRLINE_DESTINATION_AIRPORT']=X['AIRLINE']+"_"+X['DESTINATION_AIRPORT']
cat['ORIGIN_AIRPORT_DESTINATION_AIRPORT']=X['ORIGIN_AIRPORT']+"_"+X['DESTINATION_AIRPORT']
cat

        AIRLINE_ORIGIN_AIRPORT  ... ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                       AS_ANC  ...                            ANC_SEA
1                       AA_LAX  ...                            LAX_PBI
2                       US_SFO  ...                            SFO_CLT
3                       AA_LAX  ...                            LAX_MIA
4                       AS_SEA  ...                            SEA_ANC
...                        ...  ...                                ...
5714003                 B6_LAX  ...                            LAX_BOS
5714004                 B6_JFK  ...                            JFK_PSE
5714005                 B6_JFK  ...                            JFK_SJU
5714006                 B6_MCO  ...                            MCO_SJU
5714007                 B6_JFK  ...                            JFK_BQN

[5714008 rows x 3 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT']
encoder = LabelEncoder()

# Apply the label encoder to each column
cat = cat[cat_features].apply(encoder.fit_transform)
cat.head(10)

   AIRLINE_ORIGIN_AIRPORT  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                     103  ...                                 100
1                      45  ...                                2507
2                    1194  ...                                4204
3                      45  ...                                2495
4                     155  ...                                4116
5                     367  ...                                4238
6                     798  ...                                2422
7                    1160  ...                                2462
8                      85  ...                                4210
9                     312  ...                                2373

[10 rows x 3 columns]

In [0]:
X=X.join(cat)

In [9]:
X

         YEAR  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0        2015  ...                                 100
1        2015  ...                                2507
2        2015  ...                                4204
3        2015  ...                                2495
4        2015  ...                                4116
...       ...  ...                                 ...
5714003  2015  ...                                2456
5714004  2015  ...                                2318
5714005  2015  ...                                2331
5714006  2015  ...                                2793
5714007  2015  ...                                2279

[5714008 rows x 30 columns]

In [0]:
from numpy import array

data=X[['AIRLINE']]
data=array(data)
data

array([['AS'],
       ['AA'],
       ['US'],
       ...,
       ['B6'],
       ['B6'],
       ['B6']], dtype=object)

In [0]:
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder()
data = onehotencoder.fit_transform(data)
data

<5714008x14 sparse matrix of type '<class 'numpy.float64'>'
	with 5714008 stored elements in Compressed Sparse Row format>

In [0]:
data=pd.DataFrame(data.toarray())
data

           0    1    2    3    4    5    6    7    8    9   10   11   12   13
0        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5714003  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714004  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714005  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714006  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714007  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5714008 rows x 14 columns]

In [10]:
data=pd.get_dummies(X['AIRLINE'])
data

         AA  AS  B6  DL  EV  F9  HA  MQ  NK  OO  UA  US  VX  WN
0         0   1   0   0   0   0   0   0   0   0   0   0   0   0
1         1   0   0   0   0   0   0   0   0   0   0   0   0   0
2         0   0   0   0   0   0   0   0   0   0   0   1   0   0
3         1   0   0   0   0   0   0   0   0   0   0   0   0   0
4         0   1   0   0   0   0   0   0   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
5714003   0   0   1   0   0   0   0   0   0   0   0   0   0   0
5714004   0   0   1   0   0   0   0   0   0   0   0   0   0   0
5714005   0   0   1   0   0   0   0   0   0   0   0   0   0   0
5714006   0   0   1   0   0   0   0   0   0   0   0   0   0   0
5714007   0   0   1   0   0   0   0   0   0   0   0   0   0   0

[5714008 rows x 14 columns]

In [11]:
X=X.join(data)
X.drop(['AIRLINE'],axis=1,inplace=True)
X

         YEAR  MONTH  DAY  DAY_OF_WEEK ORIGIN_AIRPORT  ... OO  UA  US  VX  WN
0        2015      1    1            4            ANC  ...  0   0   0   0   0
1        2015      1    1            4            LAX  ...  0   0   0   0   0
2        2015      1    1            4            SFO  ...  0   0   1   0   0
3        2015      1    1            4            LAX  ...  0   0   0   0   0
4        2015      1    1            4            SEA  ...  0   0   0   0   0
...       ...    ...  ...          ...            ...  ... ..  ..  ..  ..  ..
5714003  2015     12   31            4            LAX  ...  0   0   0   0   0
5714004  2015     12   31            4            JFK  ...  0   0   0   0   0
5714005  2015     12   31            4            JFK  ...  0   0   0   0   0
5714006  2015     12   31            4            MCO  ...  0   0   0   0   0
5714007  2015     12   31            4            JFK  ...  0   0   0   0   0

[5714008 rows x 43 columns]

In [12]:
import datetime

def format_heure(time):
    if pd.isnull(time):
        return np.nan
    else:
        if time == 2400: time = 0
        time = "{0:04d}".format(int(time))
        heure = datetime.time(int(time[0:2]), int(time[2:4]))
        return heure

X['converted_DEPARTURE_TIME'] = X['DEPARTURE_TIME'].apply(format_heure)
X['converted_SCHEDULED_DEPARTURE'] = X['SCHEDULED_DEPARTURE'].apply(format_heure)
X['converted_SCHEDULED_ARRIVAL'] = X['SCHEDULED_ARRIVAL'].apply(format_heure)
X['converted_WHEELS_OFF'] = X['WHEELS_OFF'].apply(format_heure)
X

         YEAR  MONTH  ...  converted_SCHEDULED_ARRIVAL  converted_WHEELS_OFF
0        2015      1  ...                     04:30:00              00:15:00
1        2015      1  ...                     07:50:00              00:14:00
2        2015      1  ...                     08:06:00              00:34:00
3        2015      1  ...                     08:05:00              00:30:00
4        2015      1  ...                     03:20:00              00:35:00
...       ...    ...  ...                          ...                   ...
5714003  2015     12  ...                     08:19:00              00:17:00
5714004  2015     12  ...                     04:46:00              00:12:00
5714005  2015     12  ...                     04:40:00              00:07:00
5714006  2015     12  ...                     03:40:00              00:03:00
5714007  2015     12  ...                     04:40:00              00:28:00

[5714008 rows x 47 columns]

In [13]:
X['converted_DEPARTURE_TIME']=[i.strftime("%H:%M:%S") for i in X.converted_DEPARTURE_TIME]
X['DEPARTURE_TIME_HOUR']=[i.partition(':')[0] for i in X.converted_DEPARTURE_TIME]
X['DEPARTURE_TIME_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_DEPARTURE_TIME]

X['converted_SCHEDULED_DEPARTURE']=[i.strftime("%H:%M:%S") for i in X.converted_SCHEDULED_DEPARTURE]
X['SCHEDULED_DEPARTURE_HOUR']=[i.partition(':')[0] for i in X.converted_SCHEDULED_DEPARTURE]
X['SCHEDULED_DEPARTURE_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_SCHEDULED_DEPARTURE]

X['converted_SCHEDULED_ARRIVAL']=[i.strftime("%H:%M:%S") for i in X.converted_SCHEDULED_ARRIVAL]
X['SCHEDULED_ARRIVAL_HOUR']=[i.partition(':')[0] for i in X.converted_SCHEDULED_ARRIVAL]
X['SCHEDULED_ARRIVAL_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_SCHEDULED_ARRIVAL]

X['converted_WHEELS_OFF']=[i.strftime("%H:%M:%S") for i in X.converted_WHEELS_OFF]
X['WHEELS_OFF_HOUR']=[i.partition(':')[0] for i in X.converted_WHEELS_OFF]
X['WHEELS_OFF_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_WHEELS_OFF]

X

         YEAR  MONTH  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE
0        2015      1  ...               00                 15
1        2015      1  ...               00                 14
2        2015      1  ...               00                 34
3        2015      1  ...               00                 30
4        2015      1  ...               00                 35
...       ...    ...  ...              ...                ...
5714003  2015     12  ...               00                 17
5714004  2015     12  ...               00                 12
5714005  2015     12  ...               00                 07
5714006  2015     12  ...               00                 03
5714007  2015     12  ...               00                 28

[5714008 rows x 55 columns]

In [0]:
import numpy as np
import pandas as pd

df={"hr":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,0],
    "mnth":[1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]}
df=pd.DataFrame(df)

df['hr_sin'] = np.sin(df.hr*(2.*np.pi/24))
df['hr_cos'] = np.cos(df.hr*(2.*np.pi/24))
df['chr_sin'] = np.sin(df.hr*((2.*np.pi)/24))
df['chr_cos'] = np.cos(df.hr*((2.*np.pi)/24))
df['mnth_sin'] = np.sin((df.mnth-1)*(2.*np.pi/12))
df['mnth_cos'] = np.cos((df.mnth-1)*(2.*np.pi/12))
df

    hr  mnth        hr_sin  ...       chr_cos      mnth_sin      mnth_cos
0    1     1  2.588190e-01  ...  9.659258e-01  0.000000e+00  1.000000e+00
1    2     2  5.000000e-01  ...  8.660254e-01  5.000000e-01  8.660254e-01
2    3     3  7.071068e-01  ...  7.071068e-01  8.660254e-01  5.000000e-01
3    4     4  8.660254e-01  ...  5.000000e-01  1.000000e+00  6.123234e-17
4    5     5  9.659258e-01  ...  2.588190e-01  8.660254e-01 -5.000000e-01
5    6     6  1.000000e+00  ...  6.123234e-17  5.000000e-01 -8.660254e-01
6    7     7  9.659258e-01  ... -2.588190e-01  1.224647e-16 -1.000000e+00
7    8     8  8.660254e-01  ... -5.000000e-01 -5.000000e-01 -8.660254e-01
8    9     9  7.071068e-01  ... -7.071068e-01 -8.660254e-01 -5.000000e-01
9   10    10  5.000000e-01  ... -8.660254e-01 -1.000000e+00 -1.836970e-16
10  11    11  2.588190e-01  ... -9.659258e-01 -8.660254e-01  5.000000e-01
11  12    12  1.224647e-16  ... -1.000000e+00 -5.000000e-01  8.660254e-01
12  13     1 -2.588190e-01  ... -9.659258e-01  0.000000e+00  1.000000e+00
13  14     2 -5.000000e-01  ... -8.660254e-01  5.000000e-01  8.660254e-01
14  15     3 -7.071068e-01  ... -7.071068e-01  8.660254e-01  5.000000e-01
15  16     4 -8.660254e-01  ... -5.000000e-01  1.000000e+00  6.123234e-17
16  17     5 -9.659258e-01  ... -2.588190e-01  8.660254e-01 -5.000000e-01
17  18     6 -1.000000e+00  ... -1.836970e-16  5.000000e-01 -8.660254e-01
18  19     7 -9.659258e-01  ...  2.588190e-01  1.224647e-16 -1.000000e+00
19  20     8 -8.660254e-01  ...  5.000000e-01 -5.000000e-01 -8.660254e-01
20  21     9 -7.071068e-01  ...  7.071068e-01 -8.660254e-01 -5.000000e-01
21  22    10 -5.000000e-01  ...  8.660254e-01 -1.000000e+00 -1.836970e-16
22  23    11 -2.588190e-01  ...  9.659258e-01 -8.660254e-01  5.000000e-01
23   0    12  0.000000e+00  ...  1.000000e+00 -5.000000e-01  8.660254e-01

[24 rows x 8 columns]

In [0]:
X['DEPARTURE_TIME_HOUR']=X['DEPARTURE_TIME_HOUR'].astype(int)
X['DEPARTURE_TIME_MINUTE']=X['DEPARTURE_TIME_MINUTE'].astype(int)
X['SCHEDULED_DEPARTURE_HOUR']=X['SCHEDULED_DEPARTURE_HOUR'].astype(int)
X['SCHEDULED_DEPARTURE_MINUTE']=X['SCHEDULED_DEPARTURE_MINUTE'].astype(int)
X['SCHEDULED_ARRIVAL_HOUR']=X['SCHEDULED_ARRIVAL_HOUR'].astype(int)
X['SCHEDULED_ARRIVAL_MINUTE']=X['SCHEDULED_ARRIVAL_MINUTE'].astype(int)
X['WHEELS_OFF_HOUR']=X['WHEELS_OFF_HOUR'].astype(int)
X['WHEELS_OFF_MINUTE']=X['WHEELS_OFF_MINUTE'].astype(int)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5714008 entries, 0 to 5714007
Data columns (total 55 columns):
 #   Column                              Dtype
---  ------                              -----
 0   YEAR                                int64
 1   MONTH                               int64
 2   DAY                                 int64
 3   DAY_OF_WEEK                         int64
 4   ORIGIN_AIRPORT                      object
 5   DESTINATION_AIRPORT                 object
 6   SCHEDULED_DEPARTURE                 int64
 7   DEPARTURE_TIME                      float64
 8   DEPARTURE_DELAY                     float64
 9   TAXI_OUT                            float64
 10  WHEELS_OFF                          float64
 11  SCHEDULED_TIME                      float64
 12  SCHEDULED_ARRIVAL                   int64
 13  DISTANCE                            int64
 14  AIR_TIME                            float64
 15  DIVERTED                            int64
 16  AIR_SYSTEM_DELAY                    float64
 17  SECURITY_DELAY                      float64
 18  AIRLINE_DELAY                       float64
 19  LATE_AIRCRAFT_DELAY                 float64
 20  WEATHER_DELAY                       float64
 21  AIR_SYSTEM_DELAY_is_missing         int64
 22  SECURITY_DELAY_is_missing           int64
 23  AIRLINE_DELAY_is_missing            int64
 24  LATE_AIRCRAFT_DELAY_is_missing      int64
 25  WEATHER_DELAY_is_missing            int64
 26  AIRLINE_ORIGIN_AIRPORT              int64
 27  AIRLINE_DESTINATION_AIRPORT         int64
 28  ORIGIN_AIRPORT_DESTINATION_AIRPORT  int64
 29  AA                                  uint8
 30  AS                                  uint8
 31  B6                                  uint8
 32  DL                                  uint8
 33  EV                                  uint8
 34  F9                                  uint8
 35  HA                                  uint8
 36  MQ                                  uint8
 37  NK                                  uint8
 38  OO                                  uint8
 39  UA                                  uint8
 40  US                                  uint8
 41  VX                                  uint8
 42  WN                                  uint8
 43  converted_DEPARTURE_TIME            object
 44  converted_SCHEDULED_DEPARTURE       object
 45  converted_SCHEDULED_ARRIVAL         object
 46  converted_WHEELS_OFF                object
 47  DEPARTURE_TIME_HOUR                 int64
 48  DEPARTURE_TIME_MINUTE               int64
 49  SCHEDULED_DEPARTURE_HOUR            int64
 50  SCHEDULED_DEPARTURE_MINUTE          int64
 51  SCHEDULED_ARRIVAL_HOUR              int64
 52  SCHEDULED_ARRIVAL_MINUTE            int64
 53  WHEELS_OFF_HOUR                     int64
 54  WHEELS_OFF_MINUTE                   int64
dtypes: float64(11), int64(24), object(6), uint8(14)
memory usage: 1.8+ GB

In [0]:
import numpy as np
X['DEPARTURE_TIME_HOUR_sin'] = np.sin(X.DEPARTURE_TIME_HOUR*((2.*np.pi)/24))
X['DEPARTURE_TIME_HOUR_cos'] = np.cos(X.DEPARTURE_TIME_HOUR*((2.*np.pi)/24))
X['SCHEDULED_DEPARTURE_HOUR_sin'] = np.sin(X.SCHEDULED_DEPARTURE_HOUR*((2.*np.pi)/24))
X['SCHEDULED_DEPARTURE_HOUR_cos'] = np.cos(X.SCHEDULED_DEPARTURE_HOUR*((2.*np.pi)/24))
X['SCHEDULED_ARRIVAL_HOUR_sin'] = np.sin(X.SCHEDULED_ARRIVAL_HOUR*((2.*np.pi)/24))
X['SCHEDULED_ARRIVAL_HOUR_cos'] = np.cos(X.SCHEDULED_ARRIVAL_HOUR*((2.*np.pi)/24))

X['DEPARTURE_TIME_MINUTE_sin'] = np.sin(X.DEPARTURE_TIME_MINUTE*((2.*np.pi)/60))
X['DEPARTURE_TIME_MINUTE_cos'] = np.cos(X.DEPARTURE_TIME_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_DEPARTURE_MINUTE_sin'] = np.sin(X.SCHEDULED_DEPARTURE_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_DEPARTURE_MINUTE_cos'] = np.cos(X.SCHEDULED_DEPARTURE_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_ARRIVAL_MINUTE_sin'] = np.sin(X.SCHEDULED_ARRIVAL_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_ARRIVAL_MINUTE_cos'] = np.cos(X.SCHEDULED_ARRIVAL_MINUTE*((2.*np.pi)/60))

X['MONTH_sin'] = np.sin((X.MONTH-1)*(2.*np.pi/12))
X['MONTH_cos'] = np.cos((X.MONTH-1)*(2.*np.pi/12))

X['DAY_OF_WEEK_sin'] = np.sin((X.DAY_OF_WEEK-1)*(2.*np.pi/7))
X['DAY_OF_WEEK_cos'] = np.cos((X.DAY_OF_WEEK-1)*(2.*np.pi/7))

X

         YEAR  MONTH  DAY  ...  MONTH_cos DAY_OF_WEEK_sin DAY_OF_WEEK_cos
0        2015      1    1  ...   1.000000        0.433884       -0.900969
1        2015      1    1  ...   1.000000        0.433884       -0.900969
2        2015      1    1  ...   1.000000        0.433884       -0.900969
3        2015      1    1  ...   1.000000        0.433884       -0.900969
4        2015      1    1  ...   1.000000        0.433884       -0.900969
...       ...    ...  ...  ...        ...             ...             ...
5714003  2015     12   31  ...   0.866025        0.433884       -0.900969
5714004  2015     12   31  ...   0.866025        0.433884       -0.900969
5714005  2015     12   31  ...   0.866025        0.433884       -0.900969
5714006  2015     12   31  ...   0.866025        0.433884       -0.900969
5714007  2015     12   31  ...   0.866025        0.433884       -0.900969

[5714008 rows x 68 columns]

In [14]:
y=pd.DataFrame(y)
y

         OUTCOME
0              0
1              0
2              0
3              0
4              0
...          ...
5714003        0
5714004        0
5714005        0
5714006        0
5714007        0

[5714008 rows x 1 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,random_state=27)

In [0]:
for each in [Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

In [0]:
data=X_train.join(Y_train)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR WHEELS_OFF_MINUTE OUTCOME
1526864  2015      4   11  ...               15                34       0
2974366  2015      7   10  ...               14                51       0
2162801  2015      5   21  ...               13                20       1
4975047  2015     11   13  ...                8                42       0
3559430  2015      8   14  ...               15                16       0
...       ...    ...  ...  ...              ...               ...     ...
4985584  2015     11   13  ...               19                42       1
4390712  2015     10    6  ...               19                23       0
3684895  2015      8   22  ...               12                 3       0
560968   2015      2    8  ...               13                13       1
1429176  2015      4    5  ...               15                 4       0

[4285506 rows x 56 columns]

In [0]:
ori_airport_means=data.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean()
ori_airport_means

ORIGIN_AIRPORT
ABE    0.298378
ABI    0.235686
ABQ    0.293341
ABR    0.305709
ABY    0.298867
         ...
WRG    0.290766
WYS    0.151316
XNA    0.336323
YAK    0.189139
YUM    0.228892
Name: OUTCOME, Length: 323, dtype: float64

In [0]:
ori_di=dict(ori_airport_means)
ori_di

{'ABE': 0.2983783783783784,
 'ABI': 0.235686492495831,
 'ABQ': 0.2933410613086038,
 'ABR': 0.30570902394106814,
 'ABY': 0.2988668555240793,
 'ACK': 0.3053435114503817,
 'ACT': 0.23270440251572327,
 'ACV': 0.3190883190883191,
 'ACY': 0.3291272344900105,
 'ADK': 0.5652173913043478,
 'ADQ': 0.26857142857142857,
 'AEX': 0.30974155069582504,
 'AGS': 0.3328133125325013,
 'AKN': 0.3695652173913043,
 'ALB': 0.21415456518110498,
 'ALO': 0.21961620469083157,
 'AMA': 0.29571384520505706,
 'ANC': 0.2407580720636406,
 'APN': 0.22,
 'ASE': 0.3872901678657074,
 'ATL': 0.2546848502479902,
 'ATW': 0.31546300398759414,
 'AUS': 0.27950290510006454,
 'AVL': 0.28177295341474445,
 'AVP': 0.27624309392265195,
 'AZO': 0.23264137437365784,
 'BDL': 0.24257065325302798,
 'BET': 0.28191489361702127,
 'BFL': 0.25717063684978125,
 'BGM': 0.22083333333333333,
 'BGR': 0.24295774647887325,
 'BHM': 0.27185045242119915,
 'BIL': 0.1527114967462039,
 'BIS': 0.27795756921970516,
 'BJI': 0.2,
 'BLI': 0.22137404580152673,
 'BMI': 0.27157598499061913,
 'BNA': 0.2824224908039937,
 'BOI': 0.2764972108199137,
 'BOS': 0.2983153927088994,
 'BPT': 0.3651006711409396,
 'BQK': 0.27019498607242337,
 'BQN': 0.2775700934579439,
 'BRD': 0.27607361963190186,
 'BRO': 0.20948180815876516,
 'BRW': 0.2740740740740741,
 'BSM': 0.20164891789762968,
 'BTM': 0.10597302504816955,
 'BTR': 0.3517253459449991,
 'BTV': 0.2944760357432981,
 'BUF': 0.2312416752996892,
 'BUR': 0.24731819677525502,
 'BWI': 0.335455372222944,
 'BZN': 0.22815533980582525,
 'CAE': 0.29566488066244523,
 'CAK': 0.21365229944318417,
 'CDC': 0.23991507430997877,
 'CDV': 0.23954372623574144,
 'CEC': 0.34375,
 'CHA': 0.2955075845974329,
 'CHO': 0.2819918934568616,
 'CHS': 0.2566537939672268,
 'CID': 0.31227674374882497,
 'CIU': 0.32991803278688525,
 'CLD': 0.29324894514767935,
 'CLE': 0.25842251288149026,
 'CLL': 0.22494553376906318,
 'CLT': 0.3316516132207811,
 'CMH': 0.25922284886428315,
 'CMI': 0.24016938898971568,
 'CMX': 0.24848484848484848,
 'CNY': 0.03225806451612903,
 'COD': 0.39539347408829173,
 'COS': 0.2976862816542175,
 'COU': 0.30525272547076315,
 'CPR': 0.17885024840312277,
 'CRP': 0.28149920255183414,
 'CRW': 0.36769394261424015,
 'CSG': 0.2672018348623853,
 'CVG': 0.28687912361508777,
 'CWA': 0.23941068139963168,
 'DAB': 0.17857142857142858,
 'DAL': 0.35542739443872295,
 'DAY': 0.28189390618149934,
 'DBQ': 0.21557719054242003,
 'DCA': 0.27607653876219285,
 'DEN': 0.3312588099073701,
 'DFW': 0.31973068872614924,
 'DHN': 0.36967294350842417,
 'DIK': 0.1673469387755102,
 'DLG': 0.19298245614035087,
 'DLH': 0.35465529495380244,
 'DRO': 0.28681253696037845,
 'DSM': 0.2882621951219512,
 'DTW': 0.2688158554942298,
 'DVL': 0.2741514360313316,
 'EAU': 0.2882703777335984,
 'ECP': 0.1780380673499268,
 'EGE': 0.3244397011739594,
 'EKO': 0.16473317865429235,
 'ELM': 0.30787878787878786,
 'ELP': 0.2683156901792265,
 'ERI': 0.31551724137931036,
 'ESC': 0.1662971175166297,
 'EUG': 0.2451856946354883,
 'EVV': 0.29766536964980544,
 'EWN': 0.26652452025586354,
 'EWR': 0.3040507142504078,
 'EYW': 0.19284802043422733,
 'FAI': 0.2480225988700565,
 'FAR': 0.282242172104226,
 'FAT': 0.31763879128601546,
 'FAY': 0.27012383900928794,
 'FCA': 0.18871473354231974,
 'FLG': 0.33101314771848417,
 'FLL': 0.2766840082967799,
 'FNT': 0.19957424161788184,
 'FSD': 0.33046594982078853,
 'FSM': 0.26898326898326896,
 'FWA': 0.2913064361191162,
 'GCC': 0.1623296158612144,
 'GCK': 0.2892249527410208,
 'GEG': 0.24838667193467667,
 'GFK': 0.29276315789473684,
 'GGG': 0.3346534653465347,
 'GJT': 0.22283682338996444,
 'GNV': 0.32069288389513106,
 'GPT': 0.2297486033519553,
 'GRB': 0.26835641494643325,
 'GRI': 0.2254335260115607,
 'GRK': 0.2603869330796067,
 'GRR': 0.24548228115465853,
 'GSO': 0.28833652007648186,
 'GSP': 0.246368501529052,
 'GST': 0.5818181818181818,
 'GTF': 0.19216646266829865,
 'GTR': 0.29987129987129985,
 'GUC': 0.36065573770491804,
 'GUM': 0.26199261992619927,
 'HDN': 0.3142857142857143,
 'HIB': 0.22192866578599735,
 'HLN': 0.1663778162911612,
 'HNL': 0.2388808160241616,
 'HOB': 0.20185614849187936,
 'HOU': 0.33513539260282454,
 'HPN': 0.3557546053743451,
 'HRL': 0.20201207243460764,
 'HSV': 0.2402125279642058,
 'HYA': 0.2711864406779661,
 'HYS': 0.2826552462526767,
 'IAD': 0.2958876265834271,
 'IAG': 0.32209737827715357,
 'IAH': 0.32859177376148657,
 'ICT': 0.2833592534992224,
 'IDA': 0.18379888268156425,
 'ILG': 0.4864864864864865,
 'ILM': 0.22279459111397296,
 'IMT': 0.21095334685598377,
 'IND': 0.2519351540820797,
 'INL': 0.23318385650224216,
 'ISN': 0.24356435643564356,
 'ISP': 0.25464949928469244,
 'ITH': 0.42105263157894735,
 'ITO': 0.20563741191543883,
 'JAC': 0.23452157598499063,
 'JAN': 0.26440203116792155,
 'JAX': 0.25385144429160933,
 'JFK': 0.30846968238691047,
 'JLN': 0.3030888030888031,
 'JMS': 0.2633279483037157,
 'JNU': 0.3101379724055189,
 'KOA': 0.22179074669921225,
 'KTN': 0.2994652406417112,
 'LAN': 0.2848605577689243,
 'LAR': 0.18021978021978022,
 'LAS': 0.3188431152280805,
 'LAW': 0.2702970297029703,
 'LAX': 0.3280808312323325,
 'LBB': 0.26488985586075603,
 'LBE': 0.32841691248770893,
 'LCH': 0.20161834120026972,
 'LEX': 0.24132162275198663,
 'LFT': 0.30614250614250615,
 'LGA': 0.32635896906684553,
 'LGB': 0.2801528878822197,
 'LIH': 0.21988976193268442,
 'LIT': 0.2898688915375447,
 'LNK': 0.2730278696268304,
 'LRD': 0.23411562678878076,
 'LSE': 0.2146118721461187,
 'LWS': 0.10655737704918032,
 'MAF': 0.2716218530570303,
 'MBS': 0.2603150787696924,
 'MCI': 0.27028153658693005,
 'MCO': 0.2998865385263489,
 'MDT': 0.21102302755756888,
 'MDW': 0.32400228138054354,
 'MEI': 0.3062068965517241,
 'MEM': 0.26416353775552776,
 'MFE': 0.2125340599455041,
 'MFR': 0.232408325074331,
 'MGM': 0.32987312572087657,
 'MHK': 0.2524790236460717,
 'MHT': 0.22954091816367264,
 'MIA': 0.33077171688153123,
 'MKE': 0.2596719669462877,
 'MKG': 0.29750479846449135,
 'MLB': 0.1870967741935484,
 'MLI': 0.30217755443886096,
 'MLU': 0.30928270042194095,
 'MMH': 0.3181818181818182,
 'MOB': 0.3189937106918239,
 'MOT': 0.23825065274151436,
 'MQT': 0.28512396694214875,
 'MRY': 0.2864583333333333,
 'MSN': 0.2469579646017699,
 'MSO': 0.203125,
 'MSP': 0.2613973445418623,
 'MSY': 0.25769781881865944,
 'MTJ': 0.2665764546684709,
 'MVY': 0.3431952662721893,
 'MYR': 0.3144813593710373,
 'OAJ': 0.3116591928251121,
 'OAK': 0.33513213931509245,
 'OGG': 0.2707178993013732,
 'OKC': 0.26862805346443386,
 'OMA': 0.265557700876281,
 'OME': 0.41346153846153844,
 'ONT': 0.2688112660499793,
 'ORD': 0.3366036577343099,
 'ORF': 0.2595470990218411,
 'ORH': 0.2466281310211946,
 'OTH': 0.38461538461538464,
 'OTZ': 0.36072144288577157,
 'PAH': 0.22396856581532418,
 'PBG': 0.4372093023255814,
 'PBI': 0.3165379701127715,
 'PDX': 0.23120545236980386,
 'PHF': 0.3121902874132805,
 'PHL': 0.3113022113022113,
 'PHX': 0.311523042716615,
 'PIA': 0.2889189189189189,
 'PIB': 0.2869757174392936,
 'PIH': 0.2178030303030303,
 'PIT': 0.22384112827958105,
 'PLN': 0.22569444444444445,
 'PNS': 0.24339659557816473,
 'PPG': 0.6046511627906976,
 'PSC': 0.2210953346855984,
 'PSE': 0.20198675496688742,
 'PSG': 0.31273408239700373,
 'PSP': 0.29781573788854665,
 'PUB': 0.2639593908629442,
 'PVD': 0.2463460894789691,
 'PWM': 0.2641858010029031,
 'RAP': 0.2748447204968944,
 'RDD': 0.19285714285714287,
 'RDM': 0.20679723502304148,
 'RDU': 0.2765448557089084,
 'RHI': 0.4093333333333333,
 'RIC': 0.2819832851173256,
 'RKS': 0.1989247311827957,
 'RNO': 0.2895184135977337,
 'ROA': 0.2889733840304182,
 'ROC': 0.24335687857383115,
 'ROW': 0.28647925033467203,
 'RST': 0.2707558859975217,
 'RSW': 0.27351057457494354,
 'SAF': 0.3185840707964602,
 'SAN': 0.28212556972759073,
 'SAT': 0.24081326556120322,
 'SAV': 0.2821963394342762,
 'SBA': 0.2643773272652048,
 'SBN': 0.30859703164379726,
 'SBP': 0.28640386162510056,
 'SCC': 0.257396449704142,
 'SCE': 0.25977653631284914,
 'SDF': 0.2536760163103917,
 'SEA': 0.2987984508953692,
 'SFO': 0.30850832608841033,
 'SGF': 0.32246893460990017,
 'SGU': 0.22773623385452074,
 'SHV': 0.3017580144777663,
 'SIT': 0.2556317335945152,
 'SJC': 0.2986865205800117,
 'SJT': 0.24293785310734464,
 'SJU': 0.2696858425132599,
 'SLC': 0.2362028107614908,
 'SMF': 0.30428340960721695,
 'SMX': 0.2545454545454545,
 'SNA': 0.2569069019269676,
 'SPI': 0.25565081839438814,
 'SPS': 0.2505330490405117,
 'SRQ': 0.23228200371057514,
 'STC': 0.43859649122807015,
 'STL': 0.2874146960799873,
 'STT': 0.27327147560610593,
 'STX': 0.324,
 'SUN': 0.21469740634005763,
 'SUX': 0.2556237218813906,
 'SWF': 0.31095406360424027,
 'SYR': 0.23916887709991158,
 'TLH': 0.24140625,
 'TOL': 0.21370967741935484,
 'TPA': 0.273480338398872,
 'TRI': 0.244140625,
 'TTN': 0.33537921964050854,
 'TUL': 0.2636891469405985,
 'TUS': 0.24878290287977556,
 'TVC': 0.24297752808988765,
 'TWF': 0.1884272997032641,
 'TXK': 0.26594301221166894,
 'TYR': 0.27491785323110624,
 'TYS': 0.3178519593613933,
 'UST': 0.38524590163934425,
 'VEL': 0.06451612903225806,
 'VLD': 0.3063063063063063,
 'VPS': 0.25678119349005424,
 'WRG': 0.2907662082514735,
 'WYS': 0.1513157894736842,
 'XNA': 0.3363234703440889,
 'YAK': 0.1891385767790262,
 'YUM': 0.22889182058047494}

In [0]:
des_airport_means=data.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean()
des_airport_means

DESTINATION_AIRPORT
ABE    0.285085
ABI    0.266520
ABQ    0.328412
ABR    0.200717
ABY    0.324750
         ...
WRG    0.311445
WYS    0.378205
XNA    0.350392
YAK    0.254789
YUM    0.259817
Name: OUTCOME, Length: 323, dtype: float64

In [0]:
des_di=dict(des_airport_means)
des_di

{'ABE': 0.28508530544854155,
 'ABI': 0.2665198237885463,
 'ABQ': 0.32841209464251175,
 'ABR': 0.2007168458781362,
 'ABY': 0.32474964234620884,
 'ACK': 0.26790450928381965,
 'ACT': 0.3401574803149606,
 'ACV': 0.345489443378119,
 'ACY': 0.36542443064182195,
 'ADK': 0.2727272727272727,
 'ADQ': 0.20765027322404372,
 'AEX': 0.3188755020080321,
 'AGS': 0.28407310704960836,
 'AKN': 0.35555555555555557,
 'ALB': 0.3178589129357344,
 'ALO': 0.2830578512396694,
 'AMA': 0.32260024301336576,
 'ANC': 0.3080713280150164,
 'APN': 0.19693654266958424,
 'ASE': 0.4669404517453799,
 'ATL': 0.23866842204250518,
 'ATW': 0.27523727351164795,
 'AUS': 0.32655962265370075,
 'AVL': 0.29235583370585605,
 'AVP': 0.36051899907321594,
 'AZO': 0.2422044960116026,
 'BDL': 0.3123311144796678,
 'BET': 0.2528409090909091,
 'BFL': 0.2932367149758454,
 'BGM': 0.23333333333333334,
 'BGR': 0.2635135135135135,
 'BHM': 0.30526628979470394,
 'BIL': 0.23694267515923567,
 'BIS': 0.2873973580863977,
 'BJI': 0.15196998123827393,
 'BLI': 0.21284403669724772,
 'BMI': 0.32018779342723,
 'BNA': 0.28394479796789485,
 'BOI': 0.3120462914255655,
 'BOS': 0.3133694419369025,
 'BPT': 0.42857142857142855,
 'BQK': 0.28669410150891633,
 'BQN': 0.4263206672845227,
 'BRD': 0.1288981288981289,
 'BRO': 0.2740174672489083,
 'BRW': 0.2887218045112782,
 'BSM': 0.24692622950819673,
 'BTM': 0.1669793621013133,
 'BTR': 0.3258623708632464,
 'BTV': 0.333739837398374,
 'BUF': 0.29449790641298756,
 'BUR': 0.27185605319773126,
 'BWI': 0.28135558956883355,
 'BZN': 0.25590147109134453,
 'CAE': 0.33245192307692306,
 'CAK': 0.27863458770306393,
 'CDC': 0.38333333333333336,
 'CDV': 0.27706422018348625,
 'CEC': 0.3492063492063492,
 'CHA': 0.29929161747343563,
 'CHO': 0.3273672055427252,
 'CHS': 0.29097510373443985,
 'CID': 0.32217177449867573,
 'CIU': 0.250996015936255,
 'CLD': 0.24579831932773108,
 'CLE': 0.28034537116652336,
 'CLL': 0.2498627127951675,
 'CLT': 0.27705387330026404,
 'CMH': 0.2975557373696052,
 'CMI': 0.2476019184652278,
 'CMX': 0.2459016393442623,
 'CNY': 0.07482993197278912,
 'COD': 0.2962962962962963,
 'COS': 0.3613673358654368,
 'COU': 0.3343108504398827,
 'CPR': 0.20223152022315202,
 'CRP': 0.35673277661795405,
 'CRW': 0.31979166666666664,
 'CSG': 0.32373271889400923,
 'CVG': 0.3112260799102412,
 'CWA': 0.31178033658104515,
 'DAB': 0.21742808798646363,
 'DAL': 0.2899370287513464,
 'DAY': 0.29912663755458513,
 'DBQ': 0.26676176890156916,
 'DCA': 0.2901581692461902,
 'DEN': 0.29737870760370555,
 'DFW': 0.28471694127587666,
 'DHN': 0.2770137524557957,
 'DIK': 0.1954177897574124,
 'DLG': 0.16666666666666666,
 'DLH': 0.2892679459843639,
 'DRO': 0.25872442839951865,
 'DSM': 0.31644806271671944,
 'DTW': 0.26480375621096774,
 'DVL': 0.2630208333333333,
 'EAU': 0.30925925925925923,
 'ECP': 0.25574455386451805,
 'EGE': 0.32122587968217936,
 'EKO': 0.18032786885245902,
 'ELM': 0.31780167264038234,
 'ELP': 0.33957966663215655,
 'ERI': 0.314878892733564,
 'ESC': 0.19318181818181818,
 'EUG': 0.3048907388137357,
 'EVV': 0.2552914360143276,
 'EWN': 0.36123348017621143,
 'EWR': 0.3132821811680572,
 'EYW': 0.23261694058154236,
 'FAI': 0.30786516853932583,
 'FAR': 0.2955812955812956,
 'FAT': 0.3178877426123448,
 'FAY': 0.251685393258427,
 'FCA': 0.25125313283208023,
 'FLG': 0.294478527607362,
 'FLL': 0.3211846654290921,
 'FNT': 0.26931216931216934,
 'FSD': 0.3441849492804907,
 'FSM': 0.36197094125078966,
 'FWA': 0.2761882241664696,
 'GCC': 0.2027194066749073,
 'GCK': 0.3157894736842105,
 'GEG': 0.27840327533265097,
 'GFK': 0.23267326732673269,
 'GGG': 0.2769857433808554,
 'GJT': 0.2506908803789972,
 'GNV': 0.31342592592592594,
 'GPT': 0.29411764705882354,
 'GRB': 0.27743431221020093,
 'GRI': 0.22736418511066397,
 'GRK': 0.2835868187579214,
 'GRR': 0.30382968876547495,
 'GSO': 0.3100338218714769,
 'GSP': 0.3076923076923077,
 'GST': 0.47368421052631576,
 'GTF': 0.22590738423028786,
 'GTR': 0.24015748031496062,
 'GUC': 0.3988919667590028,
 'GUM': 0.45787545787545786,
 'HDN': 0.30566037735849055,
 'HIB': 0.22566995768688294,
 'HLN': 0.20575783234546993,
 'HNL': 0.3137529670832499,
 'HOB': 0.2678983833718245,
 'HOU': 0.2910639318699772,
 'HPN': 0.34315395095367845,
 'HRL': 0.2887181560857258,
 'HSV': 0.2680815414688634,
 'HYA': 0.2807017543859649,
 'HYS': 0.20335429769392033,
 'IAD': 0.2749474599608667,
 'IAG': 0.3723849372384937,
 'IAH': 0.299325254632995,
 'ICT': 0.3249385749385749,
 'IDA': 0.23951434878587197,
 'ILG': 0.4722222222222222,
 'ILM': 0.2588157019294744,
 'IMT': 0.16527196652719664,
 'IND': 0.2870415174683054,
 'INL': 0.18722466960352424,
 'ISN': 0.24592592592592594,
 'ISP': 0.3400971706201772,
 'ITH': 0.2857142857142857,
 'ITO': 0.22048089308716187,
 'JAC': 0.30996589617279274,
 'JAN': 0.28952481893658366,
 'JAX': 0.310720899924549,
 'JFK': 0.31082343520619243,
 'JLN': 0.31844660194174756,
 'JMS': 0.27768860353130015,
 'JNU': 0.2816728167281673,
 'KOA': 0.23692683468413456,
 'KTN': 0.31149361465852304,
 'LAN': 0.2650130548302872,
 'LAR': 0.1956521739130435,
 'LAS': 0.2877086214845551,
 'LAW': 0.30434782608695654,
 'LAX': 0.3412347841539418,
 'LBB': 0.3433685923515053,
 'LBE': 0.34084231145935356,
 'LCH': 0.2488356620093147,
 'LEX': 0.2670820353063344,
 'LFT': 0.2935689739813451,
 'LGA': 0.35842303203216186,
 'LGB': 0.2637223084520954,
 'LIH': 0.23912274495932084,
 'LIT': 0.31972228759708166,
 'LNK': 0.3348708487084871,
 'LRD': 0.2857142857142857,
 'LSE': 0.2471395881006865,
 'LWS': 0.11663066954643629,
 'MAF': 0.33118425517475397,
 'MBS': 0.3177842565597668,
 'MCI': 0.30417704541099827,
 'MCO': 0.3055386966979117,
 'MDT': 0.25942857142857145,
 'MDW': 0.26873077458148487,
 'MEI': 0.2959889349930844,
 'MEM': 0.3058784179279204,
 'MFE': 0.309145880574452,
 'MFR': 0.2916876574307305,
 'MGM': 0.3313930927435002,
 'MHK': 0.2764098490865767,
 'MHT': 0.3242706886286962,
 'MIA': 0.3142184946391049,
 'MKE': 0.27848048424128574,
 'MKG': 0.2834331337325349,
 'MLB': 0.2584053794428434,
 'MLI': 0.33561175666438825,
 'MLU': 0.2929336188436831,
 'MMH': 0.34285714285714286,
 'MOB': 0.3214822233350025,
 'MOT': 0.29927007299270075,
 'MQT': 0.36475409836065575,
 'MRY': 0.3065436978480457,
 'MSN': 0.27091963545981773,
 'MSO': 0.22070196311719215,
 'MSP': 0.2770215559689244,
 'MSY': 0.28076289443670005,
 'MTJ': 0.38503401360544215,
 'MVY': 0.24183006535947713,
 'MYR': 0.3186064125220904,
 'OAJ': 0.3450479233226837,
 'OAK': 0.29870850864890136,
 'OGG': 0.27846291331546025,
 'OKC': 0.33004436285757993,
 'OMA': 0.30063760379596677,
 'OME': 0.3313373253493014,
 'ONT': 0.3123629385964912,
 'ORD': 0.30642610790787,
 'ORF': 0.3116779593463531,
 'ORH': 0.2332089552238806,
 'OTH': 0.451063829787234,
 'OTZ': 0.25918762088974856,
 'PAH': 0.2868686868686869,
 'PBG': 0.502283105022831,
 'PBI': 0.3361862946701495,
 'PDX': 0.25678621477137076,
 'PHF': 0.314484126984127,
 'PHL': 0.30571229076635653,
 'PHX': 0.28880772020987633,
 'PIA': 0.27197655833777307,
 'PIB': 0.3051948051948052,
 'PIH': 0.195357833655706,
 'PIT': 0.2850244027742101,
 'PLN': 0.2528548123980424,
 'PNS': 0.30100658149438636,
 'PPG': 0.2894736842105263,
 'PSC': 0.28231120121642167,
 'PSE': 0.4295652173913043,
 'PSG': 0.302734375,
 'PSP': 0.29518320296418277,
 'PUB': 0.234375,
 'PVD': 0.30689848569826134,
 'PWM': 0.3249135868120181,
 'RAP': 0.28734726054394955,
 'RDD': 0.3269230769230769,
 'RDM': 0.25071225071225073,
 'RDU': 0.30385434824714314,
 'RHI': 0.20622568093385213,
 'RIC': 0.31381903452737125,
 'RKS': 0.21928166351606806,
 'RNO': 0.2998294808639636,
 'ROA': 0.31123287671232874,
 'ROC': 0.2833610648918469,
 'ROW': 0.28437917222963954,
 'RST': 0.2590546347452425,
 'RSW': 0.2868350199610064,
 'SAF': 0.2864583333333333,
 'SAN': 0.2948359466251372,
 'SAT': 0.32316511841995144,
 'SAV': 0.2995193104591414,
 'SBA': 0.27263499796995533,
 'SBN': 0.3041308566675908,
 'SBP': 0.26900119379228016,
 'SCC': 0.22158273381294963,
 'SCE': 0.37166900420757365,
 'SDF': 0.29289577187807275,
 'SEA': 0.2875231043375281,
 'SFO': 0.31654141616566467,
 'SGF': 0.3261802575107296,
 'SGU': 0.3038749150237933,
 'SHV': 0.3084054388133498,
 'SIT': 0.2689463955637708,
 'SJC': 0.2908423019913643,
 'SJT': 0.2815686274509804,
 'SJU': 0.33963124303515346,
 'SLC': 0.22018348623853212,
 'SMF': 0.3038074831053239,
 'SMX': 0.23809523809523808,
 'SNA': 0.26235059760956175,
 'SPI': 0.32644956314535345,
 'SPS': 0.2770199370409234,
 'SRQ': 0.24962908011869436,
 'STC': 0.5172413793103449,
 'STL': 0.2834531996430259,
 'STT': 0.3079859072225484,
 'STX': 0.3563968668407311,
 'SUN': 0.2470414201183432,
 'SUX': 0.25736738703339884,
 'SWF': 0.3249551166965889,
 'SYR': 0.29696436427628686,
 'TLH': 0.27379553466509987,
 'TOL': 0.2110344827586207,
 'TPA': 0.2895343386202047,
 'TRI': 0.22236340533672172,
 'TTN': 0.40360915492957744,
 'TUL': 0.3184145480225989,
 'TUS': 0.3148643175374646,
 'TVC': 0.25346260387811637,
 'TWF': 0.26777609682299547,
 'TXK': 0.29427430093209056,
 'TYR': 0.3163656267104543,
 'TYS': 0.35379644588045234,
 'UST': 0.3504273504273504,
 'VEL': 0.045454545454545456,
 'VLD': 0.31501340482573725,
 'VPS': 0.29701686121919585,
 'WRG': 0.31144465290806755,
 'WYS': 0.3782051282051282,
 'XNA': 0.3503915743991358,
 'YAK': 0.2547892720306513,
 'YUM': 0.25981675392670156}

In [0]:
############ DO RUN THIS ############



df['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT'].map(df.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean())
df['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT'].map(df.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean())
df

In [0]:
data['ORIGIN_AIRPORT']=data['ORIGIN_AIRPORT'].map(ori_di)
data['DESTINATION_AIRPORT']=data['DESTINATION_AIRPORT'].map(des_di)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE  OUTCOME
1526864  2015      4   11  ...               15                 34        0
2974366  2015      7   10  ...               14                 51        0
2162801  2015      5   21  ...               13                 20        1
4975047  2015     11   13  ...                8                 42        0
3559430  2015      8   14  ...               15                 16        0
...       ...    ...  ...  ...              ...                ...      ...
4985584  2015     11   13  ...               19                 42        1
4390712  2015     10    6  ...               19                 23        0
3684895  2015      8   22  ...               12                  3        0
560968   2015      2    8  ...               13                 13        1
1429176  2015      4    5  ...               15                  4        0

[4285506 rows x 56 columns]

In [0]:
dep_del_means=data.groupby('DEPARTURE_DELAY')['OUTCOME'].mean()
dep_del_means

DEPARTURE_DELAY
-82.0      0.0
-68.0      0.0
-61.0      0.0
-56.0      0.0
-52.0      0.0
          ...
 1609.0    1.0
 1625.0    1.0
 1631.0    1.0
 1878.0    1.0
 1988.0    1.0
Name: OUTCOME, Length: 1152, dtype: float64

In [0]:
dep_del_di=dict(dep_del_means)
dep_del_di

{-82.0: 0.0,
 -68.0: 0.0,
 -61.0: 0.0,
 -56.0: 0.0,
 -52.0: 0.0,
 -48.0: 0.0,
 -46.0: 0.0,
 -45.0: 0.0,
 -44.0: 0.0,
 -43.0: 0.0,
 -42.0: 0.0,
 -41.0: 0.0,
 -40.0: 0.0,
 -39.0: 0.0,
 -38.0: 0.0,
 -37.0: 0.0,
 -36.0: 0.0,
 -35.0: 0.0,
 -34.0: 0.0,
 -33.0: 0.0,
 -32.0: 0.045454545454545456,
 -31.0: 0.07407407407407407,
 -30.0: 0.06666666666666667,
 -29.0: 0.08823529411764706,
 -28.0: 0.014492753623188406,
 -27.0: 0.014084507042253521,
 -26.0: 0.016,
 -25.0: 0.012422360248447204,
 -24.0: 0.03070175438596491,
 -23.0: 0.028011204481792718,
 -22.0: 0.02771855010660981,
 -21.0: 0.024853801169590642,
 -20.0: 0.025210084033613446,
 -19.0: 0.027815468113975575,
 -18.0: 0.03569814731134207,
 -17.0: 0.032188841201716736,
 -16.0: 0.036605657237936774,
 -15.0: 0.04482186183118376,
 -14.0: 0.04629374483328741,
 -13.0: 0.05240174672489083,
 -12.0: 0.05249206795453633,
 -11.0: 0.05821160998221312,
 -10.0: 0.06315694558944765,
 -9.0: 0.06760711584623985,
 -8.0: 0.07084745762711864,
 -7.0: 0.07630871117320587,
 -6.0: 0.07803131142879514,
 -5.0: 0.08208768623720047,
 -4.0: 0.09167683128338551,
 -3.0: 0.09977165867374192,
 -2.0: 0.11349365315376203,
 -1.0: 0.1309616645388358,
 0.0: 0.16031035923310608,
 1.0: 0.1773372287145242,
 2.0: 0.19963935832169677,
 3.0: 0.22790715509087656,
 4.0: 0.2559929908219985,
 5.0: 0.2863558022231709,
 6.0: 0.320267534981959,
 7.0: 0.3572935385576998,
 8.0: 0.39203416346031883,
 9.0: 0.42890390220756036,
 10.0: 0.4708660273176402,
 11.0: 0.5133608631943519,
 12.0: 0.5511857875499391,
 13.0: 0.5936631122246326,
 14.0: 0.6313429926580469,
 15.0: 0.663662840500257,
 16.0: 0.6956164894609215,
 17.0: 0.7318589642688493,
 18.0: 0.7615178421846205,
 19.0: 0.7886779184247539,
 20.0: 0.8154860726803173,
 21.0: 0.8431977699238389,
 22.0: 0.861222128733698,
 23.0: 0.8745961002785515,
 24.0: 0.8897715412269511,
 25.0: 0.9072886989553656,
 26.0: 0.916269483447121,
 27.0: 0.929780146568954,
 28.0: 0.9411395056556346,
 29.0: 0.948483741322616,
 30.0: 0.9531939947012069,
 31.0: 0.9593851132686084,
 32.0: 0.9659234328986117,
 33.0: 0.9718408395277657,
 34.0: 0.9753650452387351,
 35.0: 0.9791532146480952,
 36.0: 0.9807578448786264,
 37.0: 0.9834896045658378,
 38.0: 0.9855672291202378,
 39.0: 0.9871822724310233,
 40.0: 0.9909769410716275,
 41.0: 0.9903640256959315,
 42.0: 0.9925220118200458,
 43.0: 0.9943707780835627,
 44.0: 0.9946849883329012,
 45.0: 0.9962259239979178,
 46.0: 0.9944911169260432,
 47.0: 0.9962530624009224,
 48.0: 0.9980418737761712,
 49.0: 0.9978540772532188,
 50.0: 0.9975358077930079,
 51.0: 0.99850622406639,
 52.0: 0.9986789960369881,
 53.0: 0.9984639016897081,
 54.0: 0.9982578397212544,
 55.0: 0.9984536082474227,
 56.0: 0.9981135634785889,
 57.0: 0.9996150885296382,
 58.0: 0.9998028391167192,
 59.0: 1.0,
 60.0: 0.9996016729735112,
 61.0: 1.0,
 62.0: 1.0,
 63.0: 0.9997742153985099,
 64.0: 0.9997624703087886,
 65.0: 0.9997696383321816,
 66.0: 1.0,
 67.0: 0.9997500624843789,
 68.0: 1.0,
 69.0: 1.0,
 70.0: 1.0,
 71.0: 1.0,
 72.0: 1.0,
 73.0: 1.0,
 74.0: 1.0,
 75.0: 0.999697519661222,
 76.0: 1.0,
 77.0: 1.0,
 78.0: 1.0,
 79.0: 1.0,
 80.0: 1.0,
 81.0: 1.0,
 82.0: 1.0,
 83.0: 1.0,
 84.0: 1.0,
 85.0: 1.0,
 86.0: 1.0,
 87.0: 1.0,
 88.0: 1.0,
 89.0: 1.0,
 90.0: 1.0,
 91.0: 1.0,
 92.0: 1.0,
 93.0: 1.0,
 94.0: 1.0,
 95.0: 1.0,
 96.0: 1.0,
 97.0: 1.0,
 98.0: 1.0,
 99.0: 1.0,
 100.0: 1.0,
 101.0: 1.0,
 102.0: 1.0,
 103.0: 1.0,
 104.0: 1.0,
 105.0: 1.0,
 106.0: 1.0,
 107.0: 1.0,
 108.0: 1.0,
 109.0: 1.0,
 110.0: 1.0,
 111.0: 1.0,
 112.0: 1.0,
 113.0: 1.0,
 114.0: 1.0,
 115.0: 1.0,
 116.0: 1.0,
 117.0: 1.0,
 118.0: 1.0,
 119.0: 1.0,
 120.0: 1.0,
 121.0: 1.0,
 122.0: 1.0,
 123.0: 1.0,
 124.0: 1.0,
 125.0: 1.0,
 126.0: 1.0,
 127.0: 1.0,
 128.0: 1.0,
 129.0: 1.0,
 130.0: 1.0,
 131.0: 1.0,
 132.0: 1.0,
 133.0: 1.0,
 134.0: 1.0,
 135.0: 1.0,
 136.0: 1.0,
 137.0: 1.0,
 138.0: 1.0,
 139.0: 1.0,
 140.0: 1.0,
 141.0: 1.0,
 142.0: 1.0,
 143.0: 1.0,
 144.0: 1.0,
 145.0: 1.0,
 146.0: 1.0,
 147.0: 1.0,
 148.0: 1.0,
 149.0: 1.0,
 150.0: 1.0,
 151.0: 1.0,
 152.0: 1.0,
 153.0: 1.0,
 154.0: 1.0,
 155.0: 1.0,
 156.0: 1.0,
 157.0: 1.0,
 158.0: 1.0,
 159.0: 1.0,
 160.0: 1.0,
 161.0: 1.0,
 162.0: 1.0,
 163.0: 1.0,
 164.0: 1.0,
 165.0: 1.0,
 166.0: 1.0,
 167.0: 1.0,
 168.0: 1.0,
 169.0: 1.0,
 170.0: 1.0,
 171.0: 1.0,
 172.0: 1.0,
 173.0: 1.0,
 174.0: 1.0,
 175.0: 1.0,
 176.0: 1.0,
 177.0: 1.0,
 178.0: 1.0,
 179.0: 1.0,
 180.0: 1.0,
 181.0: 1.0,
 182.0: 1.0,
 183.0: 1.0,
 184.0: 0.9978260869565218,
 185.0: 1.0,
 186.0: 1.0,
 187.0: 1.0,
 188.0: 1.0,
 189.0: 1.0,
 190.0: 1.0,
 191.0: 1.0,
 192.0: 1.0,
 193.0: 1.0,
 194.0: 1.0,
 195.0: 1.0,
 196.0: 1.0,
 197.0: 1.0,
 198.0: 1.0,
 199.0: 1.0,
 200.0: 1.0,
 201.0: 1.0,
 202.0: 1.0,
 203.0: 1.0,
 204.0: 1.0,
 205.0: 1.0,
 206.0: 1.0,
 207.0: 1.0,
 208.0: 1.0,
 209.0: 1.0,
 210.0: 1.0,
 211.0: 1.0,
 212.0: 1.0,
 213.0: 1.0,
 214.0: 1.0,
 215.0: 1.0,
 216.0: 1.0,
 217.0: 1.0,
 218.0: 1.0,
 219.0: 1.0,
 220.0: 1.0,
 221.0: 1.0,
 222.0: 1.0,
 223.0: 1.0,
 224.0: 1.0,
 225.0: 1.0,
 226.0: 1.0,
 227.0: 1.0,
 228.0: 1.0,
 229.0: 1.0,
 230.0: 1.0,
 231.0: 1.0,
 232.0: 1.0,
 233.0: 1.0,
 234.0: 1.0,
 235.0: 1.0,
 236.0: 1.0,
 237.0: 1.0,
 238.0: 1.0,
 239.0: 1.0,
 240.0: 1.0,
 241.0: 1.0,
 242.0: 1.0,
 243.0: 1.0,
 244.0: 1.0,
 245.0: 1.0,
 246.0: 1.0,
 247.0: 1.0,
 248.0: 1.0,
 249.0: 1.0,
 250.0: 1.0,
 251.0: 1.0,
 252.0: 1.0,
 253.0: 1.0,
 254.0: 1.0,
 255.0: 1.0,
 256.0: 1.0,
 257.0: 1.0,
 258.0: 1.0,
 259.0: 1.0,
 260.0: 1.0,
 261.0: 1.0,
 262.0: 1.0,
 263.0: 1.0,
 264.0: 1.0,
 265.0: 1.0,
 266.0: 1.0,
 267.0: 1.0,
 268.0: 1.0,
 269.0: 1.0,
 270.0: 1.0,
 271.0: 1.0,
 272.0: 1.0,
 273.0: 1.0,
 274.0: 1.0,
 275.0: 1.0,
 276.0: 1.0,
 277.0: 1.0,
 278.0: 1.0,
 279.0: 1.0,
 280.0: 1.0,
 281.0: 1.0,
 282.0: 1.0,
 283.0: 1.0,
 284.0: 1.0,
 285.0: 1.0,
 286.0: 1.0,
 287.0: 1.0,
 288.0: 1.0,
 289.0: 1.0,
 290.0: 1.0,
 291.0: 1.0,
 292.0: 1.0,
 293.0: 1.0,
 294.0: 1.0,
 295.0: 1.0,
 296.0: 1.0,
 297.0: 1.0,
 298.0: 1.0,
 299.0: 1.0,
 300.0: 1.0,
 301.0: 1.0,
 302.0: 1.0,
 303.0: 1.0,
 304.0: 1.0,
 305.0: 1.0,
 306.0: 1.0,
 307.0: 1.0,
 308.0: 1.0,
 309.0: 1.0,
 310.0: 1.0,
 311.0: 1.0,
 312.0: 1.0,
 313.0: 1.0,
 314.0: 1.0,
 315.0: 1.0,
 316.0: 1.0,
 317.0: 1.0,
 318.0: 1.0,
 319.0: 1.0,
 320.0: 1.0,
 321.0: 1.0,
 322.0: 1.0,
 323.0: 1.0,
 324.0: 1.0,
 325.0: 1.0,
 326.0: 1.0,
 327.0: 1.0,
 328.0: 1.0,
 329.0: 1.0,
 330.0: 1.0,
 331.0: 1.0,
 332.0: 1.0,
 333.0: 1.0,
 334.0: 1.0,
 335.0: 1.0,
 336.0: 1.0,
 337.0: 1.0,
 338.0: 1.0,
 339.0: 1.0,
 340.0: 1.0,
 341.0: 1.0,
 342.0: 1.0,
 343.0: 1.0,
 344.0: 1.0,
 345.0: 1.0,
 346.0: 1.0,
 347.0: 1.0,
 348.0: 1.0,
 349.0: 1.0,
 350.0: 1.0,
 351.0: 1.0,
 352.0: 1.0,
 353.0: 1.0,
 354.0: 1.0,
 355.0: 1.0,
 356.0: 1.0,
 357.0: 1.0,
 358.0: 1.0,
 359.0: 1.0,
 360.0: 1.0,
 361.0: 1.0,
 362.0: 1.0,
 363.0: 1.0,
 364.0: 1.0,
 365.0: 1.0,
 366.0: 1.0,
 367.0: 1.0,
 368.0: 1.0,
 369.0: 1.0,
 370.0: 1.0,
 371.0: 1.0,
 372.0: 1.0,
 373.0: 1.0,
 374.0: 1.0,
 375.0: 1.0,
 376.0: 1.0,
 377.0: 1.0,
 378.0: 1.0,
 379.0: 1.0,
 380.0: 1.0,
 381.0: 1.0,
 382.0: 1.0,
 383.0: 1.0,
 384.0: 1.0,
 385.0: 1.0,
 386.0: 1.0,
 387.0: 1.0,
 388.0: 1.0,
 389.0: 1.0,
 390.0: 1.0,
 391.0: 1.0,
 392.0: 1.0,
 393.0: 1.0,
 394.0: 1.0,
 395.0: 1.0,
 396.0: 1.0,
 397.0: 1.0,
 398.0: 1.0,
 399.0: 1.0,
 400.0: 1.0,
 401.0: 1.0,
 402.0: 1.0,
 403.0: 1.0,
 404.0: 1.0,
 405.0: 1.0,
 406.0: 1.0,
 407.0: 1.0,
 408.0: 1.0,
 409.0: 1.0,
 410.0: 1.0,
 411.0: 1.0,
 412.0: 1.0,
 413.0: 1.0,
 414.0: 1.0,
 415.0: 1.0,
 416.0: 1.0,
 417.0: 1.0,
 418.0: 1.0,
 419.0: 1.0,
 420.0: 1.0,
 421.0: 1.0,
 422.0: 1.0,
 423.0: 1.0,
 424.0: 1.0,
 425.0: 1.0,
 426.0: 1.0,
 427.0: 1.0,
 428.0: 1.0,
 429.0: 1.0,
 430.0: 1.0,
 431.0: 1.0,
 432.0: 1.0,
 433.0: 1.0,
 434.0: 1.0,
 435.0: 1.0,
 436.0: 1.0,
 437.0: 1.0,
 438.0: 1.0,
 439.0: 1.0,
 440.0: 1.0,
 441.0: 1.0,
 442.0: 1.0,
 443.0: 1.0,
 444.0: 1.0,
 445.0: 1.0,
 446.0: 1.0,
 447.0: 1.0,
 448.0: 1.0,
 449.0: 1.0,
 450.0: 1.0,
 451.0: 1.0,
 452.0: 1.0,
 453.0: 1.0,
 454.0: 1.0,
 455.0: 1.0,
 456.0: 1.0,
 457.0: 1.0,
 458.0: 1.0,
 459.0: 1.0,
 460.0: 1.0,
 461.0: 1.0,
 462.0: 1.0,
 463.0: 1.0,
 464.0: 1.0,
 465.0: 1.0,
 466.0: 1.0,
 467.0: 1.0,
 468.0: 1.0,
 469.0: 1.0,
 470.0: 1.0,
 471.0: 1.0,
 472.0: 1.0,
 473.0: 1.0,
 474.0: 1.0,
 475.0: 1.0,
 476.0: 1.0,
 477.0: 1.0,
 478.0: 1.0,
 479.0: 1.0,
 480.0: 1.0,
 481.0: 1.0,
 482.0: 1.0,
 483.0: 1.0,
 484.0: 1.0,
 485.0: 1.0,
 486.0: 1.0,
 487.0: 1.0,
 488.0: 1.0,
 489.0: 1.0,
 490.0: 1.0,
 491.0: 1.0,
 492.0: 1.0,
 493.0: 1.0,
 494.0: 1.0,
 495.0: 1.0,
 496.0: 1.0,
 497.0: 1.0,
 498.0: 1.0,
 499.0: 1.0,
 500.0: 1.0,
 501.0: 1.0,
 502.0: 1.0,
 503.0: 1.0,
 504.0: 1.0,
 505.0: 1.0,
 506.0: 1.0,
 507.0: 1.0,
 508.0: 1.0,
 509.0: 1.0,
 510.0: 1.0,
 511.0: 1.0,
 512.0: 1.0,
 513.0: 1.0,
 514.0: 1.0,
 515.0: 1.0,
 516.0: 1.0,
 517.0: 1.0,
 518.0: 1.0,
 519.0: 1.0,
 520.0: 1.0,
 521.0: 1.0,
 522.0: 1.0,
 523.0: 1.0,
 524.0: 1.0,
 525.0: 1.0,
 526.0: 1.0,
 527.0: 1.0,
 528.0: 1.0,
 529.0: 1.0,
 530.0: 1.0,
 531.0: 1.0,
 532.0: 1.0,
 533.0: 1.0,
 534.0: 1.0,
 535.0: 1.0,
 536.0: 1.0,
 537.0: 1.0,
 538.0: 1.0,
 539.0: 1.0,
 540.0: 1.0,
 541.0: 1.0,
 542.0: 1.0,
 543.0: 1.0,
 544.0: 1.0,
 545.0: 1.0,
 546.0: 1.0,
 547.0: 1.0,
 548.0: 1.0,
 549.0: 1.0,
 550.0: 1.0,
 551.0: 1.0,
 552.0: 1.0,
 553.0: 1.0,
 554.0: 1.0,
 555.0: 1.0,
 556.0: 1.0,
 557.0: 1.0,
 558.0: 1.0,
 559.0: 1.0,
 560.0: 1.0,
 561.0: 1.0,
 562.0: 1.0,
 563.0: 1.0,
 564.0: 1.0,
 565.0: 1.0,
 566.0: 1.0,
 567.0: 1.0,
 568.0: 1.0,
 569.0: 1.0,
 570.0: 1.0,
 571.0: 1.0,
 572.0: 1.0,
 573.0: 1.0,
 574.0: 1.0,
 575.0: 1.0,
 576.0: 1.0,
 577.0: 1.0,
 578.0: 1.0,
 579.0: 1.0,
 580.0: 1.0,
 581.0: 1.0,
 582.0: 1.0,
 583.0: 1.0,
 584.0: 1.0,
 585.0: 1.0,
 586.0: 1.0,
 587.0: 1.0,
 588.0: 1.0,
 589.0: 1.0,
 590.0: 1.0,
 591.0: 1.0,
 592.0: 1.0,
 593.0: 1.0,
 594.0: 1.0,
 595.0: 1.0,
 596.0: 1.0,
 597.0: 1.0,
 598.0: 1.0,
 599.0: 1.0,
 600.0: 1.0,
 601.0: 1.0,
 602.0: 1.0,
 603.0: 1.0,
 604.0: 1.0,
 605.0: 1.0,
 606.0: 1.0,
 607.0: 1.0,
 608.0: 1.0,
 609.0: 1.0,
 610.0: 1.0,
 611.0: 1.0,
 612.0: 1.0,
 613.0: 1.0,
 614.0: 1.0,
 615.0: 1.0,
 616.0: 1.0,
 617.0: 1.0,
 618.0: 1.0,
 619.0: 1.0,
 620.0: 1.0,
 621.0: 1.0,
 622.0: 1.0,
 623.0: 1.0,
 624.0: 1.0,
 625.0: 1.0,
 626.0: 1.0,
 628.0: 1.0,
 629.0: 1.0,
 630.0: 1.0,
 631.0: 1.0,
 632.0: 1.0,
 633.0: 1.0,
 634.0: 1.0,
 635.0: 1.0,
 636.0: 1.0,
 637.0: 1.0,
 638.0: 1.0,
 639.0: 1.0,
 640.0: 1.0,
 642.0: 1.0,
 643.0: 1.0,
 644.0: 1.0,
 645.0: 1.0,
 646.0: 1.0,
 647.0: 1.0,
 648.0: 1.0,
 649.0: 1.0,
 650.0: 1.0,
 651.0: 1.0,
 652.0: 1.0,
 653.0: 1.0,
 654.0: 1.0,
 655.0: 1.0,
 656.0: 1.0,
 657.0: 1.0,
 658.0: 1.0,
 659.0: 1.0,
 660.0: 1.0,
 661.0: 1.0,
 662.0: 1.0,
 663.0: 1.0,
 664.0: 1.0,
 665.0: 1.0,
 666.0: 1.0,
 667.0: 1.0,
 668.0: 1.0,
 669.0: 1.0,
 671.0: 1.0,
 672.0: 1.0,
 673.0: 1.0,
 674.0: 1.0,
 675.0: 1.0,
 676.0: 1.0,
 677.0: 1.0,
 678.0: 1.0,
 679.0: 1.0,
 680.0: 1.0,
 681.0: 1.0,
 682.0: 1.0,
 684.0: 1.0,
 686.0: 1.0,
 687.0: 1.0,
 688.0: 1.0,
 689.0: 1.0,
 690.0: 1.0,
 691.0: 1.0,
 692.0: 1.0,
 693.0: 1.0,
 694.0: 1.0,
 695.0: 1.0,
 696.0: 1.0,
 697.0: 1.0,
 698.0: 1.0,
 699.0: 1.0,
 700.0: 1.0,
 701.0: 1.0,
 702.0: 1.0,
 704.0: 1.0,
 705.0: 1.0,
 706.0: 1.0,
 707.0: 1.0,
 708.0: 1.0,
 709.0: 1.0,
 710.0: 1.0,
 711.0: 1.0,
 712.0: 1.0,
 713.0: 1.0,
 714.0: 1.0,
 715.0: 1.0,
 716.0: 1.0,
 717.0: 1.0,
 718.0: 1.0,
 719.0: 1.0,
 720.0: 1.0,
 721.0: 1.0,
 722.0: 1.0,
 723.0: 1.0,
 724.0: 1.0,
 725.0: 1.0,
 726.0: 1.0,
 727.0: 1.0,
 728.0: 1.0,
 729.0: 1.0,
 730.0: 1.0,
 731.0: 1.0,
 732.0: 1.0,
 733.0: 1.0,
 735.0: 1.0,
 736.0: 1.0,
 737.0: 1.0,
 739.0: 1.0,
 740.0: 1.0,
 741.0: 1.0,
 742.0: 1.0,
 743.0: 1.0,
 744.0: 1.0,
 745.0: 1.0,
 746.0: 1.0,
 747.0: 1.0,
 748.0: 1.0,
 749.0: 1.0,
 750.0: 1.0,
 751.0: 1.0,
 752.0: 1.0,
 753.0: 1.0,
 754.0: 1.0,
 755.0: 1.0,
 756.0: 1.0,
 757.0: 1.0,
 758.0: 1.0,
 759.0: 1.0,
 761.0: 1.0,
 762.0: 1.0,
 763.0: 1.0,
 764.0: 1.0,
 765.0: 1.0,
 767.0: 1.0,
 768.0: 1.0,
 770.0: 1.0,
 771.0: 1.0,
 772.0: 1.0,
 773.0: 1.0,
 774.0: 1.0,
 775.0: 1.0,
 777.0: 1.0,
 778.0: 1.0,
 779.0: 1.0,
 780.0: 1.0,
 781.0: 1.0,
 782.0: 1.0,
 783.0: 1.0,
 784.0: 1.0,
 785.0: 1.0,
 786.0: 1.0,
 787.0: 1.0,
 788.0: 1.0,
 789.0: 1.0,
 790.0: 1.0,
 791.0: 1.0,
 792.0: 1.0,
 793.0: 1.0,
 795.0: 1.0,
 796.0: 1.0,
 797.0: 1.0,
 798.0: 1.0,
 799.0: 1.0,
 800.0: 1.0,
 801.0: 1.0,
 802.0: 1.0,
 803.0: 1.0,
 804.0: 1.0,
 805.0: 1.0,
 806.0: 1.0,
 808.0: 1.0,
 809.0: 1.0,
 810.0: 1.0,
 811.0: 1.0,
 812.0: 1.0,
 813.0: 1.0,
 814.0: 1.0,
 815.0: 1.0,
 816.0: 1.0,
 817.0: 1.0,
 818.0: 1.0,
 819.0: 1.0,
 823.0: 1.0,
 824.0: 1.0,
 825.0: 1.0,
 828.0: 1.0,
 829.0: 1.0,
 830.0: 1.0,
 831.0: 1.0,
 832.0: 1.0,
 833.0: 1.0,
 834.0: 1.0,
 835.0: 1.0,
 836.0: 1.0,
 837.0: 1.0,
 838.0: 1.0,
 839.0: 1.0,
 842.0: 1.0,
 845.0: 1.0,
 846.0: 1.0,
 847.0: 1.0,
 848.0: 1.0,
 849.0: 1.0,
 850.0: 1.0,
 851.0: 1.0,
 852.0: 1.0,
 854.0: 1.0,
 855.0: 1.0,
 856.0: 1.0,
 858.0: 1.0,
 859.0: 1.0,
 860.0: 1.0,
 861.0: 1.0,
 862.0: 1.0,
 863.0: 1.0,
 864.0: 1.0,
 865.0: 1.0,
 866.0: 1.0,
 867.0: 1.0,
 868.0: 1.0,
 869.0: 1.0,
 870.0: 1.0,
 871.0: 1.0,
 872.0: 1.0,
 873.0: 1.0,
 874.0: 1.0,
 876.0: 1.0,
 877.0: 1.0,
 878.0: 1.0,
 880.0: 1.0,
 883.0: 1.0,
 884.0: 1.0,
 886.0: 1.0,
 888.0: 1.0,
 889.0: 1.0,
 890.0: 1.0,
 891.0: 1.0,
 892.0: 1.0,
 893.0: 1.0,
 894.0: 1.0,
 895.0: 1.0,
 896.0: 1.0,
 897.0: 1.0,
 898.0: 1.0,
 899.0: 1.0,
 900.0: 1.0,
 902.0: 1.0,
 904.0: 1.0,
 906.0: 1.0,
 907.0: 1.0,
 908.0: 1.0,
 909.0: 1.0,
 911.0: 1.0,
 912.0: 1.0,
 913.0: 1.0,
 914.0: 1.0,
 916.0: 1.0,
 917.0: 1.0,
 918.0: 1.0,
 919.0: 1.0,
 921.0: 1.0,
 922.0: 1.0,
 924.0: 1.0,
 925.0: 1.0,
 927.0: 1.0,
 928.0: 1.0,
 929.0: 1.0,
 931.0: 1.0,
 932.0: 1.0,
 935.0: 1.0,
 936.0: 1.0,
 938.0: 1.0,
 939.0: 1.0,
 940.0: 1.0,
 942.0: 1.0,
 946.0: 1.0,
 947.0: 1.0,
 948.0: 1.0,
 949.0: 1.0,
 951.0: 1.0,
 952.0: 1.0,
 955.0: 1.0,
 956.0: 1.0,
 959.0: 1.0,
 960.0: 1.0,
 961.0: 1.0,
 963.0: 1.0,
 964.0: 1.0,
 965.0: 1.0,
 968.0: 1.0,
 970.0: 1.0,
 971.0: 1.0,
 973.0: 1.0,
 974.0: 1.0,
 975.0: 1.0,
 976.0: 1.0,
 977.0: 1.0,
 978.0: 1.0,
 979.0: 1.0,
 980.0: 1.0,
 985.0: 1.0,
 986.0: 1.0,
 987.0: 1.0,
 989.0: 1.0,
 990.0: 1.0,
 991.0: 1.0,
 993.0: 1.0,
 995.0: 1.0,
 997.0: 1.0,
 999.0: 1.0,
 1000.0: 1.0,
 1001.0: 1.0,
 1002.0: 1.0,
 1003.0: 1.0,
 1006.0: 1.0,
 1007.0: 1.0,
 1009.0: 1.0,
 1010.0: 1.0,
 1012.0: 1.0,
 1013.0: 1.0,
 1014.0: 1.0,
 1015.0: 1.0,
 1017.0: 1.0,
 1018.0: 1.0,
 ...}

In [0]:
data['DEPARTURE_DELAY']=data['DEPARTURE_DELAY'].map(dep_del_di)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE  OUTCOME
1526864  2015      4   11  ...               15                 34        0
2974366  2015      7   10  ...               14                 51        0
2162801  2015      5   21  ...               13                 20        1
4975047  2015     11   13  ...                8                 42        0
3559430  2015      8   14  ...               15                 16        0
...       ...    ...  ...  ...              ...                ...      ...
4985584  2015     11   13  ...               19                 42        1
4390712  2015     10    6  ...               19                 23        0
3684895  2015      8   22  ...               12                  3        0
560968   2015      2    8  ...               13                 13        1
1429176  2015      4    5  ...               15                  4        0

[4285506 rows x 56 columns]

In [0]:
cols=['YEAR','MONTH','DAY','DAY_OF_WEEK','ORIGIN_AIRPORT','DESTINATION_AIRPORT','DEPARTURE_DELAY','TAXI_OUT','SCHEDULED_TIME','DISTANCE','AIR_TIME','DIVERTED','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT','AA','AS','B6','DL','EV','F9','HA','MQ','NK','OO','UA','US','VX','WN','DEPARTURE_TIME_HOUR','SCHEDULED_DEPARTURE_HOUR','SCHEDULED_ARRIVAL_HOUR','DEPARTURE_TIME_MINUTE','SCHEDULED_DEPARTURE_MINUTE','SCHEDULED_ARRIVAL_MINUTE','WHEELS_OFF_HOUR','WHEELS_OFF_MINUTE','AIR_SYSTEM_DELAY_is_missing','SECURITY_DELAY_is_missing','AIRLINE_DELAY_is_missing','LATE_AIRCRAFT_DELAY_is_missing','WEATHER_DELAY_is_missing']
Y_train=data['OUTCOME']
data=data[cols]
data

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
1526864  2015      4  ...                               1                         1
2974366  2015      7  ...                               1                         1
2162801  2015      5  ...                               0                         0
4975047  2015     11  ...                               1                         1
3559430  2015      8  ...                               1                         1
...       ...    ...  ...                             ...                       ...
4985584  2015     11  ...                               1                         1
4390712  2015     10  ...                               1                         1
3684895  2015      8  ...                               1                         1
560968   2015      2  ...                               0                         0
1429176  2015      4  ...                               1                         1

[4285506 rows x 47 columns]

In [0]:
df=pd.DataFrame(Y_train)
Y_train=df
Y_train

         OUTCOME
1526864        0
2974366        0
2162801        1
4975047        0
3559430        0
...          ...
4985584        1
4390712        0
3684895        0
560968         1
1429176        0

[4285506 rows x 1 columns]

In [0]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=27, ratio=1.0)
smote_X_train, smote_Y_train = sm.fit_sample(data, Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
cols=data.columns
X_train=pd.DataFrame(smote_X_train)
X_train.columns=cols
X_train

           YEAR  ...  WEATHER_DELAY_is_missing
0        2015.0  ...                       1.0
1        2015.0  ...                       1.0
2        2015.0  ...                       0.0
3        2015.0  ...                       1.0
4        2015.0  ...                       1.0
...         ...  ...                       ...
6054813  2015.0  ...                       1.0
6054814  2015.0  ...                       1.0
6054815  2015.0  ...                       0.0
6054816  2015.0  ...                       0.0
6054817  2015.0  ...                       0.0

[6054818 rows x 47 columns]

In [0]:
Y_train=smote_Y_train
Y_train=pd.DataFrame(Y_train)
Y_train.columns=['OUTCOME']
Y_train

         OUTCOME
0              0
1              0
2              1
3              0
4              0
...          ...
6054813        1
6054814        1
6054815        1
6054816        1
6054817        1

[6054818 rows x 1 columns]

In [0]:
data=X_test.join(Y_test)

In [0]:
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR WHEELS_OFF_MINUTE OUTCOME
3658106  2015      8   20  ...               18                22       1
4794134  2015     11    1  ...               18                39       0
114459   2015      1    8  ...               13                21       0
1036408  2015      3   12  ...                9                21       1
2469189  2015      6    9  ...               17                36       0
...       ...    ...  ...  ...              ...               ...     ...
5114157  2015     11   22  ...               13                 2       1
4655824  2015     10   23  ...               15                45       1
1814125  2015      4   29  ...               16                41       0
5708304  2015     12   31  ...               13                35       0
1659795  2015      4   20  ...                6                38       1

[1428502 rows x 56 columns]

In [0]:
cols=['YEAR','MONTH','DAY','DAY_OF_WEEK','ORIGIN_AIRPORT','DESTINATION_AIRPORT','DEPARTURE_DELAY','TAXI_OUT','SCHEDULED_TIME','DISTANCE','AIR_TIME','DIVERTED','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT','AA','AS','B6','DL','EV','F9','HA','MQ','NK','OO','UA','US','VX','WN','DEPARTURE_TIME_HOUR','SCHEDULED_DEPARTURE_HOUR','SCHEDULED_ARRIVAL_HOUR','DEPARTURE_TIME_MINUTE','SCHEDULED_DEPARTURE_MINUTE','SCHEDULED_ARRIVAL_MINUTE','WHEELS_OFF_HOUR','WHEELS_OFF_MINUTE','AIR_SYSTEM_DELAY_is_missing','SECURITY_DELAY_is_missing','AIRLINE_DELAY_is_missing','LATE_AIRCRAFT_DELAY_is_missing','WEATHER_DELAY_is_missing','OUTCOME']
data=data[cols]
data

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
3658106  2015      8  ...                         0        1
4794134  2015     11  ...                         1        0
114459   2015      1  ...                         1        0
1036408  2015      3  ...                         0        1
2469189  2015      6  ...                         1        0
...       ...    ...  ...                       ...      ...
5114157  2015     11  ...                         0        1
4655824  2015     10  ...                         0        1
1814125  2015      4  ...                         1        0
5708304  2015     12  ...                         1        0
1659795  2015      4  ...                         1        1

[1428502 rows x 48 columns]

In [0]:
data['ORIGIN_AIRPORT']=data['ORIGIN_AIRPORT'].map(ori_di)
data['DESTINATION_AIRPORT']=data['DESTINATION_AIRPORT'].map(des_di)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
3658106  2015      8  ...                         0        1
4794134  2015     11  ...                         1        0
114459   2015      1  ...                         1        0
1036408  2015      3  ...                         0        1
2469189  2015      6  ...                         1        0
...       ...    ...  ...                       ...      ...
5114157  2015     11  ...                         0        1
4655824  2015     10  ...                         0        1
1814125  2015      4  ...                         1        0
5708304  2015     12  ...                         1        0
1659795  2015      4  ...                         1        1

[1428502 rows x 48 columns]

In [0]:
data['DEPARTURE_DELAY']=data['DEPARTURE_DELAY'].map(dep_del_di)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
3658106  2015      8  ...                         0        1
4794134  2015     11  ...                         1        0
114459   2015      1  ...                         1        0
1036408  2015      3  ...                         0        1
2469189  2015      6  ...                         1        0
...       ...    ...  ...                       ...      ...
5114157  2015     11  ...                         0        1
4655824  2015     10  ...                         0        1
1814125  2015      4  ...                         1        0
5708304  2015     12  ...                         1        0
1659795  2015      4  ...                         1        1

[1428502 rows x 48 columns]

In [0]:
Y_test=data['OUTCOME']
data.drop(['OUTCOME'],axis=1,inplace=True)

data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
3658106  2015      8  ...                               0                         0
4794134  2015     11  ...                               1                         1
114459   2015      1  ...                               1                         1
1036408  2015      3  ...                               0                         0
2469189  2015      6  ...                               1                         1
...       ...    ...  ...                             ...                       ...
5114157  2015     11  ...                               0                         0
4655824  2015     10  ...                               0                         0
1814125  2015      4  ...                               1                         1
5708304  2015     12  ...                               1                         1
1659795  2015      4  ...                               1                         1

[1428502 rows x 47 columns]

In [0]:
data.dropna(inplace=True)

X_test=data
X_test

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
3658106  2015      8  ...                               0                         0
4794134  2015     11  ...                               1                         1
114459   2015      1  ...                               1                         1
1036408  2015      3  ...                               0                         0
2469189  2015      6  ...                               1                         1
...       ...    ...  ...                             ...                       ...
5114157  2015     11  ...                               0                         0
4655824  2015     10  ...                               0                         0
1814125  2015      4  ...                               1                         1
5708304  2015     12  ...                               1                         1
1659795  2015      4  ...                               1                         1

[1428435 rows x 47 columns]

In [0]:
df=pd.DataFrame(Y_test)
Y_test=df
Y_test

         OUTCOME
3658106        1
4794134        0
114459         0
1036408        1
2469189        0
...          ...
5114157        1
4655824        1
1814125        0
5708304        0
1659795        1

[1428502 rows x 1 columns]

ADD ANY EXTRA FEATURE ENGINEERING HERE

In [0]:
from sklearn.utils import resample

# concatenate our training data back together
X = pd.concat([X_train, Y_train], axis=1)

# separate minority and majority classes
not_delay = X[X.OUTCOME==0]
delay = X[X.OUTCOME==1]

# upsample minority
delay_upsampled = resample(delay,
                          replace=True, # sample with replacement
                          n_samples=len(not_delay), # match number in majority class
                          random_state=27) # reproducible results

# combine majority and upsampled minority
upsampled = pd.concat([not_delay, delay_upsampled])

# check new class counts
print(upsampled["OUTCOME"].value_counts())

oversam_X_train=upsampled.drop("OUTCOME",axis=1)
oversam_Y_train=pd.DataFrame(upsampled.OUTCOME)

1    3027409
0    3027409
Name: OUTCOME, dtype: int64

In [0]:
for each in [oversam_Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

Outcome fraction = 0.5000
Outcome fraction = 0.2936

In [0]:
train_data=oversam_X_train.join(oversam_Y_train)
test_data=X_test.join(Y_test)

In [0]:
for each in [Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

Outcome fraction = 0.5000
Outcome fraction = 0.2937

In [0]:
train_data=X_train.join(Y_train)
test_data=X_test.join(Y_test)

In [0]:
train_data

           YEAR      MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
0        2015.0   4.000000  ...                       1.0        0
1        2015.0   7.000000  ...                       1.0        0
2        2015.0   5.000000  ...                       0.0        1
3        2015.0  11.000000  ...                       1.0        0
4        2015.0   8.000000  ...                       1.0        0
...         ...        ...  ...                       ...      ...
6054813  2015.0   8.127057  ...                       1.0        1
6054814  2015.0   1.512993  ...                       1.0        1
6054815  2015.0   6.751592  ...                       0.0        1
6054816  2015.0   3.000000  ...                       0.0        1
6054817  2015.0   6.210935  ...                       0.0        1

[6054818 rows x 48 columns]

In [0]:
test_data

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
3658106  2015      8  ...                         0        1
4794134  2015     11  ...                         1        0
114459   2015      1  ...                         1        0
1036408  2015      3  ...                         0        1
2469189  2015      6  ...                         1        0
...       ...    ...  ...                       ...      ...
5114157  2015     11  ...                         0        1
4655824  2015     10  ...                         0        1
1814125  2015      4  ...                         1        0
5708304  2015     12  ...                         1        0
1659795  2015      4  ...                         1        1

[1428435 rows x 48 columns]

In [0]:
train_data.to_csv("train_data.csv",index=False)
test_data.to_csv("test_data.csv",index=False)

In [0]:
import json

with open('Origin_airport_dict.json', 'w') as fp:
    json.dump(ori_di, fp)
with open('Destination_airport_dict.json', 'w') as fp:
    json.dump(des_di, fp)
with open('Departure_delay_dict.json', 'w') as fp:
    json.dump(dep_del_di, fp)

In [0]:
with open('Origin_airport_dict.json', 'r') as fp:
    data = json.load(fp)
data

{'ABE': 0.2983783783783784,
 'ABI': 0.235686492495831,
 'ABQ': 0.2933410613086038,
 'ABR': 0.30570902394106814,
 'ABY': 0.2988668555240793,
 'ACK': 0.3053435114503817,
 'ACT': 0.23270440251572327,
 'ACV': 0.3190883190883191,
 'ACY': 0.3291272344900105,
 'ADK': 0.5652173913043478,
 'ADQ': 0.26857142857142857,
 'AEX': 0.30974155069582504,
 'AGS': 0.3328133125325013,
 'AKN': 0.3695652173913043,
 'ALB': 0.21415456518110498,
 'ALO': 0.21961620469083157,
 'AMA': 0.29571384520505706,
 'ANC': 0.2407580720636406,
 'APN': 0.22,
 'ASE': 0.3872901678657074,
 'ATL': 0.2546848502479902,
 'ATW': 0.31546300398759414,
 'AUS': 0.27950290510006454,
 'AVL': 0.28177295341474445,
 'AVP': 0.27624309392265195,
 'AZO': 0.23264137437365784,
 'BDL': 0.24257065325302798,
 'BET': 0.28191489361702127,
 'BFL': 0.25717063684978125,
 'BGM': 0.22083333333333333,
 'BGR': 0.24295774647887325,
 'BHM': 0.27185045242119915,
 'BIL': 0.1527114967462039,
 'BIS': 0.27795756921970516,
 'BJI': 0.2,
 'BLI': 0.22137404580152673,
 'BMI': 0.27157598499061913,
 'BNA': 0.2824224908039937,
 'BOI': 0.2764972108199137,
 'BOS': 0.2983153927088994,
 'BPT': 0.3651006711409396,
 'BQK': 0.27019498607242337,
 'BQN': 0.2775700934579439,
 'BRD': 0.27607361963190186,
 'BRO': 0.20948180815876516,
 'BRW': 0.2740740740740741,
 'BSM': 0.20164891789762968,
 'BTM': 0.10597302504816955,
 'BTR': 0.3517253459449991,
 'BTV': 0.2944760357432981,
 'BUF': 0.2312416752996892,
 'BUR': 0.24731819677525502,
 'BWI': 0.335455372222944,
 'BZN': 0.22815533980582525,
 'CAE': 0.29566488066244523,
 'CAK': 0.21365229944318417,
 'CDC': 0.23991507430997877,
 'CDV': 0.23954372623574144,
 'CEC': 0.34375,
 'CHA': 0.2955075845974329,
 'CHO': 0.2819918934568616,
 'CHS': 0.2566537939672268,
 'CID': 0.31227674374882497,
 'CIU': 0.32991803278688525,
 'CLD': 0.29324894514767935,
 'CLE': 0.25842251288149026,
 'CLL': 0.22494553376906318,
 'CLT': 0.3316516132207811,
 'CMH': 0.25922284886428315,
 'CMI': 0.24016938898971568,
 'CMX': 0.24848484848484848,
 'CNY': 0.03225806451612903,
 'COD': 0.39539347408829173,
 'COS': 0.2976862816542175,
 'COU': 0.30525272547076315,
 'CPR': 0.17885024840312277,
 'CRP': 0.28149920255183414,
 'CRW': 0.36769394261424015,
 'CSG': 0.2672018348623853,
 'CVG': 0.28687912361508777,
 'CWA': 0.23941068139963168,
 'DAB': 0.17857142857142858,
 'DAL': 0.35542739443872295,
 'DAY': 0.28189390618149934,
 'DBQ': 0.21557719054242003,
 'DCA': 0.27607653876219285,
 'DEN': 0.3312588099073701,
 'DFW': 0.31973068872614924,
 'DHN': 0.36967294350842417,
 'DIK': 0.1673469387755102,
 'DLG': 0.19298245614035087,
 'DLH': 0.35465529495380244,
 'DRO': 0.28681253696037845,
 'DSM': 0.2882621951219512,
 'DTW': 0.2688158554942298,
 'DVL': 0.2741514360313316,
 'EAU': 0.2882703777335984,
 'ECP': 0.1780380673499268,
 'EGE': 0.3244397011739594,
 'EKO': 0.16473317865429235,
 'ELM': 0.30787878787878786,
 'ELP': 0.2683156901792265,
 'ERI': 0.31551724137931036,
 'ESC': 0.1662971175166297,
 'EUG': 0.2451856946354883,
 'EVV': 0.29766536964980544,
 'EWN': 0.26652452025586354,
 'EWR': 0.3040507142504078,
 'EYW': 0.19284802043422733,
 'FAI': 0.2480225988700565,
 'FAR': 0.282242172104226,
 'FAT': 0.31763879128601546,
 'FAY': 0.27012383900928794,
 'FCA': 0.18871473354231974,
 'FLG': 0.33101314771848417,
 'FLL': 0.2766840082967799,
 'FNT': 0.19957424161788184,
 'FSD': 0.33046594982078853,
 'FSM': 0.26898326898326896,
 'FWA': 0.2913064361191162,
 'GCC': 0.1623296158612144,
 'GCK': 0.2892249527410208,
 'GEG': 0.24838667193467667,
 'GFK': 0.29276315789473684,
 'GGG': 0.3346534653465347,
 'GJT': 0.22283682338996444,
 'GNV': 0.32069288389513106,
 'GPT': 0.2297486033519553,
 'GRB': 0.26835641494643325,
 'GRI': 0.2254335260115607,
 'GRK': 0.2603869330796067,
 'GRR': 0.24548228115465853,
 'GSO': 0.28833652007648186,
 'GSP': 0.246368501529052,
 'GST': 0.5818181818181818,
 'GTF': 0.19216646266829865,
 'GTR': 0.29987129987129985,
 'GUC': 0.36065573770491804,
 'GUM': 0.26199261992619927,
 'HDN': 0.3142857142857143,
 'HIB': 0.22192866578599735,
 'HLN': 0.1663778162911612,
 'HNL': 0.2388808160241616,
 'HOB': 0.20185614849187936,
 'HOU': 0.33513539260282454,
 'HPN': 0.3557546053743451,
 'HRL': 0.20201207243460764,
 'HSV': 0.2402125279642058,
 'HYA': 0.2711864406779661,
 'HYS': 0.2826552462526767,
 'IAD': 0.2958876265834271,
 'IAG': 0.32209737827715357,
 'IAH': 0.32859177376148657,
 'ICT': 0.2833592534992224,
 'IDA': 0.18379888268156425,
 'ILG': 0.4864864864864865,
 'ILM': 0.22279459111397296,
 'IMT': 0.21095334685598377,
 'IND': 0.2519351540820797,
 'INL': 0.23318385650224216,
 'ISN': 0.24356435643564356,
 'ISP': 0.25464949928469244,
 'ITH': 0.42105263157894735,
 'ITO': 0.20563741191543883,
 'JAC': 0.23452157598499063,
 'JAN': 0.26440203116792155,
 'JAX': 0.25385144429160933,
 'JFK': 0.30846968238691047,
 'JLN': 0.3030888030888031,
 'JMS': 0.2633279483037157,
 'JNU': 0.3101379724055189,
 'KOA': 0.22179074669921225,
 'KTN': 0.2994652406417112,
 'LAN': 0.2848605577689243,
 'LAR': 0.18021978021978022,
 'LAS': 0.3188431152280805,
 'LAW': 0.2702970297029703,
 'LAX': 0.3280808312323325,
 'LBB': 0.26488985586075603,
 'LBE': 0.32841691248770893,
 'LCH': 0.20161834120026972,
 'LEX': 0.24132162275198663,
 'LFT': 0.30614250614250615,
 'LGA': 0.32635896906684553,
 'LGB': 0.2801528878822197,
 'LIH': 0.21988976193268442,
 'LIT': 0.2898688915375447,
 'LNK': 0.2730278696268304,
 'LRD': 0.23411562678878076,
 'LSE': 0.2146118721461187,
 'LWS': 0.10655737704918032,
 'MAF': 0.2716218530570303,
 'MBS': 0.2603150787696924,
 'MCI': 0.27028153658693005,
 'MCO': 0.2998865385263489,
 'MDT': 0.21102302755756888,
 'MDW': 0.32400228138054354,
 'MEI': 0.3062068965517241,
 'MEM': 0.26416353775552776,
 'MFE': 0.2125340599455041,
 'MFR': 0.232408325074331,
 'MGM': 0.32987312572087657,
 'MHK': 0.2524790236460717,
 'MHT': 0.22954091816367264,
 'MIA': 0.33077171688153123,
 'MKE': 0.2596719669462877,
 'MKG': 0.29750479846449135,
 'MLB': 0.1870967741935484,
 'MLI': 0.30217755443886096,
 'MLU': 0.30928270042194095,
 'MMH': 0.3181818181818182,
 'MOB': 0.3189937106918239,
 'MOT': 0.23825065274151436,
 'MQT': 0.28512396694214875,
 'MRY': 0.2864583333333333,
 'MSN': 0.2469579646017699,
 'MSO': 0.203125,
 'MSP': 0.2613973445418623,
 'MSY': 0.25769781881865944,
 'MTJ': 0.2665764546684709,
 'MVY': 0.3431952662721893,
 'MYR': 0.3144813593710373,
 'OAJ': 0.3116591928251121,
 'OAK': 0.33513213931509245,
 'OGG': 0.2707178993013732,
 'OKC': 0.26862805346443386,
 'OMA': 0.265557700876281,
 'OME': 0.41346153846153844,
 'ONT': 0.2688112660499793,
 'ORD': 0.3366036577343099,
 'ORF': 0.2595470990218411,
 'ORH': 0.2466281310211946,
 'OTH': 0.38461538461538464,
 'OTZ': 0.36072144288577157,
 'PAH': 0.22396856581532418,
 'PBG': 0.4372093023255814,
 'PBI': 0.3165379701127715,
 'PDX': 0.23120545236980386,
 'PHF': 0.3121902874132805,
 'PHL': 0.3113022113022113,
 'PHX': 0.311523042716615,
 'PIA': 0.2889189189189189,
 'PIB': 0.2869757174392936,
 'PIH': 0.2178030303030303,
 'PIT': 0.22384112827958105,
 'PLN': 0.22569444444444445,
 'PNS': 0.24339659557816473,
 'PPG': 0.6046511627906976,
 'PSC': 0.2210953346855984,
 'PSE': 0.20198675496688742,
 'PSG': 0.31273408239700373,
 'PSP': 0.29781573788854665,
 'PUB': 0.2639593908629442,
 'PVD': 0.2463460894789691,
 'PWM': 0.2641858010029031,
 'RAP': 0.2748447204968944,
 'RDD': 0.19285714285714287,
 'RDM': 0.20679723502304148,
 'RDU': 0.2765448557089084,
 'RHI': 0.4093333333333333,
 'RIC': 0.2819832851173256,
 'RKS': 0.1989247311827957,
 'RNO': 0.2895184135977337,
 'ROA': 0.2889733840304182,
 'ROC': 0.24335687857383115,
 'ROW': 0.28647925033467203,
 'RST': 0.2707558859975217,
 'RSW': 0.27351057457494354,
 'SAF': 0.3185840707964602,
 'SAN': 0.28212556972759073,
 'SAT': 0.24081326556120322,
 'SAV': 0.2821963394342762,
 'SBA': 0.2643773272652048,
 'SBN': 0.30859703164379726,
 'SBP': 0.28640386162510056,
 'SCC': 0.257396449704142,
 'SCE': 0.25977653631284914,
 'SDF': 0.2536760163103917,
 'SEA': 0.2987984508953692,
 'SFO': 0.30850832608841033,
 'SGF': 0.32246893460990017,
 'SGU': 0.22773623385452074,
 'SHV': 0.3017580144777663,
 'SIT': 0.2556317335945152,
 'SJC': 0.2986865205800117,
 'SJT': 0.24293785310734464,
 'SJU': 0.2696858425132599,
 'SLC': 0.2362028107614908,
 'SMF': 0.30428340960721695,
 'SMX': 0.2545454545454545,
 'SNA': 0.2569069019269676,
 'SPI': 0.25565081839438814,
 'SPS': 0.2505330490405117,
 'SRQ': 0.23228200371057514,
 'STC': 0.43859649122807015,
 'STL': 0.2874146960799873,
 'STT': 0.27327147560610593,
 'STX': 0.324,
 'SUN': 0.21469740634005763,
 'SUX': 0.2556237218813906,
 'SWF': 0.31095406360424027,
 'SYR': 0.23916887709991158,
 'TLH': 0.24140625,
 'TOL': 0.21370967741935484,
 'TPA': 0.273480338398872,
 'TRI': 0.244140625,
 'TTN': 0.33537921964050854,
 'TUL': 0.2636891469405985,
 'TUS': 0.24878290287977556,
 'TVC': 0.24297752808988765,
 'TWF': 0.1884272997032641,
 'TXK': 0.26594301221166894,
 'TYR': 0.27491785323110624,
 'TYS': 0.3178519593613933,
 'UST': 0.38524590163934425,
 'VEL': 0.06451612903225806,
 'VLD': 0.3063063063063063,
 'VPS': 0.25678119349005424,
 'WRG': 0.2907662082514735,
 'WYS': 0.1513157894736842,
 'XNA': 0.3363234703440889,
 'YAK': 0.1891385767790262,
 'YUM': 0.22889182058047494}

In [0]:
!ls

adc.json		       drive			 test_data.csv
Departure_delay_dict.json      Origin_airport_dict.json  train_data.csv
Destination_airport_dict.json  sample_data

In [0]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile()
uploaded.SetContentFile("train_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'test_data.csv'})
uploaded.SetContentFile("test_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 195p72_pgyvZg2gKK6jEEjsrV-VusP_to
Uploaded file with ID 1YpALaz7uRLAKnwTsDUMX5xVlDMjB9R-8

In [0]:
uploaded = drive.CreateFile({'title': 'Origin_airport_dict.json'})
uploaded.SetContentFile("Origin_airport_dict.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'Destination_airport_dict.json'})
uploaded.SetContentFile("Destination_airport_dict.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'Departure_delay_dict.json'})
uploaded.SetContentFile("Departure_delay_dict.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1tWdFf5xjFUlp1VHxnGRVLTH0Tt8P2QwD
Uploaded file with ID 1Pf_FGVN4Bp6KqtxYE37gOPTf3aVSjr0w
Uploaded file with ID 19ogokgFgkQCf5z-TiAAoEqyYNrh1RMqf