<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Data_Preprocessing_and_Feature_Engineering_with_Weather_2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install httplib2==0.15.0

Requirement already satisfied: httplib2==0.15.0 in /usr/local/lib/python3.6/dist-packages (0.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [0]:
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/handled_dataset_with_weather_2015.csv')

In [4]:
data = data.assign(OUTCOME=(data['ARRIVAL_DELAY'] > 4).astype(int))
data

         YEAR  MONTH  DAY  ...  pressure wind_direction OUTCOME
0        2015      1    1  ...    1030.0           10.0       0
1        2015      1    1  ...    1033.0          175.0       1
2        2015      1    1  ...    1030.0           10.0       0
3        2015      1    1  ...    1046.0           29.0       0
4        2015      1    1  ...    1033.0          175.0       1
...       ...    ...  ...  ...       ...            ...     ...
3209184  2015     12   31  ...    1021.0            0.0       0
3209185  2015     12   31  ...    1018.0            0.0       0
3209186  2015     12   31  ...    1022.0          299.0       0
3209187  2015     12   31  ...    1022.0          299.0       0
3209188  2015     12   31  ...    1021.0           69.0       0

[3209189 rows x 41 columns]

In [0]:
X=data.drop("OUTCOME",axis=1)
y=data['OUTCOME']

In [6]:
cat=pd.DataFrame()
cat['AIRLINE_ORIGIN_AIRPORT']=X['AIRLINE']+"_"+X['ORIGIN_AIRPORT']
cat['AIRLINE_DESTINATION_AIRPORT']=X['AIRLINE']+"_"+X['DESTINATION_AIRPORT']
cat['ORIGIN_AIRPORT_DESTINATION_AIRPORT']=X['ORIGIN_AIRPORT']+"_"+X['DESTINATION_AIRPORT']
cat

        AIRLINE_ORIGIN_AIRPORT  ... ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                       AA_LAX  ...                            LAX_PBI
1                       US_SFO  ...                            SFO_CLT
2                       AA_LAX  ...                            LAX_MIA
3                       AS_SEA  ...                            SEA_ANC
4                       DL_SFO  ...                            SFO_MSP
...                        ...  ...                                ...
3209184                 B6_ABQ  ...                            ABQ_JFK
3209185                 B6_LAX  ...                            LAX_BOS
3209186                 B6_JFK  ...                            JFK_PSE
3209187                 B6_JFK  ...                            JFK_SJU
3209188                 B6_JFK  ...                            JFK_BQN

[3209189 rows x 3 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT']
encoder = LabelEncoder()

# Apply the label encoder to each column
cat = cat[cat_features].apply(encoder.fit_transform)
cat.head(10)

   AIRLINE_ORIGIN_AIRPORT  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                      13  ...                                1105
1                     263  ...                                2028
2                      13  ...                                1093
3                      46  ...                                1940
4                      97  ...                                2062
5                     174  ...                                1021
6                     249  ...                                1060
7                      27  ...                                2034
8                      81  ...                                 972
9                      74  ...                                 431

[10 rows x 3 columns]

In [0]:
X=X.join(cat)

In [9]:
X

         YEAR  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0        2015  ...                                1105
1        2015  ...                                2028
2        2015  ...                                1093
3        2015  ...                                1940
4        2015  ...                                2062
...       ...  ...                                 ...
3209184  2015  ...                                   8
3209185  2015  ...                                1054
3209186  2015  ...                                 948
3209187  2015  ...                                 961
3209188  2015  ...                                 909

[3209189 rows x 43 columns]

In [0]:
from numpy import array

data=X[['AIRLINE']]
data=array(data)
data

array([['AS'],
       ['AA'],
       ['US'],
       ...,
       ['B6'],
       ['B6'],
       ['B6']], dtype=object)

In [0]:
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder()
data = onehotencoder.fit_transform(data)
data

<5714008x14 sparse matrix of type '<class 'numpy.float64'>'
	with 5714008 stored elements in Compressed Sparse Row format>

In [0]:
data=pd.DataFrame(data.toarray())
data

           0    1    2    3    4    5    6    7    8    9   10   11   12   13
0        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5714003  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714004  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714005  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714006  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714007  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5714008 rows x 14 columns]

In [10]:
data=pd.get_dummies(X['AIRLINE'])
data

         AA  AS  B6  DL  EV  F9  HA  MQ  NK  OO  UA  US  VX  WN
0         1   0   0   0   0   0   0   0   0   0   0   0   0   0
1         0   0   0   0   0   0   0   0   0   0   0   1   0   0
2         1   0   0   0   0   0   0   0   0   0   0   0   0   0
3         0   1   0   0   0   0   0   0   0   0   0   0   0   0
4         0   0   0   1   0   0   0   0   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
3209184   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3209185   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3209186   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3209187   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3209188   0   0   1   0   0   0   0   0   0   0   0   0   0   0

[3209189 rows x 14 columns]

In [11]:
X=X.join(data)
X.drop(['AIRLINE'],axis=1,inplace=True)
X

         YEAR  MONTH  DAY  DAY_OF_WEEK ORIGIN_AIRPORT  ... OO  UA  US  VX  WN
0        2015      1    1            4            LAX  ...  0   0   0   0   0
1        2015      1    1            4            SFO  ...  0   0   1   0   0
2        2015      1    1            4            LAX  ...  0   0   0   0   0
3        2015      1    1            4            SEA  ...  0   0   0   0   0
4        2015      1    1            4            SFO  ...  0   0   0   0   0
...       ...    ...  ...          ...            ...  ... ..  ..  ..  ..  ..
3209184  2015     12   31            4            ABQ  ...  0   0   0   0   0
3209185  2015     12   31            4            LAX  ...  0   0   0   0   0
3209186  2015     12   31            4            JFK  ...  0   0   0   0   0
3209187  2015     12   31            4            JFK  ...  0   0   0   0   0
3209188  2015     12   31            4            JFK  ...  0   0   0   0   0

[3209189 rows x 56 columns]

In [12]:
import datetime

def format_heure(time):
    if pd.isnull(time):
        return np.nan
    else:
        if time == 2400: time = 0
        time = "{0:04d}".format(int(time))
        heure = datetime.time(int(time[0:2]), int(time[2:4]))
        return heure

X['converted_DEPARTURE_TIME'] = X['DEPARTURE_TIME'].apply(format_heure)
X['converted_SCHEDULED_DEPARTURE'] = X['SCHEDULED_DEPARTURE'].apply(format_heure)
X['converted_SCHEDULED_ARRIVAL'] = X['SCHEDULED_ARRIVAL'].apply(format_heure)
X['converted_WHEELS_OFF'] = X['WHEELS_OFF'].apply(format_heure)
X

         YEAR  MONTH  ...  converted_SCHEDULED_ARRIVAL  converted_WHEELS_OFF
0        2015      1  ...                     07:50:00              00:14:00
1        2015      1  ...                     08:06:00              00:34:00
2        2015      1  ...                     08:05:00              00:30:00
3        2015      1  ...                     03:20:00              00:35:00
4        2015      1  ...                     06:02:00              00:38:00
...       ...    ...  ...                          ...                   ...
3209184  2015     12  ...                     05:46:00              00:24:00
3209185  2015     12  ...                     08:19:00              00:17:00
3209186  2015     12  ...                     04:46:00              00:12:00
3209187  2015     12  ...                     04:40:00              00:07:00
3209188  2015     12  ...                     04:40:00              00:28:00

[3209189 rows x 59 columns]

In [13]:
X['converted_DEPARTURE_TIME']=[i.strftime("%H:%M:%S") for i in X.converted_DEPARTURE_TIME]
X['DEPARTURE_TIME_HOUR']=[i.partition(':')[0] for i in X.converted_DEPARTURE_TIME]
X['DEPARTURE_TIME_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_DEPARTURE_TIME]

X['converted_SCHEDULED_DEPARTURE']=[i.strftime("%H:%M:%S") for i in X.converted_SCHEDULED_DEPARTURE]
X['SCHEDULED_DEPARTURE_HOUR']=[i.partition(':')[0] for i in X.converted_SCHEDULED_DEPARTURE]
X['SCHEDULED_DEPARTURE_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_SCHEDULED_DEPARTURE]

X['converted_SCHEDULED_ARRIVAL']=[i.strftime("%H:%M:%S") for i in X.converted_SCHEDULED_ARRIVAL]
X['SCHEDULED_ARRIVAL_HOUR']=[i.partition(':')[0] for i in X.converted_SCHEDULED_ARRIVAL]
X['SCHEDULED_ARRIVAL_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_SCHEDULED_ARRIVAL]

X['converted_WHEELS_OFF']=[i.strftime("%H:%M:%S") for i in X.converted_WHEELS_OFF]
X['WHEELS_OFF_HOUR']=[i.partition(':')[0] for i in X.converted_WHEELS_OFF]
X['WHEELS_OFF_MINUTE']=[i.partition(':')[2].partition(":")[0] for i in X.converted_WHEELS_OFF]

X

         YEAR  MONTH  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE
0        2015      1  ...               00                 14
1        2015      1  ...               00                 34
2        2015      1  ...               00                 30
3        2015      1  ...               00                 35
4        2015      1  ...               00                 38
...       ...    ...  ...              ...                ...
3209184  2015     12  ...               00                 24
3209185  2015     12  ...               00                 17
3209186  2015     12  ...               00                 12
3209187  2015     12  ...               00                 07
3209188  2015     12  ...               00                 28

[3209189 rows x 67 columns]

In [0]:
import numpy as np
import pandas as pd

df={"hr":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,0],
    "mnth":[1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]}
df=pd.DataFrame(df)

df['hr_sin'] = np.sin(df.hr*(2.*np.pi/24))
df['hr_cos'] = np.cos(df.hr*(2.*np.pi/24))
df['chr_sin'] = np.sin(df.hr*((2.*np.pi)/24))
df['chr_cos'] = np.cos(df.hr*((2.*np.pi)/24))
df['mnth_sin'] = np.sin((df.mnth-1)*(2.*np.pi/12))
df['mnth_cos'] = np.cos((df.mnth-1)*(2.*np.pi/12))
df

    hr  mnth        hr_sin  ...       chr_cos      mnth_sin      mnth_cos
0    1     1  2.588190e-01  ...  9.659258e-01  0.000000e+00  1.000000e+00
1    2     2  5.000000e-01  ...  8.660254e-01  5.000000e-01  8.660254e-01
2    3     3  7.071068e-01  ...  7.071068e-01  8.660254e-01  5.000000e-01
3    4     4  8.660254e-01  ...  5.000000e-01  1.000000e+00  6.123234e-17
4    5     5  9.659258e-01  ...  2.588190e-01  8.660254e-01 -5.000000e-01
5    6     6  1.000000e+00  ...  6.123234e-17  5.000000e-01 -8.660254e-01
6    7     7  9.659258e-01  ... -2.588190e-01  1.224647e-16 -1.000000e+00
7    8     8  8.660254e-01  ... -5.000000e-01 -5.000000e-01 -8.660254e-01
8    9     9  7.071068e-01  ... -7.071068e-01 -8.660254e-01 -5.000000e-01
9   10    10  5.000000e-01  ... -8.660254e-01 -1.000000e+00 -1.836970e-16
10  11    11  2.588190e-01  ... -9.659258e-01 -8.660254e-01  5.000000e-01
11  12    12  1.224647e-16  ... -1.000000e+00 -5.000000e-01  8.660254e-01
12  13     1 -2.588190e-01  ... -9.659258e-01  0.000000e+00  1.000000e+00
13  14     2 -5.000000e-01  ... -8.660254e-01  5.000000e-01  8.660254e-01
14  15     3 -7.071068e-01  ... -7.071068e-01  8.660254e-01  5.000000e-01
15  16     4 -8.660254e-01  ... -5.000000e-01  1.000000e+00  6.123234e-17
16  17     5 -9.659258e-01  ... -2.588190e-01  8.660254e-01 -5.000000e-01
17  18     6 -1.000000e+00  ... -1.836970e-16  5.000000e-01 -8.660254e-01
18  19     7 -9.659258e-01  ...  2.588190e-01  1.224647e-16 -1.000000e+00
19  20     8 -8.660254e-01  ...  5.000000e-01 -5.000000e-01 -8.660254e-01
20  21     9 -7.071068e-01  ...  7.071068e-01 -8.660254e-01 -5.000000e-01
21  22    10 -5.000000e-01  ...  8.660254e-01 -1.000000e+00 -1.836970e-16
22  23    11 -2.588190e-01  ...  9.659258e-01 -8.660254e-01  5.000000e-01
23   0    12  0.000000e+00  ...  1.000000e+00 -5.000000e-01  8.660254e-01

[24 rows x 8 columns]

In [14]:
X['DEPARTURE_TIME_HOUR']=X['DEPARTURE_TIME_HOUR'].astype(int)
X['DEPARTURE_TIME_MINUTE']=X['DEPARTURE_TIME_MINUTE'].astype(int)
X['SCHEDULED_DEPARTURE_HOUR']=X['SCHEDULED_DEPARTURE_HOUR'].astype(int)
X['SCHEDULED_DEPARTURE_MINUTE']=X['SCHEDULED_DEPARTURE_MINUTE'].astype(int)
X['SCHEDULED_ARRIVAL_HOUR']=X['SCHEDULED_ARRIVAL_HOUR'].astype(int)
X['SCHEDULED_ARRIVAL_MINUTE']=X['SCHEDULED_ARRIVAL_MINUTE'].astype(int)
X['WHEELS_OFF_HOUR']=X['WHEELS_OFF_HOUR'].astype(int)
X['WHEELS_OFF_MINUTE']=X['WHEELS_OFF_MINUTE'].astype(int)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3209189 entries, 0 to 3209188
Data columns (total 67 columns):
 #   Column                              Dtype
---  ------                              -----
 0   YEAR                                int64
 1   MONTH                               int64
 2   DAY                                 int64
 3   DAY_OF_WEEK                         int64
 4   ORIGIN_AIRPORT                      object
 5   DESTINATION_AIRPORT                 object
 6   SCHEDULED_DEPARTURE                 int64
 7   DEPARTURE_TIME                      float64
 8   DEPARTURE_DELAY                     float64
 9   SCHEDULED_ARRIVAL                   int64
 10  ARRIVAL_TIME                        float64
 11  ARRIVAL_DELAY                       float64
 12  SCHEDULED_TIME                      float64
 13  ELAPSED_TIME                        float64
 14  TAXI_OUT                            float64
 15  WHEELS_OFF                          float64
 16  DISTANCE                            int64
 17  DIVERTED                            int64
 18  AIR_TIME                            float64
 19  AIR_SYSTEM_DELAY                    float64
 20  SECURITY_DELAY                      float64
 21  AIRLINE_DELAY                       float64
 22  LATE_AIRCRAFT_DELAY                 float64
 23  WEATHER_DELAY                       float64
 24  AIR_SYSTEM_DELAY_is_missing         int64
 25  SECURITY_DELAY_is_missing           int64
 26  AIRLINE_DELAY_is_missing            int64
 27  LATE_AIRCRAFT_DELAY_is_missing      int64
 28  WEATHER_DELAY_is_missing            int64
 29  city                                object
 30  DATE                                object
 31  converted_DEPARTURE_TIME            object
 32  approx_DEPARTURE_TIME               object
 33  datetime                            object
 34  temperature                         float64
 35  humidity                            float64
 36  wind_speed                          float64
 37  pressure                            float64
 38  wind_direction                      float64
 39  AIRLINE_ORIGIN_AIRPORT              int64
 40  AIRLINE_DESTINATION_AIRPORT         int64
 41  ORIGIN_AIRPORT_DESTINATION_AIRPORT  int64
 42  AA                                  uint8
 43  AS                                  uint8
 44  B6                                  uint8
 45  DL                                  uint8
 46  EV                                  uint8
 47  F9                                  uint8
 48  HA                                  uint8
 49  MQ                                  uint8
 50  NK                                  uint8
 51  OO                                  uint8
 52  UA                                  uint8
 53  US                                  uint8
 54  VX                                  uint8
 55  WN                                  uint8
 56  converted_SCHEDULED_DEPARTURE       object
 57  converted_SCHEDULED_ARRIVAL         object
 58  converted_WHEELS_OFF                object
 59  DEPARTURE_TIME_HOUR                 int64
 60  DEPARTURE_TIME_MINUTE               int64
 61  SCHEDULED_DEPARTURE_HOUR            int64
 62  SCHEDULED_DEPARTURE_MINUTE          int64
 63  SCHEDULED_ARRIVAL_HOUR              int64
 64  SCHEDULED_ARRIVAL_MINUTE            int64
 65  WHEELS_OFF_HOUR                     int64
 66  WHEELS_OFF_MINUTE                   int64
dtypes: float64(19), int64(24), object(10), uint8(14)
memory usage: 1.3+ GB

In [0]:
import numpy as np
X['DEPARTURE_TIME_HOUR_sin'] = np.sin(X.DEPARTURE_TIME_HOUR*((2.*np.pi)/24))
X['DEPARTURE_TIME_HOUR_cos'] = np.cos(X.DEPARTURE_TIME_HOUR*((2.*np.pi)/24))
X['SCHEDULED_DEPARTURE_HOUR_sin'] = np.sin(X.SCHEDULED_DEPARTURE_HOUR*((2.*np.pi)/24))
X['SCHEDULED_DEPARTURE_HOUR_cos'] = np.cos(X.SCHEDULED_DEPARTURE_HOUR*((2.*np.pi)/24))
X['SCHEDULED_ARRIVAL_HOUR_sin'] = np.sin(X.SCHEDULED_ARRIVAL_HOUR*((2.*np.pi)/24))
X['SCHEDULED_ARRIVAL_HOUR_cos'] = np.cos(X.SCHEDULED_ARRIVAL_HOUR*((2.*np.pi)/24))

X['DEPARTURE_TIME_MINUTE_sin'] = np.sin(X.DEPARTURE_TIME_MINUTE*((2.*np.pi)/60))
X['DEPARTURE_TIME_MINUTE_cos'] = np.cos(X.DEPARTURE_TIME_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_DEPARTURE_MINUTE_sin'] = np.sin(X.SCHEDULED_DEPARTURE_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_DEPARTURE_MINUTE_cos'] = np.cos(X.SCHEDULED_DEPARTURE_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_ARRIVAL_MINUTE_sin'] = np.sin(X.SCHEDULED_ARRIVAL_MINUTE*((2.*np.pi)/60))
X['SCHEDULED_ARRIVAL_MINUTE_cos'] = np.cos(X.SCHEDULED_ARRIVAL_MINUTE*((2.*np.pi)/60))

X['MONTH_sin'] = np.sin((X.MONTH-1)*(2.*np.pi/12))
X['MONTH_cos'] = np.cos((X.MONTH-1)*(2.*np.pi/12))

X['DAY_OF_WEEK_sin'] = np.sin((X.DAY_OF_WEEK-1)*(2.*np.pi/7))
X['DAY_OF_WEEK_cos'] = np.cos((X.DAY_OF_WEEK-1)*(2.*np.pi/7))

X

         YEAR  MONTH  DAY  ...  MONTH_cos DAY_OF_WEEK_sin DAY_OF_WEEK_cos
0        2015      1    1  ...   1.000000        0.433884       -0.900969
1        2015      1    1  ...   1.000000        0.433884       -0.900969
2        2015      1    1  ...   1.000000        0.433884       -0.900969
3        2015      1    1  ...   1.000000        0.433884       -0.900969
4        2015      1    1  ...   1.000000        0.433884       -0.900969
...       ...    ...  ...  ...        ...             ...             ...
5714003  2015     12   31  ...   0.866025        0.433884       -0.900969
5714004  2015     12   31  ...   0.866025        0.433884       -0.900969
5714005  2015     12   31  ...   0.866025        0.433884       -0.900969
5714006  2015     12   31  ...   0.866025        0.433884       -0.900969
5714007  2015     12   31  ...   0.866025        0.433884       -0.900969

[5714008 rows x 68 columns]

In [15]:
y=pd.DataFrame(y)
y

         OUTCOME
0              0
1              1
2              0
3              0
4              1
...          ...
3209184        0
3209185        0
3209186        0
3209187        0
3209188        0

[3209189 rows x 1 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,random_state=27)

In [17]:
for each in [Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

Outcome fraction = 0.3038
Outcome fraction = 0.3043

In [18]:
data=X_train.join(Y_train)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR WHEELS_OFF_MINUTE OUTCOME
1206109  2015      5   22  ...                8                38       0
2120877  2015      8   29  ...                0                13       0
2332043  2015      9   22  ...                9                22       0
885409   2015      4   16  ...               14                50       1
249022   2015      1   31  ...               16                30       0
...       ...    ...  ...  ...              ...               ...     ...
2440729  2015     10    4  ...               13                 6       0
791280   2015      4    6  ...                6                14       0
196408   2015      1   24  ...               22                50       0
560968   2015      3   11  ...                7                 8       0
1429176  2015      6   15  ...               22                26       1

[2406891 rows x 68 columns]

In [19]:
ori_airport_means=data.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean()
ori_airport_means

ORIGIN_AIRPORT
ABQ    0.291981
ATL    0.254655
BNA    0.283660
BOS    0.298333
CLT    0.331886
DAL    0.353852
DEN    0.331816
DTW    0.267691
HOU    0.336319
IAH    0.329166
IND    0.254446
JAX    0.252765
JFK    0.308362
LAS    0.318443
LAX    0.328222
LGA    0.324634
MCI    0.270017
MDW    0.324190
MIA    0.331021
MSP    0.259627
OAJ    0.291892
ORD    0.336164
PDX    0.233598
PHL    0.311492
PHX    0.311510
PIT    0.221532
PWM    0.267538
SAN    0.283393
SAT    0.240721
SEA    0.297972
SFO    0.308900
Name: OUTCOME, dtype: float64

In [20]:
ori_di=dict(ori_airport_means)
ori_di

{'ABQ': 0.29198067632850244,
 'ATL': 0.25465503602354034,
 'BNA': 0.28366013071895424,
 'BOS': 0.29833279152928066,
 'CLT': 0.33188594764810075,
 'DAL': 0.3538518778808987,
 'DEN': 0.3318158348760185,
 'DTW': 0.2676905885840688,
 'HOU': 0.33631910090773737,
 'IAH': 0.32916638358584144,
 'IND': 0.2544458981441101,
 'JAX': 0.2527645051194539,
 'JFK': 0.3083615531849393,
 'LAS': 0.3184427666918945,
 'LAX': 0.3282216978431909,
 'LGA': 0.32463423767771593,
 'MCI': 0.2700172534986261,
 'MDW': 0.3241897575457694,
 'MIA': 0.33102113244071624,
 'MSP': 0.2596267707556686,
 'OAJ': 0.2918918918918919,
 'ORD': 0.3361643571472395,
 'PDX': 0.2335982546361228,
 'PHL': 0.31149176470588236,
 'PHX': 0.31151044032776404,
 'PIT': 0.22153176945782196,
 'PWM': 0.2675380101360363,
 'SAN': 0.28339263901428646,
 'SAT': 0.24072149952204813,
 'SEA': 0.29797155771138795,
 'SFO': 0.3089001295932444}

In [21]:
des_airport_means=data.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean()
des_airport_means

DESTINATION_AIRPORT
ABE    0.289715
ABQ    0.336873
ABR    0.176259
ABY    0.346314
ACK    0.279661
         ...
TYS    0.312452
VLD    0.320580
VPS    0.257109
XNA    0.334269
YUM    0.260784
Name: OUTCOME, Length: 277, dtype: float64

In [22]:
des_di=dict(des_airport_means)
des_di

{'ABE': 0.28971459343026384,
 'ABQ': 0.33687330204988886,
 'ABR': 0.17625899280575538,
 'ABY': 0.3463143254520167,
 'ACK': 0.2796610169491525,
 'ACV': 0.34056603773584904,
 'ACY': 0.3864077669902913,
 'AEX': 0.3076470588235294,
 'AGS': 0.2888086642599278,
 'ALB': 0.3117148699970786,
 'ALO': 0.28361344537815125,
 'AMA': 0.3152486642005754,
 'ANC': 0.3259066716177745,
 'APN': 0.19438444924406048,
 'ASE': 0.46005267778753295,
 'ATL': 0.2532055708412565,
 'ATW': 0.27824545857332744,
 'AUS': 0.3418017092420492,
 'AVL': 0.28999516674722087,
 'AVP': 0.3529962546816479,
 'AZO': 0.23093072078376486,
 'BDL': 0.2755956213779781,
 'BFL': 0.29369627507163326,
 'BGM': 0.21304347826086956,
 'BGR': 0.2733812949640288,
 'BHM': 0.30738572674056547,
 'BIL': 0.26379542395693134,
 'BIS': 0.28718762395874653,
 'BJI': 0.15185185185185185,
 'BLI': 0.2808022922636103,
 'BMI': 0.326911124922312,
 'BNA': 0.29650697341254795,
 'BOI': 0.3351731751069408,
 'BOS': 0.31290047412168465,
 'BQK': 0.2830985915492958,
 'BQN': 0.38461538461538464,
 'BRD': 0.12320328542094455,
 'BRO': 0.2555879494655005,
 'BSM': 0.2541871921182266,
 'BTR': 0.29845758354755786,
 'BTV': 0.3385786802030457,
 'BUF': 0.2791257059192638,
 'BUR': 0.2810370009737098,
 'BWI': 0.2930076067875951,
 'BZN': 0.2804938271604938,
 'CAE': 0.2954903815830968,
 'CAK': 0.28071581196581197,
 'CEC': 0.2734375,
 'CHA': 0.2702054794520548,
 'CHO': 0.32577903682719545,
 'CHS': 0.28001721417300246,
 'CID': 0.30799304952215467,
 'CIU': 0.254,
 'CLD': 0.2608695652173913,
 'CLE': 0.2752953813104189,
 'CLL': 0.2,
 'CLT': 0.28500108061378865,
 'CMH': 0.2983823092905907,
 'CMI': 0.2315270935960591,
 'CMX': 0.26907630522088355,
 'COD': 0.3939393939393939,
 'COS': 0.4015823543514745,
 'COU': 0.3622641509433962,
 'CPR': 0.3,
 'CRP': 0.3288338957630296,
 'CRW': 0.2992741485203797,
 'CSG': 0.318448883666275,
 'CVG': 0.31650428107469736,
 'CWA': 0.3193350831146107,
 'DAB': 0.21529509559434745,
 'DAL': 0.31133235949873145,
 'DAY': 0.28702892199824714,
 'DBQ': 0.24857142857142858,
 'DCA': 0.2980294362133881,
 'DEN': 0.31197301854974707,
 'DFW': 0.2883691166483832,
 'DHN': 0.28627450980392155,
 'DIK': 0.18095238095238095,
 'DLH': 0.28350877192982454,
 'DRO': 0.245,
 'DSM': 0.3147920687839972,
 'DTW': 0.28331083686849207,
 'EAU': 0.3159851301115242,
 'ECP': 0.2508059316569955,
 'EGE': 0.26147704590818366,
 'ELM': 0.318019093078759,
 'ELP': 0.35354171918326194,
 'ERI': 0.3175438596491228,
 'ESC': 0.17937219730941703,
 'EUG': 0.3294460641399417,
 'EVV': 0.253979483551468,
 'EWN': 0.35294117647058826,
 'EWR': 0.30902905479955867,
 'EYW': 0.2358611825192802,
 'FAI': 0.30706742485783917,
 'FAR': 0.2995121951219512,
 'FAT': 0.333925005546927,
 'FAY': 0.2524790236460717,
 'FCA': 0.34108527131782945,
 'FLG': 0.2831513260530421,
 'FLL': 0.33262001156737997,
 'FNT': 0.253486750348675,
 'FSD': 0.3380281690140845,
 'FSM': 0.31386861313868614,
 'FWA': 0.2706971677559913,
 'GCC': 0.21782178217821782,
 'GEG': 0.29207232267037553,
 'GFK': 0.23164763458401305,
 'GJT': 0.29312865497076024,
 'GNV': 0.3117924528301887,
 'GPT': 0.25636101776284204,
 'GRB': 0.2700711382113821,
 'GRK': 0.2831700801424755,
 'GRR': 0.27365967365967364,
 'GSO': 0.29346804511278196,
 'GSP': 0.2893376015759665,
 'GTF': 0.29772727272727273,
 'GTR': 0.2516914749661705,
 'GUC': 0.4117647058823529,
 'HDN': 0.3135802469135803,
 'HIB': 0.23636363636363636,
 'HLN': 0.33771929824561403,
 'HNL': 0.4079282763470159,
 'HOB': 0.2437357630979499,
 'HOU': 0.31998895637769187,
 'HPN': 0.3282543888704869,
 'HRL': 0.27831858407079646,
 'HSV': 0.2562425683709869,
 'HYA': 0.2727272727272727,
 'HYS': 0.2202247191011236,
 'IAD': 0.26956521739130435,
 'IAH': 0.3272771000043727,
 'ICT': 0.32307430709063084,
 'IDA': 0.35657894736842105,
 'ILM': 0.26514657980456025,
 'IMT': 0.12546125461254612,
 'IND': 0.2884494444832646,
 'INL': 0.1836734693877551,
 'ISN': 0.2571986334797462,
 'ITH': 0.36363636363636365,
 'ITO': 0.33170731707317075,
 'JAC': 0.3553113553113553,
 'JAN': 0.23969744392279604,
 'JAX': 0.30719985154945256,
 'JFK': 0.3065375069278778,
 'JMS': 0.2982885085574572,
 'JNU': 0.3111111111111111,
 'KOA': 0.28655400440852313,
 'KTN': 0.3339622641509434,
 'LAN': 0.25206043956043955,
 'LAR': 0.20270270270270271,
 'LAS': 0.3021742140977704,
 'LAX': 0.34749608936085835,
 'LBB': 0.3508771929824561,
 'LBE': 0.3472222222222222,
 'LCH': 0.19473081328751432,
 'LEX': 0.24905749293119697,
 'LFT': 0.2845323741007194,
 'LGA': 0.35476404494382024,
 'LGB': 0.2873781148429036,
 'LIH': 0.27295810410495136,
 'LIT': 0.3084534916595985,
 'LNK': 0.3328697264719518,
 'LRD': 0.24258760107816713,
 'LSE': 0.23950233281493002,
 'MAF': 0.32199413489736073,
 'MBS': 0.3064275037369208,
 'MCI': 0.31594375292068483,
 'MCO': 0.3267115645174145,
 'MDT': 0.26014040561622465,
 'MDW': 0.2776454475078902,
 'MEM': 0.3106116823916039,
 'MFE': 0.3231500339443313,
 'MFR': 0.3543360433604336,
 'MGM': 0.2900505902192243,
 'MHK': 0.254,
 'MHT': 0.3050058207217695,
 'MIA': 0.315814981976797,
 'MKE': 0.2815855144797168,
 'MKG': 0.29354207436399216,
 'MLB': 0.2497704315886134,
 'MLI': 0.33882783882783885,
 'MLU': 0.2646326276463263,
 'MMH': 0.358695652173913,
 'MOB': 0.3073351903435469,
 'MOT': 0.2855254461335096,
 'MQT': 0.375,
 'MRY': 0.2989228007181329,
 'MSN': 0.26157860404435745,
 'MSO': 0.2335680751173709,
 'MSP': 0.28831870357866307,
 'MSY': 0.28551953308056066,
 'MTJ': 0.39064856711915535,
 'MVY': 0.23270440251572327,
 'MYR': 0.3373722074971602,
 'OAJ': 0.33881578947368424,
 'OAK': 0.32778297474275025,
 'OGG': 0.32441820076415423,
 'OKC': 0.3307477505429724,
 'OMA': 0.3086064432271841,
 'ONT': 0.33162954849701837,
 'ORD': 0.3142809432364413,
 'ORF': 0.29132791327913277,
 'OTH': 0.4279661016949153,
 'PAH': 0.29469548133595286,
 'PBI': 0.32486066542813713,
 'PDX': 0.2686737804878049,
 'PHF': 0.32104752667313285,
 'PHL': 0.2993292192111618,
 'PHX': 0.30406474102056175,
 'PIA': 0.2643408252264341,
 'PIT': 0.2770122252844322,
 'PLN': 0.26537785588752194,
 'PNS': 0.2849135917795423,
 'PSC': 0.3494897959183674,
 'PSE': 0.444,
 'PSP': 0.3017140955233816,
 'PUB': 0.23232323232323232,
 'PVD': 0.2819814915623299,
 'PWM': 0.2940451745379877,
 'RAP': 0.2965592572364828,
 'RDD': 0.32263513513513514,
 'RDM': 0.3237410071942446,
 'RDU': 0.29879270207352066,
 'RHI': 0.1925925925925926,
 'RIC': 0.3069267908168292,
 'RKS': 0.20833333333333334,
 'RNO': 0.3078941613820249,
 'ROA': 0.3055100927441353,
 'ROC': 0.27492944496707433,
 'RST': 0.2598904443091905,
 'RSW': 0.2922498433256737,
 'SAF': 0.33421750663129973,
 'SAN': 0.2985799406777436,
 'SAT': 0.3445746065554372,
 'SAV': 0.2769042270778027,
 'SBA': 0.27055429631155986,
 'SBN': 0.2947148402508211,
 'SBP': 0.26009693053311794,
 'SCE': 0.37375178316690444,
 'SDF': 0.2902618517884648,
 'SEA': 0.2971231105175009,
 'SFO': 0.32722290991529784,
 'SGF': 0.3125198098256735,
 'SGU': 0.3022774327122153,
 'SHV': 0.28076542395249093,
 'SIT': 0.30978260869565216,
 'SJC': 0.3119796484736355,
 'SJU': 0.3436544719455675,
 'SLC': 0.2640520603065001,
 'SMF': 0.325629479875023,
 'SMX': 0.21495327102803738,
 'SNA': 0.2663106453725628,
 'SPI': 0.3273657289002558,
 'SRQ': 0.24666172106824927,
 'STC': 0.5964912280701754,
 'STL': 0.2954661033525017,
 'STT': 0.351676698194325,
 'STX': 0.4021505376344086,
 'SUN': 0.48258706467661694,
 'SUX': 0.25,
 'SWF': 0.46153846153846156,
 'SYR': 0.29745042492917845,
 'TLH': 0.2420749279538905,
 'TOL': 0.21904761904761905,
 'TPA': 0.3122338177444,
 'TRI': 0.22816166883963493,
 'TTN': 0.4616132167152575,
 'TUL': 0.33360771401693323,
 'TUS': 0.3346003698376824,
 'TVC': 0.25373831775700934,
 'TYR': 0.243006993006993,
 'TYS': 0.3124524473750951,
 'VLD': 0.32058047493403696,
 'VPS': 0.25710853023628355,
 'XNA': 0.3342691371888452,
 'YUM': 0.2607843137254902}

In [0]:
############ DO RUN THIS ############



df['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT'].map(df.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean())
df['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT'].map(df.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean())
df

In [23]:
data['ORIGIN_AIRPORT']=data['ORIGIN_AIRPORT'].map(ori_di)
data['DESTINATION_AIRPORT']=data['DESTINATION_AIRPORT'].map(des_di)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE  OUTCOME
1206109  2015      5   22  ...                8                 38        0
2120877  2015      8   29  ...                0                 13        0
2332043  2015      9   22  ...                9                 22        0
885409   2015      4   16  ...               14                 50        1
249022   2015      1   31  ...               16                 30        0
...       ...    ...  ...  ...              ...                ...      ...
2440729  2015     10    4  ...               13                  6        0
791280   2015      4    6  ...                6                 14        0
196408   2015      1   24  ...               22                 50        0
560968   2015      3   11  ...                7                  8        0
1429176  2015      6   15  ...               22                 26        1

[2406891 rows x 68 columns]

In [24]:
dep_del_means=data.groupby('DEPARTURE_DELAY')['OUTCOME'].mean()
dep_del_means

DEPARTURE_DELAY
-52.0      0.0
-39.0      0.0
-38.0      0.0
-37.0      0.0
-35.0      0.0
          ...
 1604.0    1.0
 1625.0    1.0
 1631.0    1.0
 1649.0    1.0
 1670.0    1.0
Name: OUTCOME, Length: 933, dtype: float64

In [25]:
dep_del_di=dict(dep_del_means)
dep_del_di

{-52.0: 0.0,
 -39.0: 0.0,
 -38.0: 0.0,
 -37.0: 0.0,
 -35.0: 0.0,
 -34.0: 0.0,
 -33.0: 0.0,
 -32.0: 0.5,
 -31.0: 0.5,
 -30.0: 0.0,
 -29.0: 0.3333333333333333,
 -28.0: 0.0,
 -27.0: 0.0,
 -26.0: 0.125,
 -25.0: 0.07692307692307693,
 -24.0: 0.19047619047619047,
 -23.0: 0.09375,
 -22.0: 0.057692307692307696,
 -21.0: 0.03571428571428571,
 -20.0: 0.031446540880503145,
 -19.0: 0.03745318352059925,
 -18.0: 0.03712871287128713,
 -17.0: 0.040310077519379844,
 -16.0: 0.04549675023212628,
 -15.0: 0.04904051172707889,
 -14.0: 0.0475557033588294,
 -13.0: 0.05671118896430918,
 -12.0: 0.05599687459304597,
 -11.0: 0.06414408721068014,
 -10.0: 0.0694014447884417,
 -9.0: 0.07057619265684346,
 -8.0: 0.07269558615453636,
 -7.0: 0.07896049142054083,
 -6.0: 0.08051485148514852,
 -5.0: 0.08428690240614872,
 -4.0: 0.09268256381361428,
 -3.0: 0.09951586874663798,
 -2.0: 0.10993108465875791,
 -1.0: 0.12803838131930192,
 0.0: 0.15448197520964885,
 1.0: 0.17488746288669668,
 2.0: 0.19612273157933094,
 3.0: 0.22309035169888444,
 4.0: 0.2456257768429104,
 5.0: 0.2755077909451612,
 6.0: 0.30443176831943836,
 7.0: 0.3416838589252382,
 8.0: 0.37699352876692954,
 9.0: 0.41640566741237883,
 10.0: 0.4557238037552998,
 11.0: 0.500955598026579,
 12.0: 0.53924241000094,
 13.0: 0.5777371707019948,
 14.0: 0.6097837225608111,
 15.0: 0.6532423208191126,
 16.0: 0.6837469975980784,
 17.0: 0.7184472332401326,
 18.0: 0.7527853260869565,
 19.0: 0.7791290416545296,
 20.0: 0.8093262656526081,
 21.0: 0.834063662670525,
 22.0: 0.8554883318928262,
 23.0: 0.8685484607655065,
 24.0: 0.8795354194663083,
 25.0: 0.9016636957813429,
 26.0: 0.9071527555697687,
 27.0: 0.9218992678056357,
 28.0: 0.9364241450539362,
 29.0: 0.9407206985610626,
 30.0: 0.9497881883877398,
 31.0: 0.9574695733582987,
 32.0: 0.961262149598535,
 33.0: 0.9691358024691358,
 34.0: 0.9763838748495788,
 35.0: 0.9745242962729989,
 36.0: 0.9782181460858173,
 37.0: 0.9815660409267715,
 38.0: 0.981867145421903,
 39.0: 0.98568281938326,
 40.0: 0.9896343761779118,
 41.0: 0.9894338118022329,
 42.0: 0.9905330314879605,
 43.0: 0.9937080536912751,
 44.0: 0.9939590075512406,
 45.0: 0.9967090829311102,
 46.0: 0.9933638443935927,
 47.0: 0.9953793774319066,
 48.0: 0.9985052316890882,
 49.0: 0.9974066390041494,
 50.0: 0.9968903861103913,
 51.0: 0.9975362715576239,
 52.0: 0.9986293859649122,
 53.0: 0.9979815455594002,
 54.0: 0.9991126885536823,
 55.0: 0.9991386735572783,
 56.0: 0.9981208894456624,
 57.0: 0.999349593495935,
 58.0: 1.0,
 59.0: 1.0,
 60.0: 1.0,
 61.0: 0.9996330275229358,
 62.0: 0.9996290801186943,
 63.0: 0.9996230682246513,
 64.0: 1.0,
 65.0: 1.0,
 66.0: 1.0,
 67.0: 1.0,
 68.0: 1.0,
 69.0: 1.0,
 70.0: 1.0,
 71.0: 1.0,
 72.0: 1.0,
 73.0: 1.0,
 74.0: 1.0,
 75.0: 1.0,
 76.0: 1.0,
 77.0: 1.0,
 78.0: 1.0,
 79.0: 1.0,
 80.0: 1.0,
 81.0: 1.0,
 82.0: 1.0,
 83.0: 1.0,
 84.0: 1.0,
 85.0: 1.0,
 86.0: 1.0,
 87.0: 1.0,
 88.0: 1.0,
 89.0: 1.0,
 90.0: 1.0,
 91.0: 1.0,
 92.0: 1.0,
 93.0: 1.0,
 94.0: 1.0,
 95.0: 1.0,
 96.0: 1.0,
 97.0: 1.0,
 98.0: 1.0,
 99.0: 1.0,
 100.0: 1.0,
 101.0: 1.0,
 102.0: 1.0,
 103.0: 1.0,
 104.0: 1.0,
 105.0: 1.0,
 106.0: 1.0,
 107.0: 1.0,
 108.0: 1.0,
 109.0: 1.0,
 110.0: 1.0,
 111.0: 1.0,
 112.0: 1.0,
 113.0: 1.0,
 114.0: 1.0,
 115.0: 1.0,
 116.0: 1.0,
 117.0: 1.0,
 118.0: 1.0,
 119.0: 1.0,
 120.0: 1.0,
 121.0: 1.0,
 122.0: 1.0,
 123.0: 1.0,
 124.0: 1.0,
 125.0: 1.0,
 126.0: 1.0,
 127.0: 1.0,
 128.0: 1.0,
 129.0: 1.0,
 130.0: 1.0,
 131.0: 1.0,
 132.0: 1.0,
 133.0: 1.0,
 134.0: 1.0,
 135.0: 1.0,
 136.0: 1.0,
 137.0: 1.0,
 138.0: 1.0,
 139.0: 1.0,
 140.0: 1.0,
 141.0: 1.0,
 142.0: 1.0,
 143.0: 1.0,
 144.0: 1.0,
 145.0: 1.0,
 146.0: 1.0,
 147.0: 1.0,
 148.0: 1.0,
 149.0: 1.0,
 150.0: 1.0,
 151.0: 1.0,
 152.0: 1.0,
 153.0: 1.0,
 154.0: 1.0,
 155.0: 1.0,
 156.0: 1.0,
 157.0: 1.0,
 158.0: 1.0,
 159.0: 1.0,
 160.0: 1.0,
 161.0: 1.0,
 162.0: 1.0,
 163.0: 1.0,
 164.0: 1.0,
 165.0: 1.0,
 166.0: 1.0,
 167.0: 1.0,
 168.0: 1.0,
 169.0: 1.0,
 170.0: 1.0,
 171.0: 1.0,
 172.0: 1.0,
 173.0: 1.0,
 174.0: 1.0,
 175.0: 1.0,
 176.0: 1.0,
 177.0: 1.0,
 178.0: 1.0,
 179.0: 1.0,
 180.0: 1.0,
 181.0: 1.0,
 182.0: 1.0,
 183.0: 1.0,
 184.0: 0.9958677685950413,
 185.0: 1.0,
 186.0: 1.0,
 187.0: 1.0,
 188.0: 1.0,
 189.0: 1.0,
 190.0: 1.0,
 191.0: 1.0,
 192.0: 1.0,
 193.0: 1.0,
 194.0: 1.0,
 195.0: 1.0,
 196.0: 1.0,
 197.0: 1.0,
 198.0: 1.0,
 199.0: 1.0,
 200.0: 1.0,
 201.0: 1.0,
 202.0: 1.0,
 203.0: 1.0,
 204.0: 1.0,
 205.0: 1.0,
 206.0: 1.0,
 207.0: 1.0,
 208.0: 1.0,
 209.0: 1.0,
 210.0: 1.0,
 211.0: 1.0,
 212.0: 1.0,
 213.0: 1.0,
 214.0: 1.0,
 215.0: 1.0,
 216.0: 1.0,
 217.0: 1.0,
 218.0: 1.0,
 219.0: 1.0,
 220.0: 1.0,
 221.0: 1.0,
 222.0: 1.0,
 223.0: 1.0,
 224.0: 1.0,
 225.0: 1.0,
 226.0: 1.0,
 227.0: 1.0,
 228.0: 1.0,
 229.0: 1.0,
 230.0: 1.0,
 231.0: 1.0,
 232.0: 1.0,
 233.0: 1.0,
 234.0: 1.0,
 235.0: 1.0,
 236.0: 1.0,
 237.0: 1.0,
 238.0: 1.0,
 239.0: 1.0,
 240.0: 1.0,
 241.0: 1.0,
 242.0: 1.0,
 243.0: 1.0,
 244.0: 1.0,
 245.0: 1.0,
 246.0: 1.0,
 247.0: 1.0,
 248.0: 1.0,
 249.0: 1.0,
 250.0: 1.0,
 251.0: 1.0,
 252.0: 1.0,
 253.0: 1.0,
 254.0: 1.0,
 255.0: 1.0,
 256.0: 1.0,
 257.0: 1.0,
 258.0: 1.0,
 259.0: 1.0,
 260.0: 1.0,
 261.0: 1.0,
 262.0: 1.0,
 263.0: 1.0,
 264.0: 1.0,
 265.0: 1.0,
 266.0: 1.0,
 267.0: 1.0,
 268.0: 1.0,
 269.0: 1.0,
 270.0: 1.0,
 271.0: 1.0,
 272.0: 1.0,
 273.0: 1.0,
 274.0: 1.0,
 275.0: 1.0,
 276.0: 1.0,
 277.0: 1.0,
 278.0: 1.0,
 279.0: 1.0,
 280.0: 1.0,
 281.0: 1.0,
 282.0: 1.0,
 283.0: 1.0,
 284.0: 1.0,
 285.0: 1.0,
 286.0: 1.0,
 287.0: 1.0,
 288.0: 1.0,
 289.0: 1.0,
 290.0: 1.0,
 291.0: 1.0,
 292.0: 1.0,
 293.0: 1.0,
 294.0: 1.0,
 295.0: 1.0,
 296.0: 1.0,
 297.0: 1.0,
 298.0: 1.0,
 299.0: 1.0,
 300.0: 1.0,
 301.0: 1.0,
 302.0: 1.0,
 303.0: 1.0,
 304.0: 1.0,
 305.0: 1.0,
 306.0: 1.0,
 307.0: 1.0,
 308.0: 1.0,
 309.0: 1.0,
 310.0: 1.0,
 311.0: 1.0,
 312.0: 1.0,
 313.0: 1.0,
 314.0: 1.0,
 315.0: 1.0,
 316.0: 1.0,
 317.0: 1.0,
 318.0: 1.0,
 319.0: 1.0,
 320.0: 1.0,
 321.0: 1.0,
 322.0: 1.0,
 323.0: 1.0,
 324.0: 1.0,
 325.0: 1.0,
 326.0: 1.0,
 327.0: 1.0,
 328.0: 1.0,
 329.0: 1.0,
 330.0: 1.0,
 331.0: 1.0,
 332.0: 1.0,
 333.0: 1.0,
 334.0: 1.0,
 335.0: 1.0,
 336.0: 1.0,
 337.0: 1.0,
 338.0: 1.0,
 339.0: 1.0,
 340.0: 1.0,
 341.0: 1.0,
 342.0: 1.0,
 343.0: 1.0,
 344.0: 1.0,
 345.0: 1.0,
 346.0: 1.0,
 347.0: 1.0,
 348.0: 1.0,
 349.0: 1.0,
 350.0: 1.0,
 351.0: 1.0,
 352.0: 1.0,
 353.0: 1.0,
 354.0: 1.0,
 355.0: 1.0,
 356.0: 1.0,
 357.0: 1.0,
 358.0: 1.0,
 359.0: 1.0,
 360.0: 1.0,
 361.0: 1.0,
 362.0: 1.0,
 363.0: 1.0,
 364.0: 1.0,
 365.0: 1.0,
 366.0: 1.0,
 367.0: 1.0,
 368.0: 1.0,
 369.0: 1.0,
 370.0: 1.0,
 371.0: 1.0,
 372.0: 1.0,
 373.0: 1.0,
 374.0: 1.0,
 375.0: 1.0,
 376.0: 1.0,
 377.0: 1.0,
 378.0: 1.0,
 379.0: 1.0,
 380.0: 1.0,
 381.0: 1.0,
 382.0: 1.0,
 383.0: 1.0,
 384.0: 1.0,
 385.0: 1.0,
 386.0: 1.0,
 387.0: 1.0,
 388.0: 1.0,
 389.0: 1.0,
 390.0: 1.0,
 391.0: 1.0,
 392.0: 1.0,
 393.0: 1.0,
 394.0: 1.0,
 395.0: 1.0,
 396.0: 1.0,
 397.0: 1.0,
 398.0: 1.0,
 399.0: 1.0,
 400.0: 1.0,
 401.0: 1.0,
 402.0: 1.0,
 403.0: 1.0,
 404.0: 1.0,
 405.0: 1.0,
 406.0: 1.0,
 407.0: 1.0,
 408.0: 1.0,
 409.0: 1.0,
 410.0: 1.0,
 411.0: 1.0,
 412.0: 1.0,
 413.0: 1.0,
 414.0: 1.0,
 415.0: 1.0,
 416.0: 1.0,
 417.0: 1.0,
 418.0: 1.0,
 419.0: 1.0,
 420.0: 1.0,
 421.0: 1.0,
 422.0: 1.0,
 423.0: 1.0,
 424.0: 1.0,
 425.0: 1.0,
 426.0: 1.0,
 427.0: 1.0,
 428.0: 1.0,
 429.0: 1.0,
 430.0: 1.0,
 431.0: 1.0,
 432.0: 1.0,
 433.0: 1.0,
 434.0: 1.0,
 435.0: 1.0,
 436.0: 1.0,
 437.0: 1.0,
 438.0: 1.0,
 439.0: 1.0,
 440.0: 1.0,
 441.0: 1.0,
 442.0: 1.0,
 443.0: 1.0,
 444.0: 1.0,
 445.0: 1.0,
 446.0: 1.0,
 447.0: 1.0,
 448.0: 1.0,
 449.0: 1.0,
 450.0: 1.0,
 451.0: 1.0,
 452.0: 1.0,
 453.0: 1.0,
 454.0: 1.0,
 455.0: 1.0,
 456.0: 1.0,
 457.0: 1.0,
 458.0: 1.0,
 459.0: 1.0,
 460.0: 1.0,
 461.0: 1.0,
 462.0: 1.0,
 463.0: 1.0,
 464.0: 1.0,
 465.0: 1.0,
 466.0: 1.0,
 467.0: 1.0,
 468.0: 1.0,
 469.0: 1.0,
 470.0: 1.0,
 471.0: 1.0,
 472.0: 1.0,
 473.0: 1.0,
 474.0: 1.0,
 475.0: 1.0,
 476.0: 1.0,
 477.0: 1.0,
 478.0: 1.0,
 479.0: 1.0,
 480.0: 1.0,
 481.0: 1.0,
 482.0: 1.0,
 483.0: 1.0,
 484.0: 1.0,
 485.0: 1.0,
 486.0: 1.0,
 487.0: 1.0,
 488.0: 1.0,
 489.0: 1.0,
 490.0: 1.0,
 491.0: 1.0,
 492.0: 1.0,
 493.0: 1.0,
 494.0: 1.0,
 495.0: 1.0,
 496.0: 1.0,
 497.0: 1.0,
 498.0: 1.0,
 499.0: 1.0,
 500.0: 1.0,
 501.0: 1.0,
 502.0: 1.0,
 503.0: 1.0,
 504.0: 1.0,
 505.0: 1.0,
 506.0: 1.0,
 507.0: 1.0,
 508.0: 1.0,
 509.0: 1.0,
 510.0: 1.0,
 511.0: 1.0,
 512.0: 1.0,
 513.0: 1.0,
 514.0: 1.0,
 515.0: 1.0,
 516.0: 1.0,
 517.0: 1.0,
 518.0: 1.0,
 519.0: 1.0,
 520.0: 1.0,
 521.0: 1.0,
 522.0: 1.0,
 523.0: 1.0,
 524.0: 1.0,
 525.0: 1.0,
 526.0: 1.0,
 527.0: 1.0,
 528.0: 1.0,
 529.0: 1.0,
 530.0: 1.0,
 531.0: 1.0,
 532.0: 1.0,
 533.0: 1.0,
 534.0: 1.0,
 535.0: 1.0,
 536.0: 1.0,
 537.0: 1.0,
 538.0: 1.0,
 539.0: 1.0,
 540.0: 1.0,
 541.0: 1.0,
 542.0: 1.0,
 543.0: 1.0,
 544.0: 1.0,
 545.0: 1.0,
 546.0: 1.0,
 547.0: 1.0,
 548.0: 1.0,
 549.0: 1.0,
 550.0: 1.0,
 552.0: 1.0,
 553.0: 1.0,
 554.0: 1.0,
 555.0: 1.0,
 557.0: 1.0,
 558.0: 1.0,
 559.0: 1.0,
 560.0: 1.0,
 562.0: 1.0,
 563.0: 1.0,
 564.0: 1.0,
 565.0: 1.0,
 566.0: 1.0,
 568.0: 1.0,
 570.0: 1.0,
 571.0: 1.0,
 572.0: 1.0,
 573.0: 1.0,
 574.0: 1.0,
 575.0: 1.0,
 577.0: 1.0,
 578.0: 1.0,
 579.0: 1.0,
 580.0: 1.0,
 581.0: 1.0,
 582.0: 1.0,
 583.0: 1.0,
 584.0: 1.0,
 585.0: 1.0,
 586.0: 1.0,
 587.0: 1.0,
 588.0: 1.0,
 590.0: 1.0,
 591.0: 1.0,
 594.0: 1.0,
 596.0: 1.0,
 597.0: 1.0,
 598.0: 1.0,
 599.0: 1.0,
 600.0: 1.0,
 601.0: 1.0,
 602.0: 1.0,
 603.0: 1.0,
 604.0: 1.0,
 605.0: 1.0,
 606.0: 1.0,
 607.0: 1.0,
 609.0: 1.0,
 610.0: 1.0,
 611.0: 1.0,
 613.0: 1.0,
 615.0: 1.0,
 616.0: 1.0,
 617.0: 1.0,
 618.0: 1.0,
 619.0: 1.0,
 620.0: 1.0,
 622.0: 1.0,
 623.0: 1.0,
 624.0: 1.0,
 625.0: 1.0,
 628.0: 1.0,
 630.0: 1.0,
 631.0: 1.0,
 632.0: 1.0,
 634.0: 1.0,
 635.0: 1.0,
 638.0: 1.0,
 639.0: 1.0,
 640.0: 1.0,
 643.0: 1.0,
 645.0: 1.0,
 646.0: 1.0,
 648.0: 1.0,
 649.0: 1.0,
 650.0: 1.0,
 651.0: 1.0,
 653.0: 1.0,
 654.0: 1.0,
 655.0: 1.0,
 656.0: 1.0,
 658.0: 1.0,
 659.0: 1.0,
 661.0: 1.0,
 664.0: 1.0,
 665.0: 1.0,
 666.0: 1.0,
 669.0: 1.0,
 672.0: 1.0,
 673.0: 1.0,
 674.0: 1.0,
 675.0: 1.0,
 676.0: 1.0,
 677.0: 1.0,
 678.0: 1.0,
 679.0: 1.0,
 681.0: 1.0,
 682.0: 1.0,
 683.0: 1.0,
 684.0: 1.0,
 686.0: 1.0,
 687.0: 1.0,
 688.0: 1.0,
 689.0: 1.0,
 690.0: 1.0,
 692.0: 1.0,
 693.0: 1.0,
 694.0: 1.0,
 695.0: 1.0,
 696.0: 1.0,
 698.0: 1.0,
 699.0: 1.0,
 701.0: 1.0,
 702.0: 1.0,
 704.0: 1.0,
 706.0: 1.0,
 708.0: 1.0,
 709.0: 1.0,
 710.0: 1.0,
 711.0: 1.0,
 713.0: 1.0,
 714.0: 1.0,
 716.0: 1.0,
 718.0: 1.0,
 719.0: 1.0,
 722.0: 1.0,
 726.0: 1.0,
 727.0: 1.0,
 728.0: 1.0,
 729.0: 1.0,
 730.0: 1.0,
 732.0: 1.0,
 733.0: 1.0,
 736.0: 1.0,
 739.0: 1.0,
 740.0: 1.0,
 741.0: 1.0,
 744.0: 1.0,
 745.0: 1.0,
 746.0: 1.0,
 747.0: 1.0,
 748.0: 1.0,
 749.0: 1.0,
 751.0: 1.0,
 752.0: 1.0,
 753.0: 1.0,
 754.0: 1.0,
 755.0: 1.0,
 758.0: 1.0,
 761.0: 1.0,
 762.0: 1.0,
 763.0: 1.0,
 764.0: 1.0,
 767.0: 1.0,
 768.0: 1.0,
 770.0: 1.0,
 771.0: 1.0,
 772.0: 1.0,
 773.0: 1.0,
 777.0: 1.0,
 781.0: 1.0,
 782.0: 1.0,
 783.0: 1.0,
 784.0: 1.0,
 785.0: 1.0,
 786.0: 1.0,
 787.0: 1.0,
 788.0: 1.0,
 790.0: 1.0,
 796.0: 1.0,
 797.0: 1.0,
 799.0: 1.0,
 800.0: 1.0,
 801.0: 1.0,
 802.0: 1.0,
 803.0: 1.0,
 804.0: 1.0,
 805.0: 1.0,
 806.0: 1.0,
 808.0: 1.0,
 809.0: 1.0,
 811.0: 1.0,
 812.0: 1.0,
 814.0: 1.0,
 815.0: 1.0,
 816.0: 1.0,
 817.0: 1.0,
 818.0: 1.0,
 822.0: 1.0,
 823.0: 1.0,
 829.0: 1.0,
 831.0: 1.0,
 832.0: 1.0,
 833.0: 1.0,
 834.0: 1.0,
 835.0: 1.0,
 836.0: 1.0,
 837.0: 1.0,
 838.0: 1.0,
 844.0: 1.0,
 846.0: 1.0,
 847.0: 1.0,
 848.0: 1.0,
 849.0: 1.0,
 850.0: 1.0,
 851.0: 1.0,
 854.0: 1.0,
 856.0: 1.0,
 860.0: 1.0,
 861.0: 1.0,
 864.0: 1.0,
 865.0: 1.0,
 866.0: 1.0,
 868.0: 1.0,
 869.0: 1.0,
 870.0: 1.0,
 874.0: 1.0,
 877.0: 1.0,
 878.0: 1.0,
 880.0: 1.0,
 881.0: 1.0,
 886.0: 1.0,
 888.0: 1.0,
 889.0: 1.0,
 890.0: 1.0,
 891.0: 1.0,
 892.0: 1.0,
 893.0: 1.0,
 894.0: 1.0,
 895.0: 1.0,
 897.0: 1.0,
 898.0: 1.0,
 900.0: 1.0,
 902.0: 1.0,
 907.0: 1.0,
 908.0: 1.0,
 912.0: 1.0,
 913.0: 1.0,
 924.0: 1.0,
 925.0: 1.0,
 928.0: 1.0,
 931.0: 1.0,
 935.0: 1.0,
 936.0: 1.0,
 939.0: 1.0,
 940.0: 1.0,
 942.0: 1.0,
 945.0: 1.0,
 947.0: 1.0,
 949.0: 1.0,
 951.0: 1.0,
 952.0: 1.0,
 955.0: 1.0,
 956.0: 1.0,
 959.0: 1.0,
 961.0: 1.0,
 963.0: 1.0,
 968.0: 1.0,
 971.0: 1.0,
 973.0: 1.0,
 976.0: 1.0,
 977.0: 1.0,
 989.0: 1.0,
 996.0: 1.0,
 997.0: 1.0,
 999.0: 1.0,
 1000.0: 1.0,
 1001.0: 1.0,
 1003.0: 1.0,
 1006.0: 1.0,
 1010.0: 1.0,
 1013.0: 1.0,
 1015.0: 1.0,
 1018.0: 1.0,
 1021.0: 1.0,
 1022.0: 1.0,
 1023.0: 1.0,
 1024.0: 1.0,
 1025.0: 1.0,
 1036.0: 1.0,
 1043.0: 1.0,
 1046.0: 1.0,
 1047.0: 1.0,
 1052.0: 1.0,
 1054.0: 1.0,
 1058.0: 1.0,
 1062.0: 1.0,
 1070.0: 1.0,
 1071.0: 1.0,
 1074.0: 1.0,
 1087.0: 1.0,
 1088.0: 1.0,
 1098.0: 1.0,
 1099.0: 1.0,
 1103.0: 1.0,
 1104.0: 1.0,
 1106.0: 1.0,
 1108.0: 1.0,
 1109.0: 1.0,
 1116.0: 1.0,
 1125.0: 1.0,
 1126.0: 1.0,
 1150.0: 1.0,
 1151.0: 1.0,
 1156.0: 1.0,
 1159.0: 1.0,
 1160.0: 1.0,
 1169.0: 1.0,
 1179.0: 1.0,
 1184.0: 1.0,
 1188.0: 1.0,
 1190.0: 1.0,
 1194.0: 1.0,
 1198.0: 1.0,
 1202.0: 1.0,
 1209.0: 1.0,
 1210.0: 1.0,
 1221.0: 1.0,
 1223.0: 1.0,
 1239.0: 1.0,
 1250.0: 1.0,
 1254.0: 1.0,
 1258.0: 1.0,
 1304.0: 1.0,
 1341.0: 1.0,
 1345.0: 1.0,
 1365.0: 1.0,
 1367.0: 1.0,
 1378.0: 1.0,
 1384.0: 1.0,
 1393.0: 1.0,
 1429.0: 1.0,
 1457.0: 1.0,
 1475.0: 1.0,
 1492.0: 1.0,
 1496.0: 1.0,
 1573.0: 1.0,
 1576.0: 1.0,
 1604.0: 1.0,
 1625.0: 1.0,
 1631.0: 1.0,
 1649.0: 1.0,
 1670.0: 1.0}

In [26]:
data['DEPARTURE_DELAY']=data['DEPARTURE_DELAY'].map(dep_del_di)
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR  WHEELS_OFF_MINUTE  OUTCOME
1206109  2015      5   22  ...                8                 38        0
2120877  2015      8   29  ...                0                 13        0
2332043  2015      9   22  ...                9                 22        0
885409   2015      4   16  ...               14                 50        1
249022   2015      1   31  ...               16                 30        0
...       ...    ...  ...  ...              ...                ...      ...
2440729  2015     10    4  ...               13                  6        0
791280   2015      4    6  ...                6                 14        0
196408   2015      1   24  ...               22                 50        0
560968   2015      3   11  ...                7                  8        0
1429176  2015      6   15  ...               22                 26        1

[2406891 rows x 68 columns]

In [27]:
cols=['YEAR','MONTH','DAY','DAY_OF_WEEK','ORIGIN_AIRPORT','DESTINATION_AIRPORT','DEPARTURE_DELAY','TAXI_OUT','SCHEDULED_TIME','DISTANCE','AIR_TIME','DIVERTED','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT','AA','AS','B6','DL','EV','F9','HA','MQ','NK','OO','UA','US','VX','WN','DEPARTURE_TIME_HOUR','SCHEDULED_DEPARTURE_HOUR','SCHEDULED_ARRIVAL_HOUR','DEPARTURE_TIME_MINUTE','SCHEDULED_DEPARTURE_MINUTE','SCHEDULED_ARRIVAL_MINUTE','WHEELS_OFF_HOUR','WHEELS_OFF_MINUTE','AIR_SYSTEM_DELAY_is_missing','SECURITY_DELAY_is_missing','AIRLINE_DELAY_is_missing','LATE_AIRCRAFT_DELAY_is_missing','WEATHER_DELAY_is_missing']
Y_train=data['OUTCOME']
data=data[cols]
data

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
1206109  2015      5  ...                               1                         1
2120877  2015      8  ...                               1                         1
2332043  2015      9  ...                               1                         1
885409   2015      4  ...                               0                         0
249022   2015      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
2440729  2015     10  ...                               1                         1
791280   2015      4  ...                               1                         1
196408   2015      1  ...                               1                         1
560968   2015      3  ...                               1                         1
1429176  2015      6  ...                               0                         0

[2406891 rows x 47 columns]

In [28]:
df=pd.DataFrame(Y_train)
Y_train=df
Y_train

         OUTCOME
1206109        0
2120877        0
2332043        0
885409         1
249022         0
...          ...
2440729        0
791280         0
196408         0
560968         0
1429176        1

[2406891 rows x 1 columns]

In [29]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=27, ratio=1.0)
smote_X_train, smote_Y_train = sm.fit_sample(data, Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [30]:
cols=data.columns
X_train=pd.DataFrame(smote_X_train)
X_train.columns=cols
X_train

           YEAR  ...  WEATHER_DELAY_is_missing
0        2015.0  ...                       1.0
1        2015.0  ...                       1.0
2        2015.0  ...                       1.0
3        2015.0  ...                       0.0
4        2015.0  ...                       1.0
...         ...  ...                       ...
3351155  2015.0  ...                       0.0
3351156  2015.0  ...                       1.0
3351157  2015.0  ...                       1.0
3351158  2015.0  ...                       1.0
3351159  2015.0  ...                       1.0

[3351160 rows x 47 columns]

In [31]:
Y_train=smote_Y_train
Y_train=pd.DataFrame(Y_train)
Y_train.columns=['OUTCOME']
Y_train

         OUTCOME
0              0
1              0
2              0
3              1
4              0
...          ...
3351155        1
3351156        1
3351157        1
3351158        1
3351159        1

[3351160 rows x 1 columns]

In [0]:
data=X_test.join(Y_test)

In [33]:
data

         YEAR  MONTH  DAY  ...  WHEELS_OFF_HOUR WHEELS_OFF_MINUTE OUTCOME
2389918  2015      9   28  ...               17                51       1
3086735  2015     12   17  ...               11                52       1
911560   2015      4   19  ...               16                 0       0
2844584  2015     11   18  ...               20                 9       0
193625   2015      1   24  ...               14                22       0
...       ...    ...  ...  ...              ...               ...     ...
2539274  2015     10   15  ...                9                45       0
2620629  2015     10   24  ...                9                40       0
1312311  2015      6    3  ...               10                17       0
675457   2015      3   23  ...               22                 8       0
3147351  2015     12   24  ...                9                 8       0

[802298 rows x 68 columns]

In [34]:
cols=['YEAR','MONTH','DAY','DAY_OF_WEEK','ORIGIN_AIRPORT','DESTINATION_AIRPORT','DEPARTURE_DELAY','TAXI_OUT','SCHEDULED_TIME','DISTANCE','AIR_TIME','DIVERTED','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT','AA','AS','B6','DL','EV','F9','HA','MQ','NK','OO','UA','US','VX','WN','DEPARTURE_TIME_HOUR','SCHEDULED_DEPARTURE_HOUR','SCHEDULED_ARRIVAL_HOUR','DEPARTURE_TIME_MINUTE','SCHEDULED_DEPARTURE_MINUTE','SCHEDULED_ARRIVAL_MINUTE','WHEELS_OFF_HOUR','WHEELS_OFF_MINUTE','AIR_SYSTEM_DELAY_is_missing','SECURITY_DELAY_is_missing','AIRLINE_DELAY_is_missing','LATE_AIRCRAFT_DELAY_is_missing','WEATHER_DELAY_is_missing','OUTCOME']
data=data[cols]
data

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
2389918  2015      9  ...                         0        1
3086735  2015     12  ...                         0        1
911560   2015      4  ...                         1        0
2844584  2015     11  ...                         1        0
193625   2015      1  ...                         1        0
...       ...    ...  ...                       ...      ...
2539274  2015     10  ...                         1        0
2620629  2015     10  ...                         1        0
1312311  2015      6  ...                         1        0
675457   2015      3  ...                         1        0
3147351  2015     12  ...                         1        0

[802298 rows x 48 columns]

In [35]:
data['ORIGIN_AIRPORT']=data['ORIGIN_AIRPORT'].map(ori_di)
data['DESTINATION_AIRPORT']=data['DESTINATION_AIRPORT'].map(des_di)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
2389918  2015      9  ...                         0        1
3086735  2015     12  ...                         0        1
911560   2015      4  ...                         1        0
2844584  2015     11  ...                         1        0
193625   2015      1  ...                         1        0
...       ...    ...  ...                       ...      ...
2539274  2015     10  ...                         1        0
2620629  2015     10  ...                         1        0
1312311  2015      6  ...                         1        0
675457   2015      3  ...                         1        0
3147351  2015     12  ...                         1        0

[802298 rows x 48 columns]

In [36]:
data['DEPARTURE_DELAY']=data['DEPARTURE_DELAY'].map(dep_del_di)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
2389918  2015      9  ...                         0        1
3086735  2015     12  ...                         0        1
911560   2015      4  ...                         1        0
2844584  2015     11  ...                         1        0
193625   2015      1  ...                         1        0
...       ...    ...  ...                       ...      ...
2539274  2015     10  ...                         1        0
2620629  2015     10  ...                         1        0
1312311  2015      6  ...                         1        0
675457   2015      3  ...                         1        0
3147351  2015     12  ...                         1        0

[802298 rows x 48 columns]

In [37]:
Y_test=data['OUTCOME']
data.drop(['OUTCOME'],axis=1,inplace=True)

data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
2389918  2015      9  ...                               0                         0
3086735  2015     12  ...                               0                         0
911560   2015      4  ...                               1                         1
2844584  2015     11  ...                               1                         1
193625   2015      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
2539274  2015     10  ...                               1                         1
2620629  2015     10  ...                               1                         1
1312311  2015      6  ...                               1                         1
675457   2015      3  ...                               1                         1
3147351  2015     12  ...                               1                         1

[802298 rows x 47 columns]

In [38]:
data.dropna(inplace=True)

X_test=data
X_test

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
2389918  2015      9  ...                               0                         0
3086735  2015     12  ...                               0                         0
911560   2015      4  ...                               1                         1
2844584  2015     11  ...                               1                         1
193625   2015      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
2539274  2015     10  ...                               1                         1
2620629  2015     10  ...                               1                         1
1312311  2015      6  ...                               1                         1
675457   2015      3  ...                               1                         1
3147351  2015     12  ...                               1                         1

[802221 rows x 47 columns]

In [39]:
df=pd.DataFrame(Y_test)
Y_test=df
Y_test

         OUTCOME
2389918        1
3086735        1
911560         0
2844584        0
193625         0
...          ...
2539274        0
2620629        0
1312311        0
675457         0
3147351        0

[802298 rows x 1 columns]

ADD ANY EXTRA FEATURE ENGINEERING HERE

In [0]:
from sklearn.utils import resample

# concatenate our training data back together
X = pd.concat([X_train, Y_train], axis=1)

# separate minority and majority classes
not_delay = X[X.OUTCOME==0]
delay = X[X.OUTCOME==1]

# upsample minority
delay_upsampled = resample(delay,
                          replace=True, # sample with replacement
                          n_samples=len(not_delay), # match number in majority class
                          random_state=27) # reproducible results

# combine majority and upsampled minority
upsampled = pd.concat([not_delay, delay_upsampled])

# check new class counts
print(upsampled["OUTCOME"].value_counts())

oversam_X_train=upsampled.drop("OUTCOME",axis=1)
oversam_Y_train=pd.DataFrame(upsampled.OUTCOME)

1    3027409
0    3027409
Name: OUTCOME, dtype: int64

In [0]:
for each in [oversam_Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

Outcome fraction = 0.5000
Outcome fraction = 0.2936

In [0]:
train_data=oversam_X_train.join(oversam_Y_train)
test_data=X_test.join(Y_test)

In [40]:
for each in [Y_train,Y_test]:
    print(f"Outcome fraction = {each.OUTCOME.mean():.4f}")

Outcome fraction = 0.5000
Outcome fraction = 0.3043

In [0]:
train_data=X_train.join(Y_train)
test_data=X_test.join(Y_test)

In [42]:
train_data

           YEAR      MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
0        2015.0   5.000000  ...                       1.0        0
1        2015.0   8.000000  ...                       1.0        0
2        2015.0   9.000000  ...                       1.0        0
3        2015.0   4.000000  ...                       0.0        1
4        2015.0   1.000000  ...                       1.0        0
...         ...        ...  ...                       ...      ...
3351155  2015.0   6.000000  ...                       0.0        1
3351156  2015.0   6.974331  ...                       1.0        1
3351157  2015.0   6.268597  ...                       1.0        1
3351158  2015.0  10.293505  ...                       1.0        1
3351159  2015.0   6.655319  ...                       1.0        1

[3351160 rows x 48 columns]

In [43]:
test_data

         YEAR  MONTH  ...  WEATHER_DELAY_is_missing  OUTCOME
2389918  2015      9  ...                         0        1
3086735  2015     12  ...                         0        1
911560   2015      4  ...                         1        0
2844584  2015     11  ...                         1        0
193625   2015      1  ...                         1        0
...       ...    ...  ...                       ...      ...
2539274  2015     10  ...                         1        0
2620629  2015     10  ...                         1        0
1312311  2015      6  ...                         1        0
675457   2015      3  ...                         1        0
3147351  2015     12  ...                         1        0

[802221 rows x 48 columns]

In [0]:
train_data.to_csv("train_data_with_weather_2015.csv",index=False)
test_data.to_csv("test_data_with_weather_2015.csv",index=False)

In [0]:
import json

with open('Origin_airport_dict_with_weather_2015.json', 'w') as fp:
    json.dump(ori_di, fp)
with open('Destination_airport_dict_with_weather_2015.json', 'w') as fp:
    json.dump(des_di, fp)
with open('Departure_delay_dict_with_weather_2015.json', 'w') as fp:
    json.dump(dep_del_di, fp)

In [46]:
with open('Origin_airport_dict_with_weather_2015.json', 'r') as fp:
    data = json.load(fp)
data

{'ABQ': 0.29198067632850244,
 'ATL': 0.25465503602354034,
 'BNA': 0.28366013071895424,
 'BOS': 0.29833279152928066,
 'CLT': 0.33188594764810075,
 'DAL': 0.3538518778808987,
 'DEN': 0.3318158348760185,
 'DTW': 0.2676905885840688,
 'HOU': 0.33631910090773737,
 'IAH': 0.32916638358584144,
 'IND': 0.2544458981441101,
 'JAX': 0.2527645051194539,
 'JFK': 0.3083615531849393,
 'LAS': 0.3184427666918945,
 'LAX': 0.3282216978431909,
 'LGA': 0.32463423767771593,
 'MCI': 0.2700172534986261,
 'MDW': 0.3241897575457694,
 'MIA': 0.33102113244071624,
 'MSP': 0.2596267707556686,
 'OAJ': 0.2918918918918919,
 'ORD': 0.3361643571472395,
 'PDX': 0.2335982546361228,
 'PHL': 0.31149176470588236,
 'PHX': 0.31151044032776404,
 'PIT': 0.22153176945782196,
 'PWM': 0.2675380101360363,
 'SAN': 0.28339263901428646,
 'SAT': 0.24072149952204813,
 'SEA': 0.29797155771138795,
 'SFO': 0.3089001295932444}

In [47]:
!ls

adc.json
Departure_delay_dict_with_weather_2015.json
Departure_delay_dict_with_weather_2015.json.json
Destination_airport_dict_with_weather_2015.json
drive
Origin_airport_dict_with_weather_2015.json
sample_data
test_data_with_weather_2015.csv
train_data_with_weather_2015.csv

In [48]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile()
uploaded.SetContentFile("train_data_with_weather_2015.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'test_data_with_weather_2015.csv'})
uploaded.SetContentFile("test_data_with_weather_2015.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1u3viSTmdBjPkP_0-6S8m68UoUT9b_54b
Uploaded file with ID 1fORozi50MjFjgTjFL-obrpFluvvLUvvU

In [49]:
uploaded = drive.CreateFile({'title': 'Origin_airport_dict_with_weather_2015.json'})
uploaded.SetContentFile("Origin_airport_dict_with_weather_2015.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'Destination_airport_dict_with_weather_2015.json'})
uploaded.SetContentFile("Destination_airport_dict_with_weather_2015.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'Departure_delay_dict_with_weather_2015.json'})
uploaded.SetContentFile("Departure_delay_dict_with_weather_2015.json")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 15Zo2EnJcvXCltOWg3ywogr44JgjhoXVK
Uploaded file with ID 1YQ2_qFly1KsDGv96puSLFiVJoe6Jhbqx
Uploaded file with ID 1uPLVzMDgAiSUbkqfxKT0i97r4jybXt_Z