<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install httplib2==0.15.0

Requirement already satisfied: httplib2==0.15.0 in /usr/local/lib/python3.6/dist-packages (0.15.0)

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [0]:
!mkdir /root/.kaggle

In [5]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"bchaithanyasai","key":"0b58fa9aae58389cf6b4737e58677d74"}'}

In [6]:
!pwd

/content

In [7]:
!ls

kaggle.json  sample_data

In [0]:
!cp /content/kaggle.json /root/.kaggle/

In [9]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-03-21 22:28:28            907
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)  646MB  2020-03-20 23:31:34          30721
rubenssjr/brasilian-houses-to-rent                             brazilian_houses_to_rent                            282KB  2020-03-25 22:51:17            867
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures         91KB  2020-03-25 13:00:11             97
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     397KB  2020-03-25 18:34:29          83312
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-03-22 04:17:54          21070
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          10645
shivamb/real-or-fake-fake-jobposting-prediction                [Real or Fake] Fake JobPosting Prediction            16MB  2020-02-29 08:23:34           2195
brunotly/foreign-exchange-rates-per-dollar-20002019            Foreign Exchange Rates 2000-2019                      1MB  2020-03-03 17:43:07           1745
timoboz/data-science-cheat-sheets                              Data Science Cheat Sheets                           596MB  2020-02-04 19:42:27           6573
imdevskp/sars-outbreak-2003-complete-dataset                   SARS 2003 Outbreak Complete Dataset                  10KB  2020-02-26 10:25:22           2137
imdevskp/ebola-outbreak-20142016-complete-dataset              Ebola 2014-2016 Outbreak Complete Dataset           101KB  2020-02-26 14:36:31           1994
tunguz/big-five-personality-test                               Big Five Personality Test                           159MB  2020-02-17 15:59:37           3243
paultimothymooney/coronavirus-genome-sequence                  Coronavirus Genome Sequence                           9MB  2020-02-29 00:25:13            634
arindam235/startup-investments-crunchbase                      StartUp Investments (Crunchbase)                      3MB  2020-02-17 21:54:42           2277
timoboz/tesla-stock-data-from-2010-to-2020                     Tesla stock data from 2010 to 2020                   46KB  2020-02-04 17:15:32           3105
timoboz/python-data-science-handbook                           Python Data Science Handbook                         15MB  2020-02-04 18:27:14           1518
prakrutchauhan/indian-candidates-for-general-election-2019     Indian Candidates for General Election 2019         133KB  2020-03-03 07:01:53           1030
gpiosenka/100-bird-species                                     160 Bird Species                                      2GB  2020-03-23 20:51:22           1077
ronitf/heart-disease-uci                                       Heart Disease UCI                                     3KB  2018-06-25 11:33:56         122363

In [0]:
!cd /content

In [11]:
!kaggle datasets download -d usdot/flight-delays

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading flight-delays.zip to /content
 94% 179M/191M [00:01<00:00, 112MB/s]
100% 191M/191M [00:02<00:00, 99.1MB/s]

In [12]:
!ls

flight-delays.zip  kaggle.json	sample_data

In [13]:
import pandas as pd
!pip install pyunpack
from pyunpack import Archive
Archive('flight-delays.zip').extractall('/content')

Collecting pyunpack
  Downloading https://files.pythonhosted.org/packages/79/dc/44cd41fb99d184ae7c2eac439a52ca624d5ece62b0302c3437fcc4ce3b58/pyunpack-0.1.2.tar.gz
Collecting easyprocess
  Downloading https://files.pythonhosted.org/packages/32/8f/88d636f1da22a3c573259e44cfefb46a117d3f9432e2c98b1ab4a21372ad/EasyProcess-0.2.10-py2.py3-none-any.whl
Building wheels for collected packages: pyunpack
  Building wheel for pyunpack (setup.py) ... done
  Created wheel for pyunpack: filename=pyunpack-0.1.2-cp36-none-any.whl size=5163 sha256=1cd05fad5cd4918ca00c14613a6d9d05ef1fc827c2710c395d563b4be9d09415
  Stored in directory: /root/.cache/pip/wheels/af/44/08/60613970881e542c0baad1f2dea5ed8e6716bc573f49197b7e
Successfully built pyunpack
Installing collected packages: easyprocess, pyunpack
Successfully installed easyprocess-0.2.10 pyunpack-0.1.2

In [14]:
!ls

airlines.csv  flight-delays.zip  kaggle.json
airports.csv  flights.csv	 sample_data

In [15]:
flightdata = pd.read_csv('/content/flights.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
flightdata

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN            NaN
1        2015      1    1  ...            NaN                 NaN            NaN
2        2015      1    1  ...            NaN                 NaN            NaN
3        2015      1    1  ...            NaN                 NaN            NaN
4        2015      1    1  ...            NaN                 NaN            NaN
...       ...    ...  ...  ...            ...                 ...            ...
5819074  2015     12   31  ...            NaN                 NaN            NaN
5819075  2015     12   31  ...            NaN                 NaN            NaN
5819076  2015     12   31  ...            NaN                 NaN            NaN
5819077  2015     12   31  ...            NaN                 NaN            NaN
5819078  2015     12   31  ...            NaN                 NaN            NaN

[5819079 rows x 31 columns]

In [17]:
airlinesdata=pd.read_csv("airlines.csv")
airlinesdata

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [18]:
airportsdata=pd.read_csv("airports.csv")
airportsdata

    IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0         ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1         ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2         ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3         ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4         ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
..        ...                                  ...  ...       ...        ...
317       WRG                     Wrangell Airport  ...  56.48433 -132.36982
318       WYS               Westerly State Airport  ...  44.68840 -111.11764
319       XNA  Northwest Arkansas Regional Airport  ...  36.28187  -94.30681
320       YAK                      Yakutat Airport  ...  59.50336 -139.66023
321       YUM           Yuma International Airport  ...  32.65658 -114.60597

[322 rows x 7 columns]

In [0]:
df=flightdata

Now that we have imported our dataset of flights let's check if the dataset has missing values (if yes how many in each column or feature)

In [20]:
missing_val_count_by_column=(df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column>0])

TAIL_NUMBER              14721
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
WHEELS_ON                92513
TAXI_IN                  92513
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

***The reason of choosing each column is as follows***: 



> *Note: We split them into two datasets for easier and efficient handling of missing values*



Year, Month, Day, Day_of_week, Airline, Origin_airport, Destination_airport, Scheduled_departure, **Departure_time**, **Departure_delay**, Scheduled_arrival, **Arrival_time**, **Arrival_delay**, **Scheduled_time**, **Elapsed_time**-----***They do not have many missing values (if any they would be handled at last by dropping them as we cannot impute them)***

Taxi_out, Wheels_off, Distance, Diverted, Air_time, **Air_system_delay**, **Security_delay**, **Airline_delay**, **Late_aircraft_delay**, **Weather_delay**------***They do have missing values which could be either handled by imputation or dropping them***

In [0]:
df2 = df[['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT'
        ,'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
        'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
        'SCHEDULED_TIME', 'ELAPSED_TIME','TAXI_OUT','WHEELS_OFF','DISTANCE','DIVERTED','AIR_TIME']]

In [0]:
df3=df[['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

In [23]:
df2.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... WHEELS_OFF DISTANCE DIVERTED  AIR_TIME
0  2015      1    1            4  ...       15.0     1448        0     169.0
1  2015      1    1            4  ...       14.0     2330        0     263.0
2  2015      1    1            4  ...       34.0     2296        0     266.0
3  2015      1    1            4  ...       30.0     2342        0     258.0
4  2015      1    1            4  ...       35.0     1448        0     199.0

[5 rows x 20 columns]

In [24]:
df3.head()

   AIR_SYSTEM_DELAY  SECURITY_DELAY  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0               NaN             NaN  ...                  NaN            NaN
1               NaN             NaN  ...                  NaN            NaN
2               NaN             NaN  ...                  NaN            NaN
3               NaN             NaN  ...                  NaN            NaN
4               NaN             NaN  ...                  NaN            NaN

[5 rows x 5 columns]

Let's store our unhandled data for prediction by algorithms that are capable of dealing with missing values by themselves like for example, **XGBoost** and **LightGBM**

In [25]:
Unhandled_MissingValues_Data=df2.join(df3)
Unhandled_MissingValues_Data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN           NaN
1        2015      1    1  ...            NaN                 NaN           NaN
2        2015      1    1  ...            NaN                 NaN           NaN
3        2015      1    1  ...            NaN                 NaN           NaN
4        2015      1    1  ...            NaN                 NaN           NaN
...       ...    ...  ...  ...            ...                 ...           ...
5819074  2015     12   31  ...            NaN                 NaN           NaN
5819075  2015     12   31  ...            NaN                 NaN           NaN
5819076  2015     12   31  ...            NaN                 NaN           NaN
5819077  2015     12   31  ...            NaN                 NaN           NaN
5819078  2015     12   31  ...            NaN                 NaN           NaN

[5819079 rows x 25 columns]

We now check as to much of our columns in 'df2' dataset are filled so as to choose a strategy to handle the missing values.

In [26]:
missing_df = df2.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df2.shape[0]-missing_df['missing values'])/df2.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0              AIR_TIME          105071           98.194371
1          ELAPSED_TIME          105071           98.194371
2         ARRIVAL_DELAY          105071           98.194371
3          ARRIVAL_TIME           92513           98.410178
4            WHEELS_OFF           89047           98.469741
5              TAXI_OUT           89047           98.469741
6        DEPARTURE_TIME           86153           98.519474
7       DEPARTURE_DELAY           86153           98.519474
8        SCHEDULED_TIME               6           99.999897
9   DESTINATION_AIRPORT               0          100.000000
10             DIVERTED               0          100.000000
11    SCHEDULED_ARRIVAL               0          100.000000
12       ORIGIN_AIRPORT               0          100.000000
13              AIRLINE               0          100.000000
14          DAY_OF_WEEK               0          100.000000
15                  DAY               0          100.000000
16                MONTH               0          100.000000
17             DISTANCE               0          100.000000
18  SCHEDULED_DEPARTURE               0          100.000000
19                 YEAR               0          100.000000

So based on the filling factor column as shown in the above cell's output we can safely **drop the rows (dropping is chosen over imputation for the reason that filling factor is >98% hence we would not be losing much precious data) that contain the missing values in the 'df2'** dataset's columns.

In [27]:
missing_df = df3.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df3.shape[0]-missing_df['missing values'])/df3.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

              variable  missing values  filling factor (%)
0     AIR_SYSTEM_DELAY         4755640            18.27504
1       SECURITY_DELAY         4755640            18.27504
2        AIRLINE_DELAY         4755640            18.27504
3  LATE_AIRCRAFT_DELAY         4755640            18.27504
4        WEATHER_DELAY         4755640            18.27504

In [0]:
df3=df3.fillna(0)

In [29]:
df=df2.join(df3)
df

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2015      1    1  ...            0.0                 0.0           0.0
1        2015      1    1  ...            0.0                 0.0           0.0
2        2015      1    1  ...            0.0                 0.0           0.0
3        2015      1    1  ...            0.0                 0.0           0.0
4        2015      1    1  ...            0.0                 0.0           0.0
...       ...    ...  ...  ...            ...                 ...           ...
5819074  2015     12   31  ...            0.0                 0.0           0.0
5819075  2015     12   31  ...            0.0                 0.0           0.0
5819076  2015     12   31  ...            0.0                 0.0           0.0
5819077  2015     12   31  ...            0.0                 0.0           0.0
5819078  2015     12   31  ...            0.0                 0.0           0.0

[5819079 rows x 25 columns]

In [30]:
df.isna().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME          86153
DEPARTURE_DELAY         86153
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME            92513
ARRIVAL_DELAY          105071
SCHEDULED_TIME              6
ELAPSED_TIME           105071
TAXI_OUT                89047
WHEELS_OFF              89047
DISTANCE                    0
DIVERTED                    0
AIR_TIME               105071
AIR_SYSTEM_DELAY            0
SECURITY_DELAY              0
AIRLINE_DELAY               0
LATE_AIRCRAFT_DELAY         0
WEATHER_DELAY               0
dtype: int64

In [31]:
df.dropna(inplace = True)
df

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2015      1    1  ...            0.0                 0.0           0.0
1        2015      1    1  ...            0.0                 0.0           0.0
2        2015      1    1  ...            0.0                 0.0           0.0
3        2015      1    1  ...            0.0                 0.0           0.0
4        2015      1    1  ...            0.0                 0.0           0.0
...       ...    ...  ...  ...            ...                 ...           ...
5819074  2015     12   31  ...            0.0                 0.0           0.0
5819075  2015     12   31  ...            0.0                 0.0           0.0
5819076  2015     12   31  ...            0.0                 0.0           0.0
5819077  2015     12   31  ...            0.0                 0.0           0.0
5819078  2015     12   31  ...            0.0                 0.0           0.0

[5714008 rows x 25 columns]

In [32]:
# Add outcome column, "successful" == 1, others are 0
df = df.assign(OUTCOME=(df['ARRIVAL_DELAY'] > 4).astype(int))
df

         YEAR  MONTH  DAY  ...  LATE_AIRCRAFT_DELAY WEATHER_DELAY OUTCOME
0        2015      1    1  ...                  0.0           0.0       0
1        2015      1    1  ...                  0.0           0.0       0
2        2015      1    1  ...                  0.0           0.0       1
3        2015      1    1  ...                  0.0           0.0       0
4        2015      1    1  ...                  0.0           0.0       0
...       ...    ...  ...  ...                  ...           ...     ...
5819074  2015     12   31  ...                  0.0           0.0       0
5819075  2015     12   31  ...                  0.0           0.0       0
5819076  2015     12   31  ...                  0.0           0.0       0
5819077  2015     12   31  ...                  0.0           0.0       0
5819078  2015     12   31  ...                  0.0           0.0       0

[5714008 rows x 26 columns]

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/drive

In [0]:
df=df.reset_index()

In [0]:
df_aircode1=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT.csv')
df_aircode2=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT_ID.csv')

In [0]:
df_aircode1=df_aircode1.reset_index()
df_aircode2=df_aircode2.reset_index()
df_aircodes=pd.merge(df_aircode1,df_aircode2,on="Description")
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [41]:
df['ORIGIN_AIRPORT'] = df['ORIGIN_AIRPORT'].values.astype(str)
df['DESTINATION_AIRPORT'] = df['DESTINATION_AIRPORT'].values.astype(str)

N_flights = len(df)
for i in range(N_flights):
    if i % 100000 == 0:
        print(i)
    if len(df['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = df['ORIGIN_AIRPORT'][i]
        value = aircode_dict[df['ORIGIN_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(df['DESTINATION_AIRPORT'][i]) != 3:
        to_replace = df['DESTINATION_AIRPORT'][i]
        value = aircode_dict[df['DESTINATION_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
replaced 14747 with SEA
replaced 14771 with SFO
replaced 12889 with LAS
replaced 12892 with LAX
replaced 11057 with CLT
replaced 13930 with ORD
replaced 14869 with SLC
replaced 11298 with DFW
replaced 13487 with MSP
replaced 10693 with BNA
replaced 10299 with ANC
replaced 12266 with IAH
replaced 11292 with DEN
replaced 14107 with PHX
replaced 14057 with PDX
replaced 10397 with ATL
replaced 13198 with MCI
replaced 11630 with FAI
replaced 12173 with HNL
replaced 10732 with BQN
replaced 14254 with PSE
replaced 10141 with ABR
replaced 10627 with BIS
replaced 11982 with GRK
replaced 12402 with ITO
replaced 13303 with MIA
replaced 14683 with SAT
replaced 11618 with EWR
replaced 10721 with BOS
replaced 11884 with GEG
replaced 15919 with XNA
replaced 13851 with OKC
replaced 11111 with COU
replaced 12191 with HOU
replaced 14783 with SGF
replaced 15016 with STL
replaced 12758 with KOA
replaced 14487 with RDD
replaced 13830 with OGG
replaced 10423 with BSM
replaced 15370 with TUL
replaced 11953 with GNV
replaced 13891 with ONT
replaced 15376 with TUS
replaced 12478 with JFK
replaced 11778 with FSM
replaced 11278 with DCA
replaced 14100 with PHL
replaced 13204 with MCO
replaced 15304 with TPA
replaced 11637 with FAR
replaced 14842 with SJT
replaced 10155 with ACT
replaced 11775 with FSD
replaced 12982 with LIH
replaced 13931 with ORF
replaced 10821 with BWI
replaced 14122 with PIT
replaced 11049 with CLL
replaced 10990 with CHO
replaced 10631 with BJI
replaced 13158 with MAF
replaced 14108 with PIA
replaced 11697 with FLL
replaced 11447 with DVL
replaced 12206 with HRL
replaced 13495 with MSY
replaced 15624 with VPS
replaced 10747 with BRO
replaced 15411 with TYR
replaced 12891 with LAW
replaced 10994 with CHS
replaced 13256 with MFE
replaced 10792 with BUF
replaced 14492 with RDU
replaced 12451 with JAX
replaced 13577 with MYR
replaced 13127 with LWS
replaced 10781 with BTR
replaced 14960 with SPS
replaced 12278 with ICT
replaced 14685 with SAV
replaced 11995 with GSO
replaced 13485 with MSN
replaced 11977 with GRB
replaced 12339 with IND
replaced 13232 with MDW
replaced 11259 with DAL
replaced 10257 with ALB
replaced 13796 with OAK
replaced 10140 with ABQ
replaced 13296 with MHT
replaced 14570 with RNO
replaced 14893 with SMF
replaced 14524 with RIC
replaced 12217 with HSV
replaced 10713 with BOI
replaced 10208 with AGS
replaced 10136 with ABI
replaced 11603 with EUG
replaced 14689 with SBA
replaced 11471 with EAU
replaced 11315 with DIK
replaced 13264 with MFR
replaced 14814 with SHV
replaced 11308 with DHN
replaced 11066 with CMH
replaced 12896 with LBB
replaced 14831 with SJC
replaced 14307 with PVD
replaced 14843 with SJU
replaced 11721 with FNT
replaced 11140 with CRP
replaced 10185 with AEX
replaced 13277 with MGM
replaced 11203 with CWA
replaced 13342 with MKE
replaced 11433 with DTW
replaced 12953 with LGA
replaced 10599 with BHM
replaced 12156 with HLN
replaced 14952 with SPI
replaced 10620 with BIL
replaced 11042 with CLE
replaced 15096 with SYR
replaced 10408 with ATW
replaced 15249 with TLH
replaced 11423 with DSM
replaced 12915 with LCH
replaced 12264 with IAD
replaced 14679 with SAN
replaced 13871 with OMA
replaced 14027 with PBI
replaced 13244 with MEM
replaced 11267 with DAY
replaced 11540 with ELP
replaced 14576 with ROC
replaced 10868 with CAE
replaced 13486 with MSO
replaced 13476 with MRY
replaced 14489 with RDM
replaced 12945 with LEX
replaced 15607 with VLD
replaced 10529 with BDL
replaced 11986 with GRR
replaced 14635 with RSW
replaced 10785 with BTV
replaced 15380 with TVC
replaced 11996 with GSP
replaced 10561 with BFL
replaced 10874 with CAK
replaced 13367 with MLI
replaced 10146 with ABY
replaced 10431 with AVL
replaced 11973 with GPT
replaced 10980 with CHA
replaced 12197 with HPN
replaced 14098 with PHF
replaced 12323 with ILM
replaced 10577 with BGM
replaced 11150 with CSG
replaced 10135 with ABE
replaced 11617 with EWN
replaced 13795 with OAJ
replaced 13029 with LNK
replaced 11003 with CID
replaced 11146 with CRW
replaced 11577 with ERI
replaced 15356 with TTN
replaced 10279 with AMA
replaced 14908 with SNA
replaced 14321 with PWM
replaced 11638 with FAT
replaced 14828 with SIT
replaced 12954 with LGB
replaced 11481 with ECP
replaced 12951 with LFT
replaced 10434 with AVP
replaced 12448 with JAN
replaced 14730 with SDF
replaced 15323 with TRI
replaced 14252 with PSC
replaced 11193 with CVG
replaced 10849 with BZN
replaced 14193 with PNS
replaced 14986 with SRQ
replaced 11641 with FAY
replaced 12992 with LIT
replaced 13422 with MOB
replaced 11612 with EVV
replaced 11823 with FWA
replaced 11980 with GRI
replaced 13290 with MHK
replaced 10158 with ACY
replaced 10685 with BMI
replaced 13377 with MLU
replaced 11109 with COS
replaced 11076 with CMX
replaced 11122 with CPR
replaced 11865 with GCC
replaced 14543 with RKS
replaced 14905 with SMX
replaced 11587 with ESC
replaced 14457 with RAP
replaced 12335 with IMT
replaced 12343 with INL
replaced 12003 with GTF
replaced 10157 with ACV
replaced 12884 with LAN
replaced 14633 with RST
replaced 15048 with SUX
replaced 10268 with ALO
replaced 15295 with TOL
replaced 12389 with ISN
replaced 11525 with EKO
replaced 14262 with PSP
replaced 12888 with LAR
replaced 12391 with ISP
replaced 11648 with FCA
replaced 14696 with SBN
replaced 10469 with AZO
replaced 15412 with TYS
replaced 10731 with BQK
replaced 10800 with BUR
replaced 10551 with BET
replaced 11413 with DRO
replaced 13433 with MOT
4300000
replaced 11867 with GCK
replaced 14698 with SBP
replaced 11537 with ELM
replaced 15389 with TWF
replaced 11337 with DLH
replaced 13360 with MLB
replaced 13076 with LSE
replaced 14006 with PAH
replaced 10728 with BPT
replaced 15401 with TXK
replaced 13230 with MDT
replaced 12016 with GUM
replaced 11067 with CMI
replaced 11274 with DBQ
replaced 11921 with GJT
replaced 12519 with JMS
replaced 11013 with CIU
replaced 13970 with OTZ
replaced 10779 with BTM
replaced 14150 with PLN
replaced 14794 with SGU
replaced 12511 with JLN
replaced 12177 with HOB
replaced 12523 with JNU
replaced 13184 with MBS
replaced 12007 with GTR
replaced 14588 with ROW
replaced 13061 with LRD
replaced 15041 with SUN
replaced 14574 with ROA
replaced 14109 with PIB
replaced 12441 with JAC
replaced 12898 with LBE
replaced 16218 with YUM
replaced 14113 with PIH
replaced 11624 with EYW
replaced 11503 with EGE
replaced 10739 with BRD
replaced 14711 with SCE
replaced 12819 with KTN
replaced 12129 with HIB
replaced 15070 with SWF
replaced 14520 with RHI
replaced 11252 with DAB
replaced 15024 with STT
replaced 12280 with IDA
replaced 12255 with HYS
replaced 14709 with SCC
replaced 13241 with MEI
replaced 10372 with ASE
replaced 11898 with GFK
replaced 14674 with SAF
replaced 10918 with CDC
replaced 13933 with ORH
replaced 10333 with APN
replaced 11905 with GGG
replaced 13459 with MQT
replaced 10581 with BGR
replaced 13344 with MKG
replaced 15841 with WRG
replaced 15991 with YAK
replaced 10754 with BRW
replaced 13873 with OME
replaced 11695 with FLG
replaced 12094 with HDN
replaced 14256 with PSG
replaced 11097 with COD
replaced 10154 with ACK
replaced 10926 with CDV
replaced 13964 with OTH
replaced 15027 with STX
replaced 13541 with MVY
replaced 10165 with ADK
replaced 10170 with ADQ
replaced 15497 with UST
replaced 12265 with IAG
replaced 14222 with PPG
replaced 14025 with PBG
4400000
4500000
4600000
replaced 13502 with MTJ
4700000
replaced 10666 with BLI
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000

In [0]:
df.to_csv("Handled_data.csv",index=False)

In [43]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Handled_data.csv'})
uploaded.SetContentFile("Handled_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1Nn729aGAQ3hzYAT4r2tfn2M2CmcgVPkP

In [47]:
trash=pd.read_csv("/content/drive/My Drive/Handled_data.csv")
trash

           index  YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY OUTCOME
0              0  2015      1  ...                  0.0            0.0       0
1              1  2015      1  ...                  0.0            0.0       0
2              2  2015      1  ...                  0.0            0.0       1
3              3  2015      1  ...                  0.0            0.0       0
4              4  2015      1  ...                  0.0            0.0       0
...          ...   ...    ...  ...                  ...            ...     ...
5714003  5819074  2015     12  ...                  0.0            0.0       0
5714004  5819075  2015     12  ...                  0.0            0.0       0
5714005  5819076  2015     12  ...                  0.0            0.0       0
5714006  5819077  2015     12  ...                  0.0            0.0       0
5714007  5819078  2015     12  ...                  0.0            0.0       0

[5714008 rows x 27 columns]

In [0]:
Unhandled_MissingValues_Data['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT']
Unhandled_MissingValues_Data['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT']

In [0]:
Unhandled_MissingValues_Data.to_csv("Unhandled_data.csv",index=False)

In [46]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Unhandled_data.csv'})
uploaded.SetContentFile("Unhandled_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 14-KlLnX134UXZYjRqif2finSFGBCKZGN

In [2]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [0]:
X_columns=['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT','SCHEDULED_DEPARTURE',
           'DEPARTURE_TIME','DEPARTURE_DELAY', 'TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME','SCHEDULED_ARRIVAL','DISTANCE','AIR_TIME','DIVERTED',
           'AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']

In [0]:
import pandas as pd

Handled_data=pd.read_csv('/content/drive/My Drive/Handled_data.csv')

In [0]:
X=Handled_data[X_columns]
y=Handled_data['OUTCOME']

In [6]:
cat=pd.DataFrame()
cat['AIRLINE_ORIGIN_AIRPORT']=X['AIRLINE']+"_"+X['ORIGIN_AIRPORT']
cat['AIRLINE_DESTINATION_AIRPORT']=X['AIRLINE']+"_"+X['DESTINATION_AIRPORT']
cat['ORIGIN_AIRPORT_DESTINATION_AIRPORT']=X['ORIGIN_AIRPORT']+"_"+X['DESTINATION_AIRPORT']
cat

        AIRLINE_ORIGIN_AIRPORT  ... ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                       AS_ANC  ...                            ANC_SEA
1                       AA_LAX  ...                            LAX_PBI
2                       US_SFO  ...                            SFO_CLT
3                       AA_LAX  ...                            LAX_MIA
4                       AS_SEA  ...                            SEA_ANC
...                        ...  ...                                ...
5714003                 B6_LAX  ...                            LAX_BOS
5714004                 B6_JFK  ...                            JFK_PSE
5714005                 B6_JFK  ...                            JFK_SJU
5714006                 B6_MCO  ...                            MCO_SJU
5714007                 B6_JFK  ...                            JFK_BQN

[5714008 rows x 3 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['AIRLINE_ORIGIN_AIRPORT','AIRLINE_DESTINATION_AIRPORT','ORIGIN_AIRPORT_DESTINATION_AIRPORT']
encoder = LabelEncoder()

# Apply the label encoder to each column
cat = cat[cat_features].apply(encoder.fit_transform)
cat.head(10)

   AIRLINE_ORIGIN_AIRPORT  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0                     103  ...                                 100
1                      45  ...                                2507
2                    1194  ...                                4204
3                      45  ...                                2495
4                     155  ...                                4116
5                     367  ...                                4238
6                     798  ...                                2422
7                    1160  ...                                2462
8                      85  ...                                4210
9                     312  ...                                2373

[10 rows x 3 columns]

In [0]:
X=X.join(cat)

In [9]:
X

         YEAR  ...  ORIGIN_AIRPORT_DESTINATION_AIRPORT
0        2015  ...                                 100
1        2015  ...                                2507
2        2015  ...                                4204
3        2015  ...                                2495
4        2015  ...                                4116
...       ...  ...                                 ...
5714003  2015  ...                                2456
5714004  2015  ...                                2318
5714005  2015  ...                                2331
5714006  2015  ...                                2793
5714007  2015  ...                                2279

[5714008 rows x 25 columns]

In [10]:
from numpy import array

data=X['AIRLINE']
data=array(data)
data

array(['AS', 'AA', 'US', ..., 'B6', 'B6', 'B6'], dtype=object)

In [11]:
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder()
data = onehotencoder.fit_transform(data.reshape(-1,1))
data

<5714008x14 sparse matrix of type '<class 'numpy.float64'>'
	with 5714008 stored elements in Compressed Sparse Row format>

In [12]:
data=pd.DataFrame(data.toarray())
data

           0    1    2    3    4    5    6    7    8    9   10   11   12   13
0        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5714003  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714004  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714005  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714006  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714007  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5714008 rows x 14 columns]

In [13]:
X=X.join(data)
X.drop(["AIRLINE"],axis=1,inplace=True)
X

         YEAR  MONTH  DAY  DAY_OF_WEEK ORIGIN_AIRPORT  ...    9   10   11   12   13
0        2015      1    1            4            ANC  ...  0.0  0.0  0.0  0.0  0.0
1        2015      1    1            4            LAX  ...  0.0  0.0  0.0  0.0  0.0
2        2015      1    1            4            SFO  ...  0.0  0.0  1.0  0.0  0.0
3        2015      1    1            4            LAX  ...  0.0  0.0  0.0  0.0  0.0
4        2015      1    1            4            SEA  ...  0.0  0.0  0.0  0.0  0.0
...       ...    ...  ...          ...            ...  ...  ...  ...  ...  ...  ...
5714003  2015     12   31            4            LAX  ...  0.0  0.0  0.0  0.0  0.0
5714004  2015     12   31            4            JFK  ...  0.0  0.0  0.0  0.0  0.0
5714005  2015     12   31            4            JFK  ...  0.0  0.0  0.0  0.0  0.0
5714006  2015     12   31            4            MCO  ...  0.0  0.0  0.0  0.0  0.0
5714007  2015     12   31            4            JFK  ...  0.0  0.0  0.0  0.0  0.0

[5714008 rows x 38 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,random_state=27)

In [15]:
df=X_train.join(Y_train)
df

         YEAR  MONTH  DAY  DAY_OF_WEEK  ...   11   12   13  OUTCOME
1526864  2015      4   11            6  ...  0.0  1.0  0.0        0
2974366  2015      7   10            5  ...  0.0  0.0  1.0        0
2162801  2015      5   21            4  ...  0.0  0.0  1.0        1
4975047  2015     11   13            5  ...  0.0  0.0  0.0        0
3559430  2015      8   14            5  ...  0.0  0.0  0.0        0
...       ...    ...  ...          ...  ...  ...  ...  ...      ...
4985584  2015     11   13            5  ...  0.0  0.0  0.0        1
4390712  2015     10    6            2  ...  0.0  0.0  1.0        0
3684895  2015      8   22            6  ...  0.0  0.0  0.0        0
560968   2015      2    8            7  ...  0.0  0.0  0.0        1
1429176  2015      4    5            7  ...  0.0  0.0  0.0        0

[4285506 rows x 39 columns]

In [16]:
ori_airport_means=df.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean()
ori_airport_means

ORIGIN_AIRPORT
ABE    0.298378
ABI    0.235686
ABQ    0.293341
ABR    0.305709
ABY    0.298867
         ...
WRG    0.290766
WYS    0.151316
XNA    0.336323
YAK    0.189139
YUM    0.228892
Name: OUTCOME, Length: 323, dtype: float64

In [17]:
ori_di=dict(ori_airport_means)
ori_di

{'ABE': 0.2983783783783784,
 'ABI': 0.235686492495831,
 'ABQ': 0.2933410613086038,
 'ABR': 0.30570902394106814,
 'ABY': 0.2988668555240793,
 'ACK': 0.3053435114503817,
 'ACT': 0.23270440251572327,
 'ACV': 0.3190883190883191,
 'ACY': 0.3291272344900105,
 'ADK': 0.5652173913043478,
 'ADQ': 0.26857142857142857,
 'AEX': 0.30974155069582504,
 'AGS': 0.3328133125325013,
 'AKN': 0.3695652173913043,
 'ALB': 0.21415456518110498,
 'ALO': 0.21961620469083157,
 'AMA': 0.29571384520505706,
 'ANC': 0.2407580720636406,
 'APN': 0.22,
 'ASE': 0.3872901678657074,
 'ATL': 0.2546848502479902,
 'ATW': 0.31546300398759414,
 'AUS': 0.27950290510006454,
 'AVL': 0.28177295341474445,
 'AVP': 0.27624309392265195,
 'AZO': 0.23264137437365784,
 'BDL': 0.24257065325302798,
 'BET': 0.28191489361702127,
 'BFL': 0.25717063684978125,
 'BGM': 0.22083333333333333,
 'BGR': 0.24295774647887325,
 'BHM': 0.27185045242119915,
 'BIL': 0.1527114967462039,
 'BIS': 0.27795756921970516,
 'BJI': 0.2,
 'BLI': 0.22137404580152673,
 'BMI': 0.27157598499061913,
 'BNA': 0.2824224908039937,
 'BOI': 0.2764972108199137,
 'BOS': 0.2983153927088994,
 'BPT': 0.3651006711409396,
 'BQK': 0.27019498607242337,
 'BQN': 0.2775700934579439,
 'BRD': 0.27607361963190186,
 'BRO': 0.20948180815876516,
 'BRW': 0.2740740740740741,
 'BSM': 0.20164891789762968,
 'BTM': 0.10597302504816955,
 'BTR': 0.3517253459449991,
 'BTV': 0.2944760357432981,
 'BUF': 0.2312416752996892,
 'BUR': 0.24731819677525502,
 'BWI': 0.335455372222944,
 'BZN': 0.22815533980582525,
 'CAE': 0.29566488066244523,
 'CAK': 0.21365229944318417,
 'CDC': 0.23991507430997877,
 'CDV': 0.23954372623574144,
 'CEC': 0.34375,
 'CHA': 0.2955075845974329,
 'CHO': 0.2819918934568616,
 'CHS': 0.2566537939672268,
 'CID': 0.31227674374882497,
 'CIU': 0.32991803278688525,
 'CLD': 0.29324894514767935,
 'CLE': 0.25842251288149026,
 'CLL': 0.22494553376906318,
 'CLT': 0.3316516132207811,
 'CMH': 0.25922284886428315,
 'CMI': 0.24016938898971568,
 'CMX': 0.24848484848484848,
 'CNY': 0.03225806451612903,
 'COD': 0.39539347408829173,
 'COS': 0.2976862816542175,
 'COU': 0.30525272547076315,
 'CPR': 0.17885024840312277,
 'CRP': 0.28149920255183414,
 'CRW': 0.36769394261424015,
 'CSG': 0.2672018348623853,
 'CVG': 0.28687912361508777,
 'CWA': 0.23941068139963168,
 'DAB': 0.17857142857142858,
 'DAL': 0.35542739443872295,
 'DAY': 0.28189390618149934,
 'DBQ': 0.21557719054242003,
 'DCA': 0.27607653876219285,
 'DEN': 0.3312588099073701,
 'DFW': 0.31973068872614924,
 'DHN': 0.36967294350842417,
 'DIK': 0.1673469387755102,
 'DLG': 0.19298245614035087,
 'DLH': 0.35465529495380244,
 'DRO': 0.28681253696037845,
 'DSM': 0.2882621951219512,
 'DTW': 0.2688158554942298,
 'DVL': 0.2741514360313316,
 'EAU': 0.2882703777335984,
 'ECP': 0.1780380673499268,
 'EGE': 0.3244397011739594,
 'EKO': 0.16473317865429235,
 'ELM': 0.30787878787878786,
 'ELP': 0.2683156901792265,
 'ERI': 0.31551724137931036,
 'ESC': 0.1662971175166297,
 'EUG': 0.2451856946354883,
 'EVV': 0.29766536964980544,
 'EWN': 0.26652452025586354,
 'EWR': 0.3040507142504078,
 'EYW': 0.19284802043422733,
 'FAI': 0.2480225988700565,
 'FAR': 0.282242172104226,
 'FAT': 0.31763879128601546,
 'FAY': 0.27012383900928794,
 'FCA': 0.18871473354231974,
 'FLG': 0.33101314771848417,
 'FLL': 0.2766840082967799,
 'FNT': 0.19957424161788184,
 'FSD': 0.33046594982078853,
 'FSM': 0.26898326898326896,
 'FWA': 0.2913064361191162,
 'GCC': 0.1623296158612144,
 'GCK': 0.2892249527410208,
 'GEG': 0.24838667193467667,
 'GFK': 0.29276315789473684,
 'GGG': 0.3346534653465347,
 'GJT': 0.22283682338996444,
 'GNV': 0.32069288389513106,
 'GPT': 0.2297486033519553,
 'GRB': 0.26835641494643325,
 'GRI': 0.2254335260115607,
 'GRK': 0.2603869330796067,
 'GRR': 0.24548228115465853,
 'GSO': 0.28833652007648186,
 'GSP': 0.246368501529052,
 'GST': 0.5818181818181818,
 'GTF': 0.19216646266829865,
 'GTR': 0.29987129987129985,
 'GUC': 0.36065573770491804,
 'GUM': 0.26199261992619927,
 'HDN': 0.3142857142857143,
 'HIB': 0.22192866578599735,
 'HLN': 0.1663778162911612,
 'HNL': 0.2388808160241616,
 'HOB': 0.20185614849187936,
 'HOU': 0.33513539260282454,
 'HPN': 0.3557546053743451,
 'HRL': 0.20201207243460764,
 'HSV': 0.2402125279642058,
 'HYA': 0.2711864406779661,
 'HYS': 0.2826552462526767,
 'IAD': 0.2958876265834271,
 'IAG': 0.32209737827715357,
 'IAH': 0.32859177376148657,
 'ICT': 0.2833592534992224,
 'IDA': 0.18379888268156425,
 'ILG': 0.4864864864864865,
 'ILM': 0.22279459111397296,
 'IMT': 0.21095334685598377,
 'IND': 0.2519351540820797,
 'INL': 0.23318385650224216,
 'ISN': 0.24356435643564356,
 'ISP': 0.25464949928469244,
 'ITH': 0.42105263157894735,
 'ITO': 0.20563741191543883,
 'JAC': 0.23452157598499063,
 'JAN': 0.26440203116792155,
 'JAX': 0.25385144429160933,
 'JFK': 0.30846968238691047,
 'JLN': 0.3030888030888031,
 'JMS': 0.2633279483037157,
 'JNU': 0.3101379724055189,
 'KOA': 0.22179074669921225,
 'KTN': 0.2994652406417112,
 'LAN': 0.2848605577689243,
 'LAR': 0.18021978021978022,
 'LAS': 0.3188431152280805,
 'LAW': 0.2702970297029703,
 'LAX': 0.3280808312323325,
 'LBB': 0.26488985586075603,
 'LBE': 0.32841691248770893,
 'LCH': 0.20161834120026972,
 'LEX': 0.24132162275198663,
 'LFT': 0.30614250614250615,
 'LGA': 0.32635896906684553,
 'LGB': 0.2801528878822197,
 'LIH': 0.21988976193268442,
 'LIT': 0.2898688915375447,
 'LNK': 0.2730278696268304,
 'LRD': 0.23411562678878076,
 'LSE': 0.2146118721461187,
 'LWS': 0.10655737704918032,
 'MAF': 0.2716218530570303,
 'MBS': 0.2603150787696924,
 'MCI': 0.27028153658693005,
 'MCO': 0.2998865385263489,
 'MDT': 0.21102302755756888,
 'MDW': 0.32400228138054354,
 'MEI': 0.3062068965517241,
 'MEM': 0.26416353775552776,
 'MFE': 0.2125340599455041,
 'MFR': 0.232408325074331,
 'MGM': 0.32987312572087657,
 'MHK': 0.2524790236460717,
 'MHT': 0.22954091816367264,
 'MIA': 0.33077171688153123,
 'MKE': 0.2596719669462877,
 'MKG': 0.29750479846449135,
 'MLB': 0.1870967741935484,
 'MLI': 0.30217755443886096,
 'MLU': 0.30928270042194095,
 'MMH': 0.3181818181818182,
 'MOB': 0.3189937106918239,
 'MOT': 0.23825065274151436,
 'MQT': 0.28512396694214875,
 'MRY': 0.2864583333333333,
 'MSN': 0.2469579646017699,
 'MSO': 0.203125,
 'MSP': 0.2613973445418623,
 'MSY': 0.25769781881865944,
 'MTJ': 0.2665764546684709,
 'MVY': 0.3431952662721893,
 'MYR': 0.3144813593710373,
 'OAJ': 0.3116591928251121,
 'OAK': 0.33513213931509245,
 'OGG': 0.2707178993013732,
 'OKC': 0.26862805346443386,
 'OMA': 0.265557700876281,
 'OME': 0.41346153846153844,
 'ONT': 0.2688112660499793,
 'ORD': 0.3366036577343099,
 'ORF': 0.2595470990218411,
 'ORH': 0.2466281310211946,
 'OTH': 0.38461538461538464,
 'OTZ': 0.36072144288577157,
 'PAH': 0.22396856581532418,
 'PBG': 0.4372093023255814,
 'PBI': 0.3165379701127715,
 'PDX': 0.23120545236980386,
 'PHF': 0.3121902874132805,
 'PHL': 0.3113022113022113,
 'PHX': 0.311523042716615,
 'PIA': 0.2889189189189189,
 'PIB': 0.2869757174392936,
 'PIH': 0.2178030303030303,
 'PIT': 0.22384112827958105,
 'PLN': 0.22569444444444445,
 'PNS': 0.24339659557816473,
 'PPG': 0.6046511627906976,
 'PSC': 0.2210953346855984,
 'PSE': 0.20198675496688742,
 'PSG': 0.31273408239700373,
 'PSP': 0.29781573788854665,
 'PUB': 0.2639593908629442,
 'PVD': 0.2463460894789691,
 'PWM': 0.2641858010029031,
 'RAP': 0.2748447204968944,
 'RDD': 0.19285714285714287,
 'RDM': 0.20679723502304148,
 'RDU': 0.2765448557089084,
 'RHI': 0.4093333333333333,
 'RIC': 0.2819832851173256,
 'RKS': 0.1989247311827957,
 'RNO': 0.2895184135977337,
 'ROA': 0.2889733840304182,
 'ROC': 0.24335687857383115,
 'ROW': 0.28647925033467203,
 'RST': 0.2707558859975217,
 'RSW': 0.27351057457494354,
 'SAF': 0.3185840707964602,
 'SAN': 0.28212556972759073,
 'SAT': 0.24081326556120322,
 'SAV': 0.2821963394342762,
 'SBA': 0.2643773272652048,
 'SBN': 0.30859703164379726,
 'SBP': 0.28640386162510056,
 'SCC': 0.257396449704142,
 'SCE': 0.25977653631284914,
 'SDF': 0.2536760163103917,
 'SEA': 0.2987984508953692,
 'SFO': 0.30850832608841033,
 'SGF': 0.32246893460990017,
 'SGU': 0.22773623385452074,
 'SHV': 0.3017580144777663,
 'SIT': 0.2556317335945152,
 'SJC': 0.2986865205800117,
 'SJT': 0.24293785310734464,
 'SJU': 0.2696858425132599,
 'SLC': 0.2362028107614908,
 'SMF': 0.30428340960721695,
 'SMX': 0.2545454545454545,
 'SNA': 0.2569069019269676,
 'SPI': 0.25565081839438814,
 'SPS': 0.2505330490405117,
 'SRQ': 0.23228200371057514,
 'STC': 0.43859649122807015,
 'STL': 0.2874146960799873,
 'STT': 0.27327147560610593,
 'STX': 0.324,
 'SUN': 0.21469740634005763,
 'SUX': 0.2556237218813906,
 'SWF': 0.31095406360424027,
 'SYR': 0.23916887709991158,
 'TLH': 0.24140625,
 'TOL': 0.21370967741935484,
 'TPA': 0.273480338398872,
 'TRI': 0.244140625,
 'TTN': 0.33537921964050854,
 'TUL': 0.2636891469405985,
 'TUS': 0.24878290287977556,
 'TVC': 0.24297752808988765,
 'TWF': 0.1884272997032641,
 'TXK': 0.26594301221166894,
 'TYR': 0.27491785323110624,
 'TYS': 0.3178519593613933,
 'UST': 0.38524590163934425,
 'VEL': 0.06451612903225806,
 'VLD': 0.3063063063063063,
 'VPS': 0.25678119349005424,
 'WRG': 0.2907662082514735,
 'WYS': 0.1513157894736842,
 'XNA': 0.3363234703440889,
 'YAK': 0.1891385767790262,
 'YUM': 0.22889182058047494}

In [18]:
des_airport_means=df.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean()
des_airport_means

DESTINATION_AIRPORT
ABE    0.285085
ABI    0.266520
ABQ    0.328412
ABR    0.200717
ABY    0.324750
         ...
WRG    0.311445
WYS    0.378205
XNA    0.350392
YAK    0.254789
YUM    0.259817
Name: OUTCOME, Length: 323, dtype: float64

In [19]:
des_di=dict(des_airport_means)
des_di

{'ABE': 0.28508530544854155,
 'ABI': 0.2665198237885463,
 'ABQ': 0.32841209464251175,
 'ABR': 0.2007168458781362,
 'ABY': 0.32474964234620884,
 'ACK': 0.26790450928381965,
 'ACT': 0.3401574803149606,
 'ACV': 0.345489443378119,
 'ACY': 0.36542443064182195,
 'ADK': 0.2727272727272727,
 'ADQ': 0.20765027322404372,
 'AEX': 0.3188755020080321,
 'AGS': 0.28407310704960836,
 'AKN': 0.35555555555555557,
 'ALB': 0.3178589129357344,
 'ALO': 0.2830578512396694,
 'AMA': 0.32260024301336576,
 'ANC': 0.3080713280150164,
 'APN': 0.19693654266958424,
 'ASE': 0.4669404517453799,
 'ATL': 0.23866842204250518,
 'ATW': 0.27523727351164795,
 'AUS': 0.32655962265370075,
 'AVL': 0.29235583370585605,
 'AVP': 0.36051899907321594,
 'AZO': 0.2422044960116026,
 'BDL': 0.3123311144796678,
 'BET': 0.2528409090909091,
 'BFL': 0.2932367149758454,
 'BGM': 0.23333333333333334,
 'BGR': 0.2635135135135135,
 'BHM': 0.30526628979470394,
 'BIL': 0.23694267515923567,
 'BIS': 0.2873973580863977,
 'BJI': 0.15196998123827393,
 'BLI': 0.21284403669724772,
 'BMI': 0.32018779342723,
 'BNA': 0.28394479796789485,
 'BOI': 0.3120462914255655,
 'BOS': 0.3133694419369025,
 'BPT': 0.42857142857142855,
 'BQK': 0.28669410150891633,
 'BQN': 0.4263206672845227,
 'BRD': 0.1288981288981289,
 'BRO': 0.2740174672489083,
 'BRW': 0.2887218045112782,
 'BSM': 0.24692622950819673,
 'BTM': 0.1669793621013133,
 'BTR': 0.3258623708632464,
 'BTV': 0.333739837398374,
 'BUF': 0.29449790641298756,
 'BUR': 0.27185605319773126,
 'BWI': 0.28135558956883355,
 'BZN': 0.25590147109134453,
 'CAE': 0.33245192307692306,
 'CAK': 0.27863458770306393,
 'CDC': 0.38333333333333336,
 'CDV': 0.27706422018348625,
 'CEC': 0.3492063492063492,
 'CHA': 0.29929161747343563,
 'CHO': 0.3273672055427252,
 'CHS': 0.29097510373443985,
 'CID': 0.32217177449867573,
 'CIU': 0.250996015936255,
 'CLD': 0.24579831932773108,
 'CLE': 0.28034537116652336,
 'CLL': 0.2498627127951675,
 'CLT': 0.27705387330026404,
 'CMH': 0.2975557373696052,
 'CMI': 0.2476019184652278,
 'CMX': 0.2459016393442623,
 'CNY': 0.07482993197278912,
 'COD': 0.2962962962962963,
 'COS': 0.3613673358654368,
 'COU': 0.3343108504398827,
 'CPR': 0.20223152022315202,
 'CRP': 0.35673277661795405,
 'CRW': 0.31979166666666664,
 'CSG': 0.32373271889400923,
 'CVG': 0.3112260799102412,
 'CWA': 0.31178033658104515,
 'DAB': 0.21742808798646363,
 'DAL': 0.2899370287513464,
 'DAY': 0.29912663755458513,
 'DBQ': 0.26676176890156916,
 'DCA': 0.2901581692461902,
 'DEN': 0.29737870760370555,
 'DFW': 0.28471694127587666,
 'DHN': 0.2770137524557957,
 'DIK': 0.1954177897574124,
 'DLG': 0.16666666666666666,
 'DLH': 0.2892679459843639,
 'DRO': 0.25872442839951865,
 'DSM': 0.31644806271671944,
 'DTW': 0.26480375621096774,
 'DVL': 0.2630208333333333,
 'EAU': 0.30925925925925923,
 'ECP': 0.25574455386451805,
 'EGE': 0.32122587968217936,
 'EKO': 0.18032786885245902,
 'ELM': 0.31780167264038234,
 'ELP': 0.33957966663215655,
 'ERI': 0.314878892733564,
 'ESC': 0.19318181818181818,
 'EUG': 0.3048907388137357,
 'EVV': 0.2552914360143276,
 'EWN': 0.36123348017621143,
 'EWR': 0.3132821811680572,
 'EYW': 0.23261694058154236,
 'FAI': 0.30786516853932583,
 'FAR': 0.2955812955812956,
 'FAT': 0.3178877426123448,
 'FAY': 0.251685393258427,
 'FCA': 0.25125313283208023,
 'FLG': 0.294478527607362,
 'FLL': 0.3211846654290921,
 'FNT': 0.26931216931216934,
 'FSD': 0.3441849492804907,
 'FSM': 0.36197094125078966,
 'FWA': 0.2761882241664696,
 'GCC': 0.2027194066749073,
 'GCK': 0.3157894736842105,
 'GEG': 0.27840327533265097,
 'GFK': 0.23267326732673269,
 'GGG': 0.2769857433808554,
 'GJT': 0.2506908803789972,
 'GNV': 0.31342592592592594,
 'GPT': 0.29411764705882354,
 'GRB': 0.27743431221020093,
 'GRI': 0.22736418511066397,
 'GRK': 0.2835868187579214,
 'GRR': 0.30382968876547495,
 'GSO': 0.3100338218714769,
 'GSP': 0.3076923076923077,
 'GST': 0.47368421052631576,
 'GTF': 0.22590738423028786,
 'GTR': 0.24015748031496062,
 'GUC': 0.3988919667590028,
 'GUM': 0.45787545787545786,
 'HDN': 0.30566037735849055,
 'HIB': 0.22566995768688294,
 'HLN': 0.20575783234546993,
 'HNL': 0.3137529670832499,
 'HOB': 0.2678983833718245,
 'HOU': 0.2910639318699772,
 'HPN': 0.34315395095367845,
 'HRL': 0.2887181560857258,
 'HSV': 0.2680815414688634,
 'HYA': 0.2807017543859649,
 'HYS': 0.20335429769392033,
 'IAD': 0.2749474599608667,
 'IAG': 0.3723849372384937,
 'IAH': 0.299325254632995,
 'ICT': 0.3249385749385749,
 'IDA': 0.23951434878587197,
 'ILG': 0.4722222222222222,
 'ILM': 0.2588157019294744,
 'IMT': 0.16527196652719664,
 'IND': 0.2870415174683054,
 'INL': 0.18722466960352424,
 'ISN': 0.24592592592592594,
 'ISP': 0.3400971706201772,
 'ITH': 0.2857142857142857,
 'ITO': 0.22048089308716187,
 'JAC': 0.30996589617279274,
 'JAN': 0.28952481893658366,
 'JAX': 0.310720899924549,
 'JFK': 0.31082343520619243,
 'JLN': 0.31844660194174756,
 'JMS': 0.27768860353130015,
 'JNU': 0.2816728167281673,
 'KOA': 0.23692683468413456,
 'KTN': 0.31149361465852304,
 'LAN': 0.2650130548302872,
 'LAR': 0.1956521739130435,
 'LAS': 0.2877086214845551,
 'LAW': 0.30434782608695654,
 'LAX': 0.3412347841539418,
 'LBB': 0.3433685923515053,
 'LBE': 0.34084231145935356,
 'LCH': 0.2488356620093147,
 'LEX': 0.2670820353063344,
 'LFT': 0.2935689739813451,
 'LGA': 0.35842303203216186,
 'LGB': 0.2637223084520954,
 'LIH': 0.23912274495932084,
 'LIT': 0.31972228759708166,
 'LNK': 0.3348708487084871,
 'LRD': 0.2857142857142857,
 'LSE': 0.2471395881006865,
 'LWS': 0.11663066954643629,
 'MAF': 0.33118425517475397,
 'MBS': 0.3177842565597668,
 'MCI': 0.30417704541099827,
 'MCO': 0.3055386966979117,
 'MDT': 0.25942857142857145,
 'MDW': 0.26873077458148487,
 'MEI': 0.2959889349930844,
 'MEM': 0.3058784179279204,
 'MFE': 0.309145880574452,
 'MFR': 0.2916876574307305,
 'MGM': 0.3313930927435002,
 'MHK': 0.2764098490865767,
 'MHT': 0.3242706886286962,
 'MIA': 0.3142184946391049,
 'MKE': 0.27848048424128574,
 'MKG': 0.2834331337325349,
 'MLB': 0.2584053794428434,
 'MLI': 0.33561175666438825,
 'MLU': 0.2929336188436831,
 'MMH': 0.34285714285714286,
 'MOB': 0.3214822233350025,
 'MOT': 0.29927007299270075,
 'MQT': 0.36475409836065575,
 'MRY': 0.3065436978480457,
 'MSN': 0.27091963545981773,
 'MSO': 0.22070196311719215,
 'MSP': 0.2770215559689244,
 'MSY': 0.28076289443670005,
 'MTJ': 0.38503401360544215,
 'MVY': 0.24183006535947713,
 'MYR': 0.3186064125220904,
 'OAJ': 0.3450479233226837,
 'OAK': 0.29870850864890136,
 'OGG': 0.27846291331546025,
 'OKC': 0.33004436285757993,
 'OMA': 0.30063760379596677,
 'OME': 0.3313373253493014,
 'ONT': 0.3123629385964912,
 'ORD': 0.30642610790787,
 'ORF': 0.3116779593463531,
 'ORH': 0.2332089552238806,
 'OTH': 0.451063829787234,
 'OTZ': 0.25918762088974856,
 'PAH': 0.2868686868686869,
 'PBG': 0.502283105022831,
 'PBI': 0.3361862946701495,
 'PDX': 0.25678621477137076,
 'PHF': 0.314484126984127,
 'PHL': 0.30571229076635653,
 'PHX': 0.28880772020987633,
 'PIA': 0.27197655833777307,
 'PIB': 0.3051948051948052,
 'PIH': 0.195357833655706,
 'PIT': 0.2850244027742101,
 'PLN': 0.2528548123980424,
 'PNS': 0.30100658149438636,
 'PPG': 0.2894736842105263,
 'PSC': 0.28231120121642167,
 'PSE': 0.4295652173913043,
 'PSG': 0.302734375,
 'PSP': 0.29518320296418277,
 'PUB': 0.234375,
 'PVD': 0.30689848569826134,
 'PWM': 0.3249135868120181,
 'RAP': 0.28734726054394955,
 'RDD': 0.3269230769230769,
 'RDM': 0.25071225071225073,
 'RDU': 0.30385434824714314,
 'RHI': 0.20622568093385213,
 'RIC': 0.31381903452737125,
 'RKS': 0.21928166351606806,
 'RNO': 0.2998294808639636,
 'ROA': 0.31123287671232874,
 'ROC': 0.2833610648918469,
 'ROW': 0.28437917222963954,
 'RST': 0.2590546347452425,
 'RSW': 0.2868350199610064,
 'SAF': 0.2864583333333333,
 'SAN': 0.2948359466251372,
 'SAT': 0.32316511841995144,
 'SAV': 0.2995193104591414,
 'SBA': 0.27263499796995533,
 'SBN': 0.3041308566675908,
 'SBP': 0.26900119379228016,
 'SCC': 0.22158273381294963,
 'SCE': 0.37166900420757365,
 'SDF': 0.29289577187807275,
 'SEA': 0.2875231043375281,
 'SFO': 0.31654141616566467,
 'SGF': 0.3261802575107296,
 'SGU': 0.3038749150237933,
 'SHV': 0.3084054388133498,
 'SIT': 0.2689463955637708,
 'SJC': 0.2908423019913643,
 'SJT': 0.2815686274509804,
 'SJU': 0.33963124303515346,
 'SLC': 0.22018348623853212,
 'SMF': 0.3038074831053239,
 'SMX': 0.23809523809523808,
 'SNA': 0.26235059760956175,
 'SPI': 0.32644956314535345,
 'SPS': 0.2770199370409234,
 'SRQ': 0.24962908011869436,
 'STC': 0.5172413793103449,
 'STL': 0.2834531996430259,
 'STT': 0.3079859072225484,
 'STX': 0.3563968668407311,
 'SUN': 0.2470414201183432,
 'SUX': 0.25736738703339884,
 'SWF': 0.3249551166965889,
 'SYR': 0.29696436427628686,
 'TLH': 0.27379553466509987,
 'TOL': 0.2110344827586207,
 'TPA': 0.2895343386202047,
 'TRI': 0.22236340533672172,
 'TTN': 0.40360915492957744,
 'TUL': 0.3184145480225989,
 'TUS': 0.3148643175374646,
 'TVC': 0.25346260387811637,
 'TWF': 0.26777609682299547,
 'TXK': 0.29427430093209056,
 'TYR': 0.3163656267104543,
 'TYS': 0.35379644588045234,
 'UST': 0.3504273504273504,
 'VEL': 0.045454545454545456,
 'VLD': 0.31501340482573725,
 'VPS': 0.29701686121919585,
 'WRG': 0.31144465290806755,
 'WYS': 0.3782051282051282,
 'XNA': 0.3503915743991358,
 'YAK': 0.2547892720306513,
 'YUM': 0.25981675392670156}

In [125]:
df['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT'].map(df.groupby('ORIGIN_AIRPORT')['OUTCOME'].mean())
df['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT'].map(df.groupby('DESTINATION_AIRPORT')['OUTCOME'].mean())
df

         YEAR  MONTH  DAY  ...  LATE_AIRCRAFT_DELAY WEATHER_DELAY  OUTCOME
1526864  2015      4   11  ...                  0.0           0.0        0
2974366  2015      7   10  ...                  0.0           0.0        0
2162801  2015      5   21  ...                 43.0           0.0        1
4975047  2015     11   13  ...                  0.0           0.0        0
3559430  2015      8   14  ...                  0.0           0.0        0
...       ...    ...  ...  ...                  ...           ...      ...
4985584  2015     11   13  ...                  0.0           0.0        1
4390712  2015     10    6  ...                  0.0           0.0        0
3684895  2015      8   22  ...                  0.0           0.0        0
560968   2015      2    8  ...                  0.0           0.0        1
1429176  2015      4    5  ...                  0.0           0.0        0

[4285506 rows x 23 columns]

In [20]:
df['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT'].map(ori_di)
df['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT'].map(des_di)
df

         YEAR  MONTH  DAY  DAY_OF_WEEK  ...   11   12   13  OUTCOME
1526864  2015      4   11            6  ...  0.0  1.0  0.0        0
2974366  2015      7   10            5  ...  0.0  0.0  1.0        0
2162801  2015      5   21            4  ...  0.0  0.0  1.0        1
4975047  2015     11   13            5  ...  0.0  0.0  0.0        0
3559430  2015      8   14            5  ...  0.0  0.0  0.0        0
...       ...    ...  ...          ...  ...  ...  ...  ...      ...
4985584  2015     11   13            5  ...  0.0  0.0  0.0        1
4390712  2015     10    6            2  ...  0.0  0.0  1.0        0
3684895  2015      8   22            6  ...  0.0  0.0  0.0        0
560968   2015      2    8            7  ...  0.0  0.0  0.0        1
1429176  2015      4    5            7  ...  0.0  0.0  0.0        0

[4285506 rows x 39 columns]

In [0]:
Y_train=df['OUTCOME']
X_train=df.drop("OUTCOME",axis=1)

In [0]:
df=X_test.join(Y_test)

In [23]:
df

         YEAR  MONTH  DAY  DAY_OF_WEEK  ...   11   12   13  OUTCOME
3658106  2015      8   20            4  ...  0.0  0.0  0.0        1
4794134  2015     11    1            7  ...  0.0  0.0  0.0        0
114459   2015      1    8            4  ...  0.0  0.0  0.0        0
1036408  2015      3   12            4  ...  0.0  0.0  0.0        1
2469189  2015      6    9            2  ...  0.0  0.0  1.0        0
...       ...    ...  ...          ...  ...  ...  ...  ...      ...
5114157  2015     11   22            7  ...  0.0  0.0  0.0        1
4655824  2015     10   23            5  ...  0.0  0.0  0.0        1
1814125  2015      4   29            3  ...  1.0  0.0  0.0        0
5708304  2015     12   31            4  ...  0.0  0.0  0.0        0
1659795  2015      4   20            1  ...  0.0  0.0  1.0        1

[1428502 rows x 39 columns]

In [24]:
df['ORIGIN_AIRPORT']=df['ORIGIN_AIRPORT'].map(ori_di)
df['DESTINATION_AIRPORT']=df['DESTINATION_AIRPORT'].map(des_di)
df

         YEAR  MONTH  DAY  DAY_OF_WEEK  ...   11   12   13  OUTCOME
3658106  2015      8   20            4  ...  0.0  0.0  0.0        1
4794134  2015     11    1            7  ...  0.0  0.0  0.0        0
114459   2015      1    8            4  ...  0.0  0.0  0.0        0
1036408  2015      3   12            4  ...  0.0  0.0  0.0        1
2469189  2015      6    9            2  ...  0.0  0.0  1.0        0
...       ...    ...  ...          ...  ...  ...  ...  ...      ...
5114157  2015     11   22            7  ...  0.0  0.0  0.0        1
4655824  2015     10   23            5  ...  0.0  0.0  0.0        1
1814125  2015      4   29            3  ...  1.0  0.0  0.0        0
5708304  2015     12   31            4  ...  0.0  0.0  0.0        0
1659795  2015      4   20            1  ...  0.0  0.0  1.0        1

[1428502 rows x 39 columns]

In [0]:
Y_test=df['OUTCOME']
X_test=df.drop("OUTCOME",axis=1)

In [0]:
train_data=X_train.join(Y_train)
test_data=X_test.join(Y_test)

train_data.to_csv("train_data.csv",index=False)
test_data.to_csv("test_data.csv",index=False)

In [27]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile()
uploaded.SetContentFile("train_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

uploaded = drive.CreateFile({'title': 'test_data.csv'})
uploaded.SetContentFile("test_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 16rEbSeC0Aj299njKmq48pVIo2BcfdjWZ
Uploaded file with ID 1nr0lcUt3TkzrnPM2k0odppcf-FwcZ7Pv

In [0]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()

In [0]:
####Unused as it would be used for regression problems
from sklearn.feature_selection import SelectPercentile, f_regression                      
Selector_f = SelectPercentile(f_regression, percentile=25)
Selector_f.fit(X,y)
for n,s in zip(Unhandled_data.feature_names,Selector_f.scores_):
 print("F-score: %3.2ft for feature %s " % (s,n))
Selector_f.get_support(True)

In [0]:
from sklearn.feature_selection import SelectPercentile, f_classif
Selector_f = SelectPercentile(f_classif, percentile=25)
Selector_f.fit(X,y)
for n,s in zip(Unhandled_data.feature_names,Selector_f.scores_):
 print("F-score: %3.2ft for feature %s" % (s,n))
Selector_f.get_support(True)

In [0]:
from sklearn.feature_selection import SelectPercentile, f_classif
Selector_f = SelectPercentile(f_classif, percentile=75)
Selector_f.fit(X,y)
for n,s in zip(Unhandled_data.feature_names,Selector_f.scores_):
 print("F-score: %3.2ft for feature %s" % (s,n))
Selector_f.get_support(True)

In [0]:
from sklearn.feature_selection import SelectPercentile, chi2
Selector_f = SelectPercentile(chi2, percentile=25)
Selector_f.fit(X,y)
for n,s in zip(Unhandled_data.feature_names,Selector_f.scores_):
 print('F-score: %3.2ft for feature %s ' % (s,n))
Selector_f.get_support(True)

In [0]:
from sklearn.feature_selection import RFECV
selector = RFECV(estimator=log_reg, cv=5,scoring='accuracy',n_jobs=-1)
selector.fit(X, y)
print("Optimal number of features: %d" % selector.n_features_)
print(X.feature_names[selector.support_])
print(selector.ranking_)

In [0]:
from sklearn.feature_selection import SelectKBest, f_classif

feature_cols = X.columns
selector = SelectKBest(f_classif, k=9)
X_new = selector.fit_transform(X[feature_cols], y)
selected_features = pd.DataFrame(selector.inverse_transform(X_new),index=X_train.index,columns=feature_cols)
selected_columns = selected_features.columns[selected_features.var() != 0]
selected_columns

In [0]:
final_selected_columns=

In [0]:
X_new=X[final_selected_columns]

In [0]:
from sklearn.model_selection import cross_validate,make_scorer,accuracy_score,roc_auc_score
from sklearn import metrics
def cross_validation(model):
  scores = cross_validate(model, X_new, y, scoring={'accuracy':make_scorer(accuracy_score),'roc_auc':make_scorer(roc_auc_score)},cv=5)
  print("Cross-validated scores:", scores)
  print("cross for accuracy",scores['test_accuracy'])
  print("cross for roc-auc",scores['test_roc_auc'])

In [0]:
def report(Y_test,pred):
  score1=metrics.roc_auc_score(Y_test,pred)
  score2=metrics.accuracy_score(Y_test,pred)

  print(f"Test ROC AUC score: {score1}")
  print(f"Test accuracy score: {score2}")
  print("Confusion matrix is ",metrics.confusion_matrix(Y_test,pred))
  print("Classification report is ",metrics.classification_report(Y_test,pred))
  print("\n")

In [0]:
from lightgbm import LGBMClassifier

lgbclassifier=LGBMClassifier()
lgbclassifier.fit(X_train,Y_train)
pred=lgbclassifier.predict(X_test)
print("predictions are ",pred)
report(Y_test,pred)
cross_validation(lgbclassifier)

In [0]:
Unhandled_data=pd.read_csv('/content/drive/My Drive/Unhandled_data.csv')

In [0]:
X=Unhandled_data[X_columns]
y=Unhandled_data['OUTCOME']