<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Models_with_external_weather_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving airports.csv to airports.csv

{'airports.csv': b'iata,name,city,state,country,latitude,longitude\n00M,Thigpen,Bay Springs,MS,USA,31.95376472,-89.23450472\n00R,Livingston Municipal,Livingston,TX,USA,30.68586111,-95.01792778\n00V,Meadow Lake,Colorado Springs,CO,USA,38.94574889,-104.5698933\n01G,Perry-Warsaw,Perry,NY,USA,42.74134667,-78.05208056\n01J,Hilliard Airpark,Hilliard,FL,USA,30.6880125,-81.90594389\n01M,Tishomingo County,Belmont,MS,USA,34.49166667,-88.20111111\n02A,Gragg-Wade,Clanton,AL,USA,32.85048667,-86.61145333\n02C,Capitol,Brookfield,WI,USA,43.08751,-88.17786917\n02G,Columbiana County,East Liverpool,OH,USA,40.67331278,-80.64140639\n03D,Memphis Memorial,Memphis,MO,USA,40.44725889,-92.22696056\n04M,Calhoun County,Pittsboro,MS,USA,33.93011222,-89.34285194\n04Y,Hawley Municipal,Hawley,MN,USA,46.88384889,-96.35089861\n05C,Griffith-Merrillville,Griffith,IN,USA,41.51961917,-87.40109333\n05F,Gatesville - City/County,Gatesville,TX,USA,31.42127556,-97.79696778\n05U,Eureka,Eureka,NV,USA,39.60416667,-116.0050597\n06A,Moton  Municipal,Tuskegee,AL,USA,32.46047167,-85.68003611\n06C,Schaumburg,Chicago/Schaumburg,IL,USA,41.98934083,-88.10124278\n06D,Rolla Municipal,Rolla,ND,USA,48.88434111,-99.62087694\n06M,Eupora Municipal,Eupora,MS,USA,33.53456583,-89.31256917\n06N,Randall,Middletown,NY,USA,41.43156583,-74.39191722\n06U,Jackpot/Hayden,Jackpot,NV,USA,41.97602222,-114.6580911\n07C,Dekalb County,Auburn,IN,USA,41.30716667,-85.06433333\n07F,Gladewater Municipal,Gladewater,TX,USA,32.52883861,-94.97174556\n07G,Fitch H Beach,Charlotte,MI,USA,42.57450861,-84.81143139\n07K,Central City Municipal,Central City,NE,USA,41.11668056,-98.05033639\n08A,Wetumpka Municipal,Wetumpka,AL,USA,32.52943944,-86.32822139\n08D,Stanley Municipal,Stanley,ND,USA,48.30079861,-102.4063514\n08K,Harvard State,Harvard,NE,USA,40.65138528,-98.07978667\n08M,Carthage-Leake County,Carthage,MS,USA,32.76124611,-89.53007139\n09A,Butler-Choctaw County,Butler,AL,USA,32.11931306,-88.1274625\n09J,Jekyll Island,Jekyll Island,GA,USA,31.07447222,-81.42777778\n09K,Sargent Municipal,Sargent,NE,USA,41.63695083,-99.34038139\n09M,Charleston Municipal,Charleston,MS,USA,33.99150222,-90.078145\n09W,South Capitol Street,Washington,DC,USA,38.86872333,-77.00747583\n0A3,Smithville Municipal,Smithville,TN,USA,35.98531194,-85.80931806\n0A8,Bibb County,Centreville,AL,USA,32.93679056,-87.08888306\n0A9,Elizabethton Municipal,Elizabethton,TN,USA,36.37094306,-82.17374111\n0AK,Pilot Station,Pilot Station,AK,USA,61.93396417,-162.8929358\n0B1,Col. Dyke,Bethel,ME,USA,44.42506444,-70.80784778\n0B4,Hartington Municipal,Hartington,NE,USA,42.60355556,-97.25263889\n0B5,Turners Falls,Montague,MA,USA,42.59136361,-72.52275472\n0B7,Warren-Sugar Bush,Warren,VT,USA,44.11672722,-72.82705806\n0B8,Elizabeth,Fishers Island,NY,USA,41.25130806,-72.03161139\n0C0,Dacy,Chicago/Harvard,IL,USA,42.40418556,-88.63343222\n0C4,Pender Municipal,Pender,NE,USA,42.11388722,-96.72892556\n0D1,South Haven Municipal,South Haven,MI,USA,42.35083333,-86.25613889\n0D8,Gettysburg Municipal,Gettysburg,SD,USA,44.98730556,-99.9535\n0E0,Moriarty,Moriarty,NM,USA,34.98560639,-106.0094661\n0E8,Crownpoint,Crownpoint,NM,USA,35.71765889,-108.2015961\n0F2,Bowie Municipal,Bowie,TX,USA,33.60166667,-97.77556\n0F4,Loup City Municipal,Loup City,NE,USA,41.29028694,-98.99064278\n0F7,Fountainhead Lodge Airpark,Eufaula,OK,USA,35.38898833,-95.60165111\n0F8,William R Pogue Municipal,Sand Springs,OK,USA,36.17528,-96.15181028\n0F9,Tishomingo Airpark,Tishomingo,OK,USA,34.19592833,-96.67555694\n0G0,North Buffalo Suburban,Lockport,NY,USA,43.10318389,-78.70334583\n0G3,Tecumseh Municipal,Tecumseh,NE,USA,40.39944417,-96.17139694\n0G6,Williams County,Bryan,OH,USA,41.46736111,-84.50655556\n0G7,Finger Lakes Regional,Seneca Falls,NY,USA,42.88062278,-76.78162028\n0H1,Trego Wakeeney,Wakeeney,KS,USA,39.0044525,-99.89289917\n0I8,Cynthiana-Harrison County,Cynthiana,KY,USA,38.36674167,-84.28410056\n0J0,Abbeville Municipal,Abbeville,AL,USA,31.60016778,-85.23882222\n0J4,Florala Municipal,Florala,AL,USA,31.04247361,-86.31156111\n0J6,Headland Municipal,Headland,AL,USA,31.364895,-85.30965556\n0K7,Humboldt Municipal,Humboldt,IA,USA,42.7360825,-94.24524167\n0L5,Goldfield,Goldfield,NV,USA,37.71798833,-117.2384119\n0L7,Jean,Jean,NV,USA,35.76827222,-115.3296378\n0L9,Echo Bay,Overton,NV,USA,36.31108972,-114.4638672\n0M0,Dumas Municipal,Dumas,AR,USA,33.8845475,-91.53429111\n0M1,Scott,Parsons,TN,USA,35.63778,-88.127995\n0M4,Benton County,Camden,TN,USA,36.01122694,-88.12328833\n0M5,Humphreys County,Waverly,TN,USA,36.11659972,-87.73815889\n0M6,Panola County,Batesville,MS,USA,34.36677444,-89.90008917\n0M8,Byerley,Lake Providence,LA,USA,32.82587917,-91.187665\n0O3,Calaveras Co-Maury Rasmussen,San Andreas,CA,USA,38.14611639,-120.6481733\n0O4,Corning Municipal,Corning,CA,USA,39.94376806,-122.1713781\n0O5,University,Davis,CA,USA,38.53146222,-121.7864906\n0Q5,Shelter Cove,Shelter Cove,CA,USA,40.02764333,-124.0733639\n0Q6,Shingletown,Shingletown,CA,USA,40.52210111,-121.8177683\n0R0,Columbia-Marion County,Columbia,MS,USA,31.29700806,-89.81282944\n0R1,Atmore Municipal,Atmore,AL,USA,31.01621528,-87.44675972\n0R3,Abbeville Chris Crusta Memorial,Abbeville,LA,USA,29.97576083,-92.08415167\n0R4,Concordia Parish,Vidalia,LA,USA,31.56683278,-91.50011889\n0R5,David G Joyce,Winnfield,LA,USA,31.96366222,-92.66026056\n0R7,Red River,Coushatta,LA,USA,31.99071694,-93.30739306\n0S7,Dorothy Scott,Oroville,WA,USA,48.958965,-119.4119622\n0S9,Jefferson County International,Port Townsend,WA,USA,48.04981361,-122.8012792\n0V2,Harriet Alexander,Salida,CO,USA,38.53916389,-106.0458483\n0V3,Pioneer Village,Minden,NE,USA,40.5149125,-98.94565083\n0V4,Brookneal/Campbell County,Brookneal,VA,USA,37.14172222,-79.01638889\n0V6,Mission Sioux,Mission,SD,USA,43.30694778,-100.6281936\n0V7,Kayenta,Kayenta,AZ,USA,36.70972139,-110.2367978\n10C,Galt,Chicago/Greenwood/Wonderlake,IL,USA,42.40266472,-88.37588917\n10D,Winsted Municipal,Winsted,MN,USA,44.94996278,-94.0669175\n10G,Holmes County,Millersburg,OH,USA,40.53716667,-81.95436111\n10N,Wallkill,Wallkill,NY,USA,41.62787111,-74.13375583\n10U,Owyhee,Owyhee,NV,USA,41.95323306,-116.1876014\n11A,Clayton Municipal,Clayton,AL,USA,31.88329917,-85.48491361\n11D,Clarion Cty,Clarion,PA,USA,41.22581222,-79.44098972\n11IS,Schaumburg Heliport,Chicago/Schaumburg,IL,USA,42.04808278,-88.05257194\n11J,Early County,Blakely,GA,USA,31.39698611,-84.89525694\n11R,Brenham Municipal,Brenham,TX,USA,30.219,-96.37427778\n12C,Rochelle Municipal,Rochelle,IL,USA,41.89300139,-89.07829\n12D,Tower Municipal,Tower,MN,USA,47.81833333,-92.29166667\n12J,Brewton Municipal,Brewton,AL,USA,31.05126306,-87.06796833\n12K,Superior Municipal,Superior,NE,USA,40.04636111,-98.06011111\n12Y,Le Sueur Municipal,Le Sueur,MN,USA,44.43746472,-93.91274083\n13C,Lakeview,Lakeview,MI,USA,43.45213722,-85.26480333\n13K,Eureka Municipal,Eureka,KS,USA,37.8515825,-96.29169806\n13N,Trinca,Andover,NJ,USA,40.96676444,-74.78016556\n14J,Carl Folsom,Elba,AL,USA,31.40988861,-86.08883583\n14M,Hollandale Municipal,Hollandale,MS,USA,33.18262167,-90.83065444\n14Y,Todd Field,Long Prairie,MN,USA,45.89857556,-94.87391\n15F,Haskell Municipal,Haskell,TX,USA,33.19155556,-99.71793056\n15J,Cook County,Adel,GA,USA,31.13780556,-83.45308333\n15M,Luka,Luka,MS,USA,34.7723125,-88.16587444\n15Z,McCarthy 2,McCarthy,AK,USA,61.43706083,-142.9037372\n16A,Nunapitchuk,Nunapitchuk,AK,USA,60.90582833,-162.4391158\n16G,Seneca County,Tiffin,OH,USA,41.09405556,-83.2125\n16J,Dawson Municipal,Dawson,GA,USA,31.74328472,-84.419285\n16S,Myrtle Creek Municipal,Myrtle Creek,OR,USA,42.99845056,-123.3095092\n17G,Port Bucyrus-Crawford County,Bucyrus,OH,USA,40.78141667,-82.97469444\n17J,Donalsonville Municipal,Donalsonville,GA,USA,31.00694444,-84.87761111\n17K,Boise City,Boise City,OK,USA,36.77430028,-102.5104364\n17M,Magee Municipal,Magee,MS,USA,31.86127139,-89.80285361\n17N,Cross Keys,Cross Keys,NJ,USA,39.70547583,-75.03300306\n17Z,Manokotak,Manokotak,AK,USA,58.98896583,-159.0499739\n18A,Franklin County,Canon,GA,USA,34.34010472,-83.13348333\n18I,McCreary County,Pine Knot,KY,USA,36.69591306,-84.39160389\n19A,Jackson County,Jefferson,GA,USA,34.17402472,-83.56066528\n19M,C A Moore,Lexington,MS,USA,33.12546111,-90.02555694\n19N,Camden,Berlin,NJ,USA,39.77842056,-74.94780389\n19P,Port Protection SPB,Port Protection,AK,USA,56.32880417,-133.6100844\n1A3,Martin Campbell,Copperhill,TN,USA,35.01619111,-84.34631083\n1A5,Macon County,Franklin,NC,USA,35.222595,-83.41904389\n1A6,Middlesboro-Bell County,Middlesboro,KY,USA,36.6106375,-83.73741611\n1A7,Jackson County,Gainesboro,TN,USA,36.39728139,-85.64164278\n1A9,Autauga County,Prattville,AL,USA,32.438775,-86.51044778\n1B0,Dexter Regional,Dexter,ME,USA,45.00839444,-69.23976722\n1B1,Columbia Cty,Hudson,NY,USA,42.29130028,-73.71031944\n1B3,Fair Haven,Fair Haven,VT,USA,43.61534389,-73.27455556\n1B9,Mansfield Municipal,Mansfield,MA,USA,42.00013306,-71.19677139\n1C5,Clow,Chicago/Plainfield,IL,USA,41.69597444,-88.12923056\n1D1,Milbank Municipal,Milbank,SD,USA,45.23053806,-96.56596556\n1D2,Canton -Plymouth -  Mettetal,Plymouth,MI,USA,42.35003667,-83.45826833\n1D3,Platte Municipal,Platte,SD,USA,43.40332833,-98.82952972\n1D6,Hector Municipal,Hector,MN,USA,44.73107278,-94.71471333\n1D7,Webster Municipal,Webster,SD,USA,45.29329111,-97.51369889\n1D8,Redfield Municipal,Redfield,SD,USA,44.86247611,-98.52953972\n1F0,Downtown Ardmore,Ardmore,OK,USA,34.14698917,-97.12265194\n1F1,Lake Murray State Park,Overbrook,OK,USA,34.07509694,-97.10667917\n1F4,Madill Municipal,Madill,OK,USA,34.14040194,-96.81203222\n1F9,Bridgeport Municipal,Bridgeport,TX,USA,33.17533333,-97.82838889\n1G0,Wood County,Bowling Green,OH,USA,41.391,-83.63013889\n1G3,Kent State University,Kent,OH,USA,41.15186167,-81.41658306\n1G4,Grand Canyon West,Peach Springs,AZ,USA,35.99221,-113.8166164\n1G5,Freedom,Medina,OH,USA,41.13144444,-81.76491667\n1G6,Michael,Cicero,NY,USA,43.18166667,-76.12777778\n1H0,Creve Coeur,St Louis,MO,USA,38.72752,-90.50830417\n1H2,Effingham County Memorial,Effingham,IL,USA,39.07045083,-88.53351972\n1H3,Linn State Tech. College,Linn,MO,USA,38.47149444,-91.81531667\n1H8,Casey Municipal,Casey,IL,USA,39.30250917,-88.00406194\n1I5,Freehold,Freehold,NY,USA,42.36425,-74.06596806\n1I9,Delphi Municipal,Delphi,IN,USA,40.54281417,-86.68167194\n1J0,Tri-County,Bonifay,FL,USA,30.84577778,-85.60138889\n1K2,Lindsay Municipal,Lindsay,OK,USA,34.85007333,-97.58642028\n1K4,David J. Perry,Goldsby,OK,USA,35.1550675,-97.47039389\n1K5,Waynoka Municipal,Waynoka,OK,USA,36.56670028,-98.85231333\n1K9,Satanta Municipal,Satanta,KS,USA,37.45419111,-100.9921119\n1L0,St. John the Baptist Parish,Reserve,LA,USA,30.08720833,-90.58266528\n1L1,Lincoln Co,Panaca,NV,USA,37.78746444,-114.4216567\n1L7,Escalante Municipal,Escalante,UT,USA,37.74532639,-111.5701653\n1L9,Parowan,Parowan,UT,USA,37.85969694,-112.816055\n1M1,North Little Rock Municipal,No Lit Rock,AR,USA,34.83398056,-92.25792778\n1M2,Belzoni Municipal,Belzoni,MS,USA,33.14518056,-90.51528472\n1M4,Posey,Haleyville,AL,USA,34.28034806,-87.60044139\n1M5,Portland Municipal,Portland,TN,USA,36.59287528,-86.47691028\n1M7,Fulton,Fulton,KY,USA,36.52589417,-88.91561611\n1MO,Mountain Grove Memorial,Mountain Grove,MO,USA,37.12071889,-92.311245\n1N2,Spadaro,East Moriches,NY,USA,40.82787639,-72.74871083\n1N4,Woodbine Muni,Woodbine,NJ,USA,39.21915,-74.794765\n1N7,Blairstown,Blairstown,NJ,USA,40.97114556,-74.99747556\n1N9,Allentown Queen City Muni,Allentown,PA,USA,40.57027778,-75.48830556\n1ND3,Hamry,Kindred,ND,USA,46.6485775,-97.00564306\n1O1,Grandfield Municipal,Grandfield,OK,USA,34.23758944,-98.74200917\n1O2,Lampson,Lakeport,CA,USA,38.99017472,-122.8997175\n1O3,Lodi,Lodi,CA,USA,38.20241667,-121.2684167\n1O4,Thomas Municipal,Thomas,OK,USA,35.73338222,-98.73063833\n1O6,Dunsmuir Municipal-Mott,Dunsmuir,CA,USA,41.26320889,-122.2719528\n1R1,Jena,Jena,LA,USA,31.671005,-92.15846722\n1R7,Brookhaven-Lincoln County,Brookhaven,MS,USA,31.6058475,-90.40931583\n1R8,Bay Minette Municipal,Bay Minette,AL,USA,30.87046278,-87.81738167\n1S0,Pierce County,Puyallup,WA,USA,47.10391667,-122.2871944\n1S3,Tillitt,Forsyth,MT,USA,46.27110639,-106.6239206\n1S5,Sunnyside Municipal,Sunnyside,WA,USA,46.32763139,-119.9705964\n1S6,Priest River Muni,Priest River,ID,USA,48.19018611,-116.9093644\n1U7,Bear Lake County,Paris,ID,USA,42.24714972,-111.33826\n1V0,Navajo State Park,Navajo Dam,NM,USA,36.80833833,-107.6514444\n1V2,Grant County,Hyannis,NE,USA,42.00942944,-101.7693439\n1V5,Boulder Muni,Boulder,CO,USA,40.03942972,-105.2258217\n1V6,Fremont County,Canon City,CO,USA,38.42838111,-105.1054994\n1V9,Blake,Delta,CO,USA,38.78539722,-108.0636611\n20A,Robbins,Oneonta,AL,USA,33.97231972,-86.37942722\n20M,Macon Municipal,Macon,MS,USA,33.13345889,-88.53559806\n20N,Kingston-Ulster,Kingston,NY,USA,41.9852525,-73.96409722\n20U,Beach,Beach,ND,USA,46.92362444,-103.9785389\n20V,McElroy Airfield,Kremmling,CO,USA,40.05367972,-106.3689467\n21D,Lake Elmo,St Paul,MN,USA,44.99748861,-92.85568111\n21F,Jacksboro Municipal,Jacksboro,TX,USA,33.228725,-98.14671083\n22B,Mountain Meadow Airstrip,Burlington,CT,USA,41.77287528,-73.01121667\n22I,Vinton County,McArthur,OH,USA,39.328125,-82.44182167\n22M,Pontotoc County,Pontotoc,MS,USA,34.27593833,-89.03839694\n22N,Carbon Cty-Jake Arner Memorial,Lehighton,PA,USA,40.80950889,-75.76149639\n23J,Herlong,Jacksonville,FL,USA,30.27778889,-81.80594722\n23M,Clarke County,Quitman,MS,USA,32.08487111,-88.73893389\n23N,Bayport Aerodrome,Bayport,NY,USA,40.75843139,-73.05372083\n23R,Devine Municipal,Devine,TX,USA,29.1384075,-98.94189028\n24A,Jackson County,Sylva,NC,USA,35.3168625,-83.20936806\n24J,Suwannee County,Live Oak,FL,USA,30.30105583,-83.02318778\n24N,Jicarilla Apache Nation,Dulce,NM,USA,36.828535,-106.8841914\n25J,Cuthbert-Randolph,Cuthbert,GA,USA,31.70016583,-84.82492194\n25M,Ripley,Ripley,MS,USA,34.72226778,-89.01504944\n25R,International,Edinburg,TX,USA,26.44201083,-98.12945306\n26A,Ashland/Lineville,Ashland/Lineville,AL,USA,33.28761417,-85.80412861\n26N,Ocean City Muni cipal,Ocean City,NJ,USA,39.26347222,-74.60747222\n26R,Jackson County,Edna/Ganado,TX,USA,29.00101,-96.58194667\n26U,McDermitt State,McDermitt,OR,USA,42.00211083,-117.7231972\n27A,Elbert County-Patz,Elberton,GA,USA,34.09519722,-82.81586417\n27D,Myers,Canby,MN,USA,44.72801889,-96.26309972\n27J,Newberry Municipal,Newberry,SC,USA,34.30927778,-81.63972222\n27K,Georgetown-Scott County,Georgetown,KY,USA,38.23442528,-84.43468667\n28J,Kay Larkin,Palatka,FL,USA,29.65863889,-81.68855556\n29D,Grove City,Grove City,PA,USA,41.14597611,-80.16592194\n29G,Portage County,Ravenna,OH,USA,41.210195,-81.25163083\n29S,Gardiner,Gardiner,MT,USA,45.04993556,-110.7466008\n2A0,Mark Anton,Dayton,TN,USA,35.48624611,-84.93109722\n2A1,Jamestown Municipal,Jamestown,TN,USA,36.34970833,-84.94664472\n2A3,Larsen Bay,Larsen Bay,AK,USA,57.53510667,-153.9784169\n2A9,Kotlik,Kotlik,AK,USA,63.03116111,-163.5299278\n2AK,Lime Village,Lime Village,AK,USA,61.35848528,-155.4403508\n2B3,Parlin,Newport,NH,USA,43.38812944,-72.18925417\n2B7,Pittsfield Municipal,Pittsfield,ME,USA,44.76852778,-69.37441667\n2B9,Post Mills,Post Mills,VT,USA,43.884235,-72.25370333\n2D1,Barber,Alliance,OH,USA,40.97089139,-81.09981889\n2D5,Oakes Municipal,Oakes,ND,USA,46.17301972,-98.07987556\n2F5,Lamesa Municipal,Lamesa,TX,USA,32.75627778,-101.9194722\n2F6,Skiatook Municipal,Skiatook,OK,USA,36.357035,-96.01138556\n2F7,Commerce Municipal,Commerce,TX,USA,33.29288889,-95.89641806\n2F8,Morehouse Memorial,Bastrop,LA,USA,32.75607944,-91.88057194\n2G2,Jefferson County Airpark,Steubenville,OH,USA,40.35944306,-80.70007806\n2G3,Connellsville,Connellsville,PA,USA,39.95893667,-79.65713306\n2G4,Garrett County,Oakland,MD,USA,39.58027778,-79.33941667\n2G9,Somerset County,Somerset,PA,USA,40.03911111,-79.01455556\n2H0,Shelby County,Shelbyville,IL,USA,39.41042861,-88.8454325\n2H2,Aurora Memorial Municipal,Aurora,MO,USA,36.96230778,-93.69531111\n2I0,Madisonville Municipal,Madisonville,KY,USA,37.35502778,-87.39963889\n2I5,Chanute,Rantoul,IL,USA,40.29355556,-88.14236111\n2IS,Airglades,Clewiston,FL,USA,26.74200972,-81.04978917\n2J2,Liberty County,Hinesville,GA,USA,31.78461111,-81.64116667\n2J3,Louisville Municipal,Louisville,GA,USA,32.98654083,-82.38568139\n2J5,Millen,Millen,GA,USA,32.89376972,-81.96511583\n2J9,Quincy Municipal,Quincy,FL,USA,30.59786111,-84.55741667\n2K3,Stanton County Municipal,Johnson,KS,USA,37.58271111,-101.73281\n2K4,Scott,Mangum,OK,USA,34.89172583,-99.52675667\n2K5,Telida,Telida,AK,USA,63.39387278,-153.2689733\n2M0,Princeton-Caldwell County,Princeton,KY,USA,37.11560444,-87.85556944\n2M2,Lawrenceburg Municipal,Lawrenceburg,TN,USA,35.2343025,-87.25793222\n2M3,Sallisaw Municipal,Sallisaw,OK,USA,35.43816667,-94.80277778\n2M4,G. V. Montgomery,Forest,MS,USA,32.35347778,-89.48867944\n2M8,Charles W. Baker,Millington,TN,USA,35.27897583,-89.93147611\n2O1,Gansner,Quincy,CA,USA,39.94378056,-120.9468983\n2O3,Angwin-Parrett,Angwin,CA,USA,38.57851778,-122.4352572\n2O6,Chowchilla,Chowchilla,CA,USA,37.11244417,-120.2468406\n2O7,Independence,Independence,CA,USA,36.81382111,-118.2050956\n2O8,Hinton Municipal,Hinton,OK,USA,35.50592472,-98.34236111\n2P2,Washington Island,Washington Island,WI,USA,45.38620833,-86.92448056\n2Q3,Yolo Co-Davis/Woodland/Winters,Davis/Woodland/Winters,CA,USA,38.5790725,-121.8566322\n2R0,Waynesboro Municipal,Waynesboro,MS,USA,31.64599472,-88.63475667\n2R4,Peter Prince,Milton,FL,USA,30.63762083,-86.99365278\n2R5,St Elmo,St Elmo,AL,USA,30.50190833,-88.27511667\n2R9,Karnes County,Kenedy,TX,USA,28.8250075,-97.86558333\n2S1,Vashon Municipal,Vashon,WA,USA,47.45815333,-122.4773506\n2S6,Sportsman Airpark,Newberg,OR,USA,45.29567333,-122.9553783\n2S7,Chiloquin State,Chiloquin,OR,USA,42.58319167,-121.8761261\n2S8,Wilbur,Wilbur,WA,USA,47.75320639,-118.7438936\n2T1,Muleshoe Municipal,Muleshoe,TX,USA,34.18513639,-102.6410981\n2V1,Stevens,Pagosa Springs,CO,USA,37.277505,-107.0558742\n2V2,Vance Brand,Longmont,CO,USA,40.16367139,-105.1630369\n2V5,Wray Municipal,Wray,CO,USA,40.10032333,-102.24096\n2V6,Yuma Municipal,Yuma,CO,USA,40.10415306,-102.7129869\n2W5,Maryland,Indian Head,MD,USA,38.60053667,-77.07296917\n2W6,Captain Walter Francis Duke Regional,Leonardtown,MD,USA,38.31536111,-76.55011111\n2Y3,Yakutat SPB,Yakutat,AK,USA,59.5624775,-139.7410994\n2Y4,Rockwell City Municipal,Rockwell City,IA,USA,42.38748056,-94.61803333\n31F,Gaines County,Seminole,TX,USA,32.67535389,-102.652685\n32M,Norfolk,Norfolk,MA,USA,42.12787528,-71.37033556\n32S,Stevensville,Stevensville,MT,USA,46.52511111,-114.0528056\n33J,Geneva Municipal,Geneva,AL,USA,31.05527778,-85.88033333\n33M,Water Valley,Water Valley,MS,USA,34.16677639,-89.68619722\n33N,Delaware Airpark,Dover,DE,USA,39.21837556,-75.59642667\n33S,Pru,Ritzville,WA,USA,47.12487194,-118.3927539\n34A,Laurens County,Laurens,SC,USA,34.50705556,-81.94719444\n35A,"Union County, Troy Shelton",Union,SC,USA,34.68680111,-81.64121167\n35D,Padgham,Allegan,MI,USA,42.53098278,-85.82513556\n35S,Wasco State,Wasco,OR,USA,45.58944444,-120.6741667\n36K,Lakin,Lakin,KS,USA,37.96946389,-101.2554472\n36S,Happy Camp,Happy Camp,CA,USA,41.79067944,-123.3889444\n36U,Heber City Municipal/Russ McDonald,Heber,UT,USA,40.48180556,-111.4288056\n37T,Calico Rock-Izard County,Calico Rock,AR,USA,36.16565278,-92.14523611\n37W,Harnett County,Erwin,NC,USA,35.37880028,-78.73362917\n38A,Shaktoolik,Shaktoolik,AK,USA,64.36263194,-161.2025369\n38S,Deer Lodge-City-County,Deer Lodge,MT,USA,46.38881583,-112.7669842\n38U,Wayne Wonderland,Loa,UT,USA,38.36247972,-111.5960164\n39N,Princeton,Princeton,NJ,USA,40.39834833,-74.65760361\n3A0,Grove Hill Municipal,Grove Hill,AL,USA,31.68932389,-87.7613875\n3A1,Folsom,Cullman,AL,USA,34.26870833,-86.85833611\n3A2,New Tazewell Municipal,Tazewell,TN,USA,36.41008417,-83.55546167\n3A3,Anson County,Wadesboro,NC,USA,35.02397611,-80.08127333\n3AU,Augusta Municipal,Augusta,KS,USA,37.67162778,-97.07787222\n3B0,Southbridge Municipal,Southbridge,MA,USA,42.10092806,-72.03840833\n3B1,Greenville Municipal,Greenville,ME,USA,45.46302778,-69.55161111\n3B2,Marshfield,Marshfield,MA,USA,42.09824111,-70.67212083\n3B9,Chester,Chester,CT,USA,41.38390472,-72.50589

In [2]:
import pandas as pd
airports=pd.read_csv("/content/airports.csv")
airports

     iata                       name  ...   latitude   longitude
0     00M                    Thigpen  ...  31.953765  -89.234505
1     00R       Livingston Municipal  ...  30.685861  -95.017928
2     00V                Meadow Lake  ...  38.945749 -104.569893
3     01G               Perry-Warsaw  ...  42.741347  -78.052081
4     01J           Hilliard Airpark  ...  30.688012  -81.905944
...   ...                        ...  ...        ...         ...
3371  ZEF            Elkin Municipal  ...  36.280024  -80.786069
3372  ZER  Schuylkill Cty/Joe Zerbey  ...  40.706449  -76.373147
3373  ZPH      Zephyrhills Municipal  ...  28.228065  -82.155916
3374  ZUN                 Black Rock  ...  35.083227 -108.791777
3375  ZZV       Zanesville Municipal  ...  39.944458  -81.892105

[3376 rows x 7 columns]

In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [0]:
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/DataSet.csv')

In [3]:
data

         YEAR  QUARTER  MONTH  ...  SECURITY_DELAY  LATE_AIRCRAFT_DELAY Unnamed: 31
0        2019        1      1  ...             0.0                 25.0         NaN
1        2019        1      1  ...             0.0                 70.0         NaN
2        2019        1      1  ...             NaN                  NaN         NaN
3        2019        1      1  ...             NaN                  NaN         NaN
4        2019        1      1  ...             NaN                  NaN         NaN
...       ...      ...    ...  ...             ...                  ...         ...
7422032  2019        4     12  ...             0.0                  0.0         NaN
7422033  2019        4     12  ...             NaN                  NaN         NaN
7422034  2019        4     12  ...             NaN                  NaN         NaN
7422035  2019        4     12  ...             NaN                  NaN         NaN
7422036  2019        4     12  ...             NaN                  NaN         NaN

[7422037 rows x 32 columns]

In [4]:
data.isna().sum()

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN_AIRPORT_ID            0
ORIGIN_CITY_NAME             0
DEST_AIRPORT_ID              0
DEST_CITY_NAME               0
DEP_TIME                130086
DEP_DELAY               130110
DEP_DEL15               130110
TAXI_OUT                133977
WHEELS_OFF              133977
WHEELS_ON               137647
TAXI_IN                 137647
ARR_TIME                137646
ARR_DELAY               153805
CANCELLED                    0
DIVERTED                     0
ACTUAL_ELAPSED_TIME     153805
AIR_TIME                153805
FLIGHTS                      0
DISTANCE                     0
CARRIER_DELAY          6032784
WEATHER_DELAY          6032784
NAS_DELAY              6032784
SECURITY_DELAY         6032784
LATE_AIRCRAFT_DELAY    6032784
Unnamed: 31            7422037
dtype: int64

In [6]:
data.NAS_DELAY.mean()

16.587946184028397

In [0]:
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/Handled_data.csv')

In [5]:
data

           index  ...  WEATHER_DELAY_is_missing
0              0  ...                         1
1              1  ...                         1
2              2  ...                         1
3              3  ...                         1
4              4  ...                         1
...          ...  ...                       ...
5714003  5819074  ...                         1
5714004  5819075  ...                         1
5714005  5819076  ...                         1
5714006  5819077  ...                         1
5714007  5819078  ...                         1

[5714008 rows x 31 columns]

In [6]:
df=data.copy()
df

           index  ...  WEATHER_DELAY_is_missing
0              0  ...                         1
1              1  ...                         1
2              2  ...                         1
3              3  ...                         1
4              4  ...                         1
...          ...  ...                       ...
5714003  5819074  ...                         1
5714004  5819075  ...                         1
5714005  5819076  ...                         1
5714006  5819077  ...                         1
5714007  5819078  ...                         1

[5714008 rows x 31 columns]

In [7]:
data = pd.merge(left=data,right=airports, how='inner', left_on='ORIGIN_AIRPORT', right_on='iata')
data

           index  YEAR  MONTH  DAY  ...  state country   latitude   longitude
0              0  2015      1    1  ...     AK     USA  61.174320 -149.996186
1             15  2015      1    1  ...     AK     USA  61.174320 -149.996186
2             16  2015      1    1  ...     AK     USA  61.174320 -149.996186
3             18  2015      1    1  ...     AK     USA  61.174320 -149.996186
4             36  2015      1    1  ...     AK     USA  61.174320 -149.996186
...          ...   ...    ...  ...  ...    ...     ...        ...         ...
5705170  3978451  2015      9    4  ...     MA     USA  41.669336  -70.280356
5705171  3993661  2015      9    5  ...     MA     USA  41.669336  -70.280356
5705172  4004873  2015      9    6  ...     MA     USA  41.669336  -70.280356
5705173  4018828  2015      9    7  ...     MA     USA  41.669336  -70.280356
5705174  4035777  2015      9    8  ...     MA     USA  41.669336  -70.280356

[5705175 rows x 38 columns]

In [8]:
data.dropna(inplace=True)
data

           index  YEAR  MONTH  DAY  ...  state country   latitude   longitude
0              0  2015      1    1  ...     AK     USA  61.174320 -149.996186
1             15  2015      1    1  ...     AK     USA  61.174320 -149.996186
2             16  2015      1    1  ...     AK     USA  61.174320 -149.996186
3             18  2015      1    1  ...     AK     USA  61.174320 -149.996186
4             36  2015      1    1  ...     AK     USA  61.174320 -149.996186
...          ...   ...    ...  ...  ...    ...     ...        ...         ...
5705170  3978451  2015      9    4  ...     MA     USA  41.669336  -70.280356
5705171  3993661  2015      9    5  ...     MA     USA  41.669336  -70.280356
5705172  4004873  2015      9    6  ...     MA     USA  41.669336  -70.280356
5705173  4018828  2015      9    7  ...     MA     USA  41.669336  -70.280356
5705174  4035777  2015      9    8  ...     MA     USA  41.669336  -70.280356

[5703281 rows x 38 columns]

In [0]:
data=data.reset_index()

In [10]:
import datetime

def format_heure(time):
    if pd.isnull(time):
        return np.nan
    else:
        if time == 2400: time = 0
        time = "{0:04d}".format(int(time))
        heure = datetime.time(int(time[0:2]), int(time[2:4]))
        return heure

data['DATE'] = pd.to_datetime(data[['YEAR','MONTH', 'DAY']])
data['converted_DEPARTURE_TIME'] = data['DEPARTURE_TIME'].apply(format_heure)
data['converted_DEPARTURE_TIME']=[i.strftime("%H:%M:%S") for i in data.converted_DEPARTURE_TIME]
data['approx_DEPARTURE_TIME']=[i.partition(':')[0]+":00:00" for i in data.converted_DEPARTURE_TIME]
data['DATE']=data['DATE'].astype(str)
data["datetime"]=data['DATE']+" "+data['approx_DEPARTURE_TIME']
data

         level_0    index  ...  approx_DEPARTURE_TIME             datetime
0              0        0  ...               23:00:00  2015-01-01 23:00:00
1              1       15  ...               00:00:00  2015-01-01 00:00:00
2              2       16  ...               00:00:00  2015-01-01 00:00:00
3              3       18  ...               00:00:00  2015-01-01 00:00:00
4              4       36  ...               01:00:00  2015-01-01 01:00:00
...          ...      ...  ...                    ...                  ...
5703276  5705170  3978451  ...               13:00:00  2015-09-04 13:00:00
5703277  5705171  3993661  ...               12:00:00  2015-09-05 12:00:00
5703278  5705172  4004873  ...               13:00:00  2015-09-06 13:00:00
5703279  5705173  4018828  ...               12:00:00  2015-09-07 12:00:00
5703280  5705174  4035777  ...               13:00:00  2015-09-08 13:00:00

[5703281 rows x 43 columns]

In [0]:
!pip install -U -q kaggle
!mkdir -p ~/.kaggle

In [12]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"bchaithanyasai","key":"20ed009cda0c345c1ce5f5f6679b05cc"}'}

In [0]:
!cp kaggle.json ~/.kaggle/

In [14]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)    1GB  2020-04-03 22:53:52          46263
roche-data-science-coalition/uncover                           UNCOVER COVID-19 Challenge                          123MB  2020-04-08 22:04:30           2026
fireballbyedimyrnmom/us-counties-covid-19-dataset              US counties COVID 19 dataset                        334KB  2020-04-08 21:53:06           2282
ryanxjhan/cbc-news-coronavirus-articles-march-26               CBC News Coronavirus/COVID-19 Articles (NLP)          6MB  2020-03-27 23:23:07            503
bappekim/air-pollution-in-seoul                                Air Pollution in Seoul                               20MB  2020-04-03 16:33:49            620
danevans/world-bank-wdi-212-health-systems                     World Bank WDI 2.12 - Health Systems                  6KB  2020-03-29 19:00:14            673
vitaliymalcev/russian-passenger-air-service-20072020           Russian passenger air service 2007-2020             239KB  2020-04-02 22:27:03            391
eswarchandt/amazon-music-reviews                               Amazon Musicual Instruments Reviews                   5MB  2020-03-29 02:59:52            415
dheerajmpai/hospitals-and-beds-in-india                        Hospitals and beds in India (Statewise)               5KB  2020-03-27 14:05:50            569
lakritidis/identifying-influential-bloggers-techcrunch         Identifying Influential Bloggers: Techcrunch        112MB  2020-03-30 19:22:09            112
monogenea/birdsongs-from-europe                                Bird songs from Europe (xeno-canto)                   7GB  2020-03-23 15:35:20             72
trtmio/project-coviewed-subreddit-coronavirus-news-corpus      Project COVIEWED Coronavirus News Corpus              9MB  2020-04-06 09:01:01             81
sobhanmoosavi/us-accidents                                     US Accidents (3.0 million records)                  199MB  2020-01-17 04:45:09          12857
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-04-07 15:09:23          26513
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     706KB  2020-04-09 06:36:40         130416
clmentbisaillon/fake-and-real-news-dataset                     Fake and real news dataset                           41MB  2020-03-26 18:51:15            916
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-04-01 12:10:09           1596
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          13325
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        141KB  2020-04-08 15:26:16           1450
rubenssjr/brasilian-houses-to-rent                             brazilian_houses_to_rent                            282KB  2020-03-25 22:51:17           1762

In [15]:
!kaggle datasets download -d selfishgene/historical-hourly-weather-data
!ls

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading historical-hourly-weather-data.zip to /content
 75% 9.00M/12.0M [00:00<00:00, 23.8MB/s]
100% 12.0M/12.0M [00:00<00:00, 30.3MB/s]
airports.csv  historical-hourly-weather-data.zip  sample_data
drive	      kaggle.json

In [16]:
import pandas as pd
!pip install pyunpack
from pyunpack import Archive
Archive('historical-hourly-weather-data.zip').extractall('/content')

Collecting pyunpack
  Downloading https://files.pythonhosted.org/packages/79/dc/44cd41fb99d184ae7c2eac439a52ca624d5ece62b0302c3437fcc4ce3b58/pyunpack-0.1.2.tar.gz
Collecting easyprocess
  Downloading https://files.pythonhosted.org/packages/32/8f/88d636f1da22a3c573259e44cfefb46a117d3f9432e2c98b1ab4a21372ad/EasyProcess-0.2.10-py2.py3-none-any.whl
Building wheels for collected packages: pyunpack
  Building wheel for pyunpack (setup.py) ... done
  Created wheel for pyunpack: filename=pyunpack-0.1.2-cp36-none-any.whl size=5163 sha256=6dfdb15391b1802cef93fd1026c2ab8ba3e81cc2446adab2e0d90ca3a1212e68
  Stored in directory: /root/.cache/pip/wheels/af/44/08/60613970881e542c0baad1f2dea5ed8e6716bc573f49197b7e
Successfully built pyunpack
Installing collected packages: easyprocess, pyunpack
Successfully installed easyprocess-0.2.10 pyunpack-0.1.2

In [17]:
!ls

airports.csv			    humidity.csv  temperature.csv
city_attributes.csv		    kaggle.json   weather_description.csv
drive				    pressure.csv  wind_direction.csv
historical-hourly-weather-data.zip  sample_data   wind_speed.csv

In [18]:
temperature=pd.read_csv("temperature.csv")
temperature

                  datetime   Vancouver    Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00         NaN         NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00  284.630000  282.080000  ...  304.4      304.4      303.5
2      2012-10-01 14:00:00  284.629041  282.083252  ...  304.4      304.4      303.5
3      2012-10-01 15:00:00  284.626998  282.091866  ...  304.4      304.4      303.5
4      2012-10-01 16:00:00  284.624955  282.100481  ...  304.4      304.4      303.5
...                    ...         ...         ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00         NaN  282.000000  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00         NaN  282.890000  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00         NaN  283.390000  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00         NaN  283.020000  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00         NaN  282.280000  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [19]:
import pandas as pd
humidity=pd.read_csv("humidity.csv")
humidity

                  datetime  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00       76.0      81.0  ...   51.0       51.0       50.0
2      2012-10-01 14:00:00       76.0      80.0  ...   51.0       51.0       50.0
3      2012-10-01 15:00:00       76.0      80.0  ...   51.0       51.0       50.0
4      2012-10-01 16:00:00       77.0      80.0  ...   51.0       51.0       50.0
...                    ...        ...       ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00        NaN      81.0  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN      71.0  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN      71.0  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN      71.0  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN      76.0  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [20]:
import pandas as pd
wind_speed=pd.read_csv("wind_speed.csv")
wind_speed

                  datetime  Vancouver  Portland  ...  Haifa  Nahariyya  Jerusalem
0      2012-10-01 12:00:00        NaN       NaN  ...    NaN        NaN        NaN
1      2012-10-01 13:00:00        0.0       0.0  ...    2.0        2.0        2.0
2      2012-10-01 14:00:00        0.0       0.0  ...    2.0        2.0        2.0
3      2012-10-01 15:00:00        0.0       0.0  ...    2.0        2.0        2.0
4      2012-10-01 16:00:00        0.0       0.0  ...    2.0        2.0        2.0
...                    ...        ...       ...  ...    ...        ...        ...
45248  2017-11-29 20:00:00        NaN       2.0  ...    NaN        NaN        NaN
45249  2017-11-29 21:00:00        NaN       1.0  ...    NaN        NaN        NaN
45250  2017-11-29 22:00:00        NaN       1.0  ...    NaN        NaN        NaN
45251  2017-11-29 23:00:00        NaN       2.0  ...    NaN        NaN        NaN
45252  2017-11-30 00:00:00        NaN       1.0  ...    NaN        NaN        NaN

[45253 rows x 37 columns]

In [21]:
tempdata = pd.merge(left=data,right=temperature, how='inner', left_on='datetime', right_on='datetime')
tempdata

         level_0    index  YEAR  ...       Haifa   Nahariyya   Jerusalem
0              0        0  2015  ...  288.429000  280.929000  280.774667
1             34    13863  2015  ...  288.429000  280.929000  280.774667
2             35    13880  2015  ...  288.429000  280.929000  280.774667
3             36    13886  2015  ...  288.429000  280.929000  280.774667
4          17558    13706  2015  ...  288.429000  280.929000  280.774667
...          ...      ...   ...  ...         ...         ...         ...
5703276  1808350  4826810  2015  ...  295.150000  295.150000  291.150000
5703277  3520164   603689  2015  ...  289.516000  284.991000  282.453500
5703278  3601059   351232  2015  ...  286.294000  278.344000  280.711000
5703279  4025090  4418908  2015  ...  303.150000  300.486000  299.710000
5703280  5200527  1532946  2015  ...  291.715333  291.715333  287.415333

[5703281 rows x 79 columns]

In [22]:
tempcols=temperature.columns.drop('datetime')
tempcols

Index(['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles',
       'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver',
       'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis',
       'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta',
       'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh',
       'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston',
       'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem'],
      dtype='object')

In [23]:
def city_values(city):
  tempdata[city]=[0 if x['city']!=city else x[city] for i,x in tempdata.iterrows()]
def iter_cities():
  for city in tempcols:
    city_values(city)
iter_cities()
tempdata

KeyboardInterrupt: ignored